# Generating Data from Descriptions

Learn how to generate machine learning datasets based on natural language descriptions. This notebook walks you through defining data structures, generating professional specifications, and creating datasets optimized for training machine learning models using DataWizzAI.

# Initial Setup Guide

## Import Required Packages

In [1]:
# First, import all the necessary packages.
from langchain_openai import ChatOpenAI
from src.DataGenerationPipeline import DataGenerationPipeline
from src.Pipeline import Pipeline

In [2]:
## Load Environment Variables

from dotenv import load_dotenv, find_dotenv
_ = load_dotenv(find_dotenv())

## Initialize the Language Model

In [3]:
# Please make sure OPENAI_API_KEY is loaded to your environment variables
# Initialize language model
llm = ChatOpenAI(temperature=0.9, model="gpt-3.5-turbo")

# Defining a Data Structure - DescriptionToMLDataset

Describe the required data structure:

In [4]:
# Define the required data structure and view the result structure
dataStructureDescription = "Generate a machine learning dataset for predicting suspicious AML transactions based on features like customer characteristics, transaction characteristics, location, and transactions history characteristics."

Initialize the DataGenerationPipeline object, and run the extract_sample_data method for viewing a sample of the created data, mainly to make sure you got the desired data structure. 

Pass the desired pipelineName (e.g. DataGenerationPipelineObj.Pipeline.ExamplesDataframeToTabular) or let the flow recognize it automatically from your task description.
 
These are the supported pipelines:
- DescriptionToMLDataset 
- DescriptionToDB 
- SQLToTabular 
- DescriptionToUnstructured 
- ExamplesDataframeToTabular 
- APISpecificationToData 
- UNKNOWN

The output_format for the output data sample can be 0- for a string, 1- for a json object, or 3 for a pandas dataframe

In [5]:
DataGenerationPipelineObj = DataGenerationPipeline(llm = llm)

# Initialize a DataGenerationPipelineObj for the task of defining ML dataset from textual description
pipeline_name = Pipeline.DescriptionToMLDataset
sample_data = DataGenerationPipelineObj.extract_sample_data( description=dataStructureDescription, outputFormat=2 , pipelineName=pipeline_name)
print(sample_data)

{'AML_dataset':   customer_id  age  gender income_level transaction_id  transaction_amount  \
0        C001   35    Male         High           T001                5000
1        C002   45  Female       Medium           T002                2000
2        C003   50    Male          Low           T003               10000
3        C004   30  Female         High           T004                3000
4        C005   55    Male       Medium           T005                1500
5        C006   40  Female          Low           T006                7000
6        C007   25    Male         High           T007                4000
7        C008   60  Female       Medium           T008                2500
8        C009   35    Male          Low           T009                6000
9        C010   50  Female         High           T010                3500

      transaction_type       location transaction_date  previous_transactions  \
0        Wire Transfer       New York       2022-01-15                     10
1        Check Deposit    Los Angeles       2022-02-10                      5
2      Cash Withdrawal        Chicago       2022-03-05                     20
3  Credit Card Payment          Miami       2022-04-20                     15
4       ATM Withdrawal  San Francisco       2022-05-15                      8
5        Wire Transfer        Seattle       2022-06-10                     12
6        Check Deposit         Dallas       2022-07-05                      7
7      Cash Withdrawal         Boston       2022-08-20                     18
8  Credit Card Payment        Atlanta       2022-09-15                      9
9       ATM Withdrawal        Houston       2022-10-10                     14

   suspicious
0       False
1        True
2        True
3       False
4        True
5       False
6       False
7        True
8       False
9        True  }

# Generating Data

To generate the full dataset, use the generate_data method. Specify your query (if any), optionaly the region and language, and the number of records you wish to generate.

The method can either run synchronically (run_in_parallel=False) or asynchronically (run_in_parallel=True)

The desired number of records should be passed using the num_records parameter, unless you are generating a relational DB with the DescriptionToDB pipeline, in this case, you'll need to pass a dictionary with table sizes to the examples_dataframe_dict parameter, e.g. {'users':50, 'transactions':'100'}

In [6]:
# You can view a sample of the generated data:
generated_data = DataGenerationPipelineObj.generate_data(num_records = 30, run_in_parallel=False, output_format=2)
generated_data

{'AML_dataset':    customer_id  age  gender income_level transaction_id  transaction_amount  \
 0         C011   28    Male         High           T011                4800
 1         C012   42  Female       Medium           T012                2100
 2         C013   47    Male          Low           T013                9800
 3         C014   33  Female         High           T014                3200
 4         C015   52    Male       Medium           T015                1650
 5         C016   36  Female          Low           T016                7200
 6         C017   23    Male         High           T017                4300
 7         C018   58  Female       Medium           T018                2900
 8         C019   31    Male          Low           T019                6200
 9         C020   48  Female         High           T020                3700
 10        C021   29    Male         High           T021                5100
 11        C022   44  Female       Medium           T022                1900
 12        C023   49    Male          Low           T023                9600
 13        C024   34  Female         High           T024                3300
 14        C025   53    Male       Medium           T025                1750
 15        C026   38  Female          Low           T026                6800
 16        C027   24    Male         High           T027                4100
 17        C028   59  Female       Medium           T028                2700
 18        C029   32    Male          Low           T029                6300
 19        C030   49  Female         High           T030                3600
 20        C031   27    Male         High           T031                5200
 21        C032   42  Female       Medium           T032                1950
 22        C033   47    Male          Low           T033                9800
 23        C034   32  Female         High           T034                3200
 24        C035   51    Male       Medium           T035                1800
 25        C036   36  Female          Low           T036                6900
 26        C037   21    Male         High           T037                4100
 27        C038   56  Female       Medium           T038                2800
 28        C039   31    Male          Low           T039                6400
 29        C040   46  Female         High           T040                3700

        transaction_type        location transaction_date  \
 0         Wire Transfer          Denver       2022-11-05
 1         Check Deposit         Phoenix       2022-12-20
 2       Cash Withdrawal         Detroit       2023-01-15
 3   Credit Card Payment        Portland       2023-02-10
 4        ATM Withdrawal       Las Vegas       2023-03-05
 5         Wire Transfer     Minneapolis       2023-04-20
 6         Check Deposit  Salt Lake City       2023-05-15
 7       Cash Withdrawal    Philadelphia       2023-06-10
 8   Credit Card Payment       Charlotte       2023-07-05
 9        ATM Withdrawal         Orlando       2023-08-20
 10        Wire Transfer          Austin       2023-09-15
 11        Check Deposit       San Diego       2023-10-10
 12      Cash Withdrawal       Nashville       2023-11-05
 13  Credit Card Payment     New Orleans       2023-12-20
 14       ATM Withdrawal     Kansas City       2024-01-15
 15        Wire Transfer         Houston       2024-02-10
 16        Check Deposit           Miami       2024-03-05
 17      Cash Withdrawal         Chicago       2024-04-20
 18  Credit Card Payment          Boston       2024-05-15
 19       ATM Withdrawal         Seattle       2024-06-10
 20        Check Deposit          Denver       2025-01-15
 21        Wire Transfer        Portland       2025-02-10
 22      Cash Withdrawal         Phoenix       2025-03-05
 23  Credit Card Payment       Las Vegas       2025-04-20
 24       ATM Withdrawal         Orlando       2025-05-15
 25        Wire Transfer    Philadelphia       2025-06-10
 26        Check Deposit         Detroit       2025-07-05
 27      Cash Withdrawal       Charlotte       2025-08-20
 28  Credit Card Payment     San Antonio       2025-09-15
 29       ATM Withdrawal     Minneapolis       2025-10-10

     previous_transactions  suspicious
 0                      12       False
 1                       6        True
 2                      22        True
 3                      17       False
 4                       9        True
 5                      13       False
 6                       8       False
 7                      20        True
 8                      10       False
 9                      15        True
 10                     11       False
 11                      4        True
 12                     21        True
 13                     16       False
 14                     10        True
 15                     11       False
 16                      6       False
 17                     19        True
 18                     11       False
 19                     16        True
 20                     12        True
 21                      6       False
 22                     22        True
 23                     17       False
 24                     11        True
 25                     13       False
 26                      8       False
 27                     20        True
 28                     10       False
 29                     15        True  }

For more efficient data generation, especially when dealing with large datasets or multiple requests, our package supports parallel processing. This section covers how to utilize the generate_data_in_parallel method of the DataAugmentor class to generate your dataset asynchronously.

### Setup for Parallel Execution

To ensure smooth parallel execution, especially within environments that don't natively support asynchronous operations (like Jupyter notebooks), we use nest_asyncio. This module allows asyncio to run inside environments with their own event loops.

In [7]:
import nest_asyncio
nest_asyncio.apply()

### Generate Full Output in Parallel

To generate data in parallel, set the run_in_parallel parameter to True. This method allows you to specify the query (if any), the number of records, region, and language, similarly to generate_data, but executes multiple data generation tasks concurrently.

In [8]:

generated_data = DataGenerationPipelineObj.generate_data(num_records = 30, run_in_parallel=True, output_format=2)
print(generated_data)

{'AML_dataset':    customer_id  age  gender income_level transaction_id  transaction_amount  \
0         C011   28    Male       Medium           T011                1800
1         C012   48  Female          Low           T012                9000
2         C013   42    Male         High           T013                3200
3         C014   33  Female       Medium           T014                2500
4         C015   58    Male          Low           T015                7000
5         C016   38  Female         High           T016                4300
6         C017   23    Male       Medium           T017                1500
7         C018   63  Female          Low           T018                6200
8         C019   32    Male         High           T019                3600
9         C020   53  Female       Medium           T020                2800
10        C011   28    Male          Low           T011                4500
11        C012   42  Female         High           T012                2800
12        C013   32    Male       Medium           T013                7000
13        C014   47  Female          Low           T014               12000
14        C015   38    Male         High           T015                3400
15        C016   55  Female       Medium           T016                2200
16        C017   30    Male         High           T017                3900
17        C018   61  Female          Low           T018                4100
18        C019   25    Male       Medium           T019                6900
19        C020   52  Female         High           T020                3200
20        C011   28    Male       Medium           T011                1800
21        C012   42  Female          Low           T012                7200
22        C013   55    Male         High           T013                2500
23        C014   38    Male          Low           T014                4800
24        C015   48  Female         High           T015                3200
25        C016   33    Male       Medium           T016                2300
26        C017   46  Female          Low           T017                7900
27        C018   31    Male         High           T018                3600
28        C019   58  Female       Medium           T019                2700
29        C020   26    Male          Low           T020                5800

       transaction_type         location transaction_date  \
0         Wire Transfer          Phoenix       2022-11-05
1         Check Deposit           Denver       2022-12-20
2       Cash Withdrawal        Las Vegas       2023-01-15
3   Credit Card Payment         Portland       2023-02-10
4        ATM Withdrawal          Detroit       2023-03-05
5         Wire Transfer      Minneapolis       2023-04-20
6         Check Deposit     Philadelphia       2023-05-15
7       Cash Withdrawal          Orlando       2023-06-10
8   Credit Card Payment        Charlotte       2023-07-05
9        ATM Withdrawal  Washington D.C.       2023-08-20
10        Wire Transfer           Denver       2022-11-05
11        Check Deposit          Phoenix       2022-12-20
12      Cash Withdrawal        Las Vegas       2023-01-15
13  Credit Card Payment          Orlando       2023-02-10
14       ATM Withdrawal        San Diego       2023-03-05
15        Wire Transfer         Portland       2023-04-20
16        Check Deposit     Philadelphia       2023-05-15
17      Cash Withdrawal           Austin       2023-06-10
18  Credit Card Payment        Nashville       2023-07-05
19       ATM Withdrawal          Detroit       2023-08-20
20        Wire Transfer           Denver       2022-11-05
21        Check Deposit          Phoenix       2022-12-20
22      Cash Withdrawal         Portland       2023-01-15
23  Credit Card Payment        Las Vegas       2023-02-10
24       ATM Withdrawal          Orlando       2023-03-05
25        Wire Transfer        San Diego       2023-04-20
26        Check Deposit          Detroit       2023-05-15
27      Cash Withdrawal     Philadelphia       2023-06-10
28  Credit Card Payment           Austin       2023-07-05
29       ATM Withdrawal      Minneapolis       2023-08-20

    previous_transactions  suspicious
0                       6        True
1                      22       False
2                      11       False
3                      16        True
4                      13        True
5                      17       False
6                       9       False
7                      23        True
8                      12       False
9                      19        True
10                     11        True
11                     16       False
12                     21        True
13                     13        True
14                      6       False
15                     15        True
16                      8       False
17                     17        True
18                      9       False
19                     14        True
20                      6        True
21                     13       False
22                     11       False
23                     16        True
24                     21       False
25                      9        True
26                     14        True
27                     17       False
28                     10       False
29                     12        True  }

## Optional: query/filter the data structure to control the generated content

First update the earlier defined data structure by calling query_sample_data with the details of the query, and check a sample of the updated structure:

In [9]:
# You can also add queries and filters to guide the generated contents:
region = 'France'
language = 'French'
query = "Only 40 years old customers or older."

sample_data = DataGenerationPipelineObj.query_sample_data(query=query, region=region, language=language, outputFormat=2 )

print(sample_data)

{'AML_dataset':   customer_id  age  gender income_level transaction_id  transaction_amount  \
0        C011   55    Male       Medium           T011                1200
1        C012   45  Female          Low           T012                6500
2        C013   60    Male         High           T013                3000

     transaction_type   location transaction_date  previous_transactions  \
0  Retrait en espèces      Paris       2022-01-05                     11
1   Virement bancaire       Lyon       2022-02-15                      6
2    Dépôt par chèque  Marseille       2022-03-25                     21

   suspicious
0        True
1       False
2       False  }

Then call the generate_data method. Specify your query (if any), optionally the region and language, and the number of records you wish to generate.

In [10]:
nest_asyncio.apply()
generated_data = DataGenerationPipelineObj.generate_data(num_records = 30, run_in_parallel=True, output_format=2, query=query, region=region, language=language)
print(generated_data)

{'AML_dataset':    customer_id  age  gender income_level transaction_id  transaction_amount  \
0         C021   42  Female          Low           T021                1800
1         C022   48    Male       Medium           T022                5000
2         C023   55  Female         High           T023                2500
3         C024   47    Male       Medium           T024                4200
4         C025   59  Female         High           T025                3700
5         C026   41    Male          Low           T026                2800
6         C027   50  Female       Medium           T027                1500
7         C028   44    Male          Low           T028                4300
8         C029   57  Female         High           T029                3200
9         C030   46    Male       Medium           T030                6800
10        C021   48  Female       Medium           T021                1800
11        C022   52    Male         High           T022                5000
12        C023   65  Female          Low           T023                2500
13        C024   44    Male       Medium           T024                3000
14        C025   57  Female         High           T025                7000
15        C026   42    Male          Low           T026                1500
16        C027   50  Female       Medium           T027                2000
17        C028   47    Male         High           T028                5500
18        C029   53  Female          Low           T029                2700
19        C030   49    Male       Medium           T030                3200
20        C021   48  Female       Medium           T021                1800
21        C022   42    Male          Low           T022                5400
22        C023   55  Female         High           T023                2500
23        C024   47    Male       Medium           T024                1400
24        C025   52  Female          Low           T025                6700
25        C026   43    Male         High           T026                3200
26        C027   49  Female       Medium           T027                1900
27        C028   44    Male          Low           T028                5800
28        C029   56  Female         High           T029                2700
29        C030   46    Male       Medium           T030                1600

      transaction_type     location transaction_date  previous_transactions  \
0   Retrait en espèces        Paris       2022-04-10                      8
1    Virement bancaire         Nice       2022-05-20                     15
2     Dépôt par chèque     Toulouse       2022-06-30                     27
3   Retrait en espèces        Paris       2022-07-15                     12
4    Virement bancaire         Lyon       2022-08-25                     19
5     Dépôt par chèque    Marseille       2022-09-05                      7
6   Retrait en espèces         Nice       2022-10-10                     17
7    Virement bancaire        Paris       2022-11-20                     14
8     Dépôt par chèque         Lyon       2022-12-30                     23
9   Retrait en espèces    Marseille       2023-01-05                     18
10  Retrait en espèces     Toulouse       2022-04-10                     14
11   Virement bancaire         Nice       2022-05-20                     18
12    Dépôt par chèque     Bordeaux       2022-06-30                      9
13  Retrait en espèces        Lille       2022-07-15                     12
14   Virement bancaire   Strasbourg       2022-08-25                     16
15    Dépôt par chèque  Montpellier       2022-09-05                      8
16  Retrait en espèces       Nantes       2022-10-10                     13
17   Virement bancaire       Rennes       2022-11-20                     17
18    Dépôt par chèque        Dijon       2022-12-30                     10
19  Retrait en espèces     Grenoble       2023-01-05                     15
20  Retrait en espèces         Nice       2022-04-10                      9
21   Virement bancaire     Toulouse       2022-05-20                     14
22    Dépôt par chèque     Bordeaux       2022-06-30                     17
23  Retrait en espèces        Paris       2022-07-15                     12
24   Virement bancaire    Marseille       2022-08-25                      8
25    Dépôt par chèque         Lyon       2022-09-05                     19
26  Retrait en espèces         Nice       2022-10-10                     10
27   Virement bancaire     Toulouse       2022-11-20                     15
28    Dépôt par chèque     Bordeaux       2022-12-30                     18
29  Retrait en espèces        Paris       2023-01-15                     13

    suspicious
0         True
1        False
2        False
3         True
4        False
5        False
6         True
7        False
8        False
9         True
10        True
11       False
12       False
13        True
14       False
15       False
16        True
17       False
18       False
19        True
20        True
21       False
22       False
23        True
24       False
25       False
26        True
27       False
28       False
29        True  }

## Try additional examples:

### Generating data with SQL commands:

In [11]:
# Define the required data structure and view the result structure
dataStructureDescription = """\
CREATE TABLE Customers (\
    CustomerID INT PRIMARY KEY,\
    FirstName VARCHAR(50),\
    LastName VARCHAR(50),\
    Email VARCHAR(100),\
    JoinDate DATE\
);\
CREATE TABLE Orders (\
    OrderID INT PRIMARY KEY,\
    CustomerID INT,\
    OrderDate DATE,\
    ProductCategory VARCHAR(50),\
    ProductName VARCHAR(100),\
    Units INT,\
    TotalAmount DECIMAL(10, 2),\
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)\
);"""

In [12]:
DataGenerationPipelineObj = DataGenerationPipeline(llm = llm)

# Initialize a DataGenerationPipelineObj for the task of defining relational DB from SQL description
pipeline_name = Pipeline.SQLToTabular
sample_data = DataGenerationPipelineObj.extract_sample_data( description=dataStructureDescription, outputFormat=2 , pipelineName=pipeline_name)
print(sample_data)

{'Customers':    CustomerID FirstName LastName                      Email    JoinDate
0           1     Alice    Smith    alice.smith@example.com  2020-01-15
1           2       Bob  Johnson    bob.johnson@example.com  2019-08-20
2           3   Charlie    Brown  charlie.brown@example.com  2018-05-10
3           4     David      Lee      david.lee@example.com  2017-11-30
4           5      Emma   Garcia    emma.garcia@example.com  2016-03-25, 'Orders':    OrderID  CustomerID   OrderDate ProductCategory ProductName  Units  \
0        1           1  2021-05-20     Electronics  Smartphone      2
1        2           2  2021-04-10        Clothing       Shirt      3
2        3           3  2021-03-05           Books       Novel      1
3        4           4  2021-02-15      Home Decor    Curtains      4
4        5           5  2021-01-10          Beauty    Lipstick      1

   TotalAmount
0      1200.00
1        75.50
2        15.99
3        89.75
4        20.50  }

In [13]:
nest_asyncio.apply()

# You can view a sample of the generated data:
generated_data = DataGenerationPipelineObj.generate_data(num_records = 30, run_in_parallel=False, output_format=2)
generated_data

{'Customers':     CustomerID FirstName   LastName                        Email    JoinDate
 0            6    Sophia   Martinez  sophia.martinez@example.com  2019-12-05
 1            7     Ethan      Adams      ethan.adams@example.com  2018-06-18
 2            8     Grace     Morris     grace.morris@example.com  2017-04-20
 3            9     Isaac     Parker     isaac.parker@example.com  2016-10-30
 4           10      Lily      Evans       lily.evans@example.com  2015-09-15
 5           11    Olivia     Nguyen    olivia.nguyen@example.com  2019-10-10
 6           12     Mason     Taylor     mason.taylor@example.com  2018-02-28
 7           13       Ava       Wong         ava.wong@example.com  2017-06-15
 8           14    Elijah    Kennedy   elijah.kennedy@example.com  2016-08-20
 9           15  Scarlett     Fisher  scarlett.fisher@example.com  2015-04-05
 10          21    Sophia   Martinez  sophia.martinez@example.com  2020-02-28
 11          22      Liam      Adams       liam.adams@example.com  2019-09-25
 12          23      Aria     Gordon      aria.gordon@example.com  2018-04-12
 13          24     Ethan    Ramirez    ethan.ramirez@example.com  2017-12-20
 14          25      Luna     Foster      luna.foster@example.com  2016-01-15
 15          31    Oliver     Wright    oliver.wright@example.com  2020-05-18
 16          32       Mia      Baker        mia.baker@example.com  2019-12-22
 17          33    Elijah     Carter    elijah.carter@example.com  2018-06-30
 18          34      Nora      Hayes       nora.hayes@example.com  2017-10-05
 19          35     Isaac     Morgan     isaac.morgan@example.com  2016-07-12
 20          36    Sophia    Roberts   sophia.roberts@example.com  2020-03-12
 21          37     Ethan   Gonzalez   ethan.gonzalez@example.com  2019-09-25
 22          38       Ava  Hernandez    ava.hernandez@example.com  2018-04-05
 23          39     Logan      Adams      logan.adams@example.com  2017-12-25
 24          40       Zoe   Martinez     zoe.martinez@example.com  2016-01-30
 25          41    Oliver      Perez     oliver.perez@example.com  2020-04-25
 26          42      Luna      Evans       luna.evans@example.com  2019-10-30
 27          43      Jack     Nguyen      jack.nguyen@example.com  2018-06-15
 28          44       Mia      Lopez        mia.lopez@example.com  2017-12-01
 29          45     Lucas     Taylor     lucas.taylor@example.com  2016-06-10,
 'Orders':     OrderID  CustomerID   OrderDate   ProductCategory    ProductName  Units  \
 0         6           6  2021-08-25        Appliances   Coffee Maker      1
 1         7           7  2021-07-15            Sports       Football      2
 2         8           8  2021-06-10             Tools          Drill      1
 3         9           9  2021-05-05              Toys  Action Figure      3
 4        10          10  2021-04-20           Jewelry       Necklace      1
 5        11          11  2021-09-15         Furniture           Sofa      2
 6        12          12  2021-08-10            Garden      Patio Set      1
 7        13          13  2021-07-05            Health       Vitamins      3
 8        14          14  2021-06-25       Electronics    Smart Watch      1
 9        15          15  2021-05-20          Clothing          Dress      1
 10       21          21  2021-03-10              Toys       LEGO Set      3
 11       22          22  2021-02-05  Sports Equipment     Basketball      1
 12       23          23  2021-01-20            Beauty        Perfume      1
 13       24          24  2021-10-15       Electronics     Headphones      2
 14       25          25  2021-09-10        Home Decor       Wall Art      1
 15       31          31  2021-08-10       Electronics     Smartwatch      2
 16       32          32  2021-07-05          Clothing          Dress      1
 17       33          33  2021-06-20        Home Decor            Rug      3
 18       34          34  2021-05-15             Books       Thriller      1
 19       35          35  2021-04-10            Beauty     Face Cream      2
 20       36          36  2021-11-20       Electronics         Laptop      1
 21       37          37  2021-10-15          Clothing          Jeans      2
 22       38          38  2021-09-10        Home Decor   Throw Pillow      1
 23       39          39  2021-08-05             Books        Romance      3
 24       40          40  2021-07-01            Beauty        Perfume      1
 25       41          41  2021-09-20       Electronics     Smartwatch      1
 26       42          42  2021-08-10          Clothing          Dress      2
 27       43          43  2021-07-05             Books       Thriller      1
 28       44          44  2021-06-15        Home Decor       Wall Art      3
 29       45          45  2021-05-10            Beauty   Skincare Set      1

     TotalAmount
 0         45.99
 1         29.99
 2         79.95
 3         39.99
 4         65.50
 5        899.99
 6        450.50
 7         35.99
 8        149.75
 9         65.25
 10        85.99
 11        29.50
 12        55.75
 13        99.99
 14        45.25
 15       199.99
 16        49.99
 17       120.75
 18        14.50
 19        35.75
 20       899.99
 21        59.99
 22        19.75
 23        25.50
 24        45.99
 25       199.99
 26        49.50
 27        12.99
 28        69.75
 29        35.50  }

### Generating unstructured data

In [14]:
# Define the required data structure and view the result structure
dataStructureDescription = \
"Generate a collection of news articles about recent technological advancements in renewable energy."

In [15]:
DataGenerationPipelineObj = DataGenerationPipeline(llm = llm)

# Initialize a DataGenerationPipelineObj for the task of defining unstructured data from textual description
pipeline_name = Pipeline.DescriptionToUnstructured
sample_data = DataGenerationPipelineObj.extract_sample_data( description=dataStructureDescription, outputFormat=2 , pipelineName=pipeline_name)
print(sample_data)

{'news_articles':                                                title  \
0  New Solar Panel Design Increases Efficiency by...
1  Wind Turbines Now Produce More Energy with Les...
2  Breakthrough in Energy Storage Allows for Long...
3  New Hydroelectric Plant Generates Power withou...
4  Smart Grid Technology Optimizes Energy Distrib...
5       AI Algorithms Improve Solar Panel Efficiency
6       Advancements in Geothermal Energy Extraction
7  New Wave Energy Converter Technology Shows Pro...
8  Biodegradable Solar Panels Offer Sustainable E...
9  Hybrid Solar-Wind Farms Provide 24/7 Renewable...

                                             content
0  A team of researchers has developed a new sola...
1  Recent advancements in wind turbine technology...
2  A breakthrough in energy storage technology ha...
3  A new hydroelectric plant has been developed t...
4  The implementation of smart grid technology ha...
5  Artificial intelligence algorithms have been u...
6  Recent advancements in geothermal energy extra...
7  Innovative wave energy converter technology ha...
8  Biodegradable solar panels have been developed...
9  Hybrid solar-wind farms are now able to provid...  }

In [16]:
nest_asyncio.apply()

# You can view a sample of the generated data:
generated_data = DataGenerationPipelineObj.generate_data(num_records = 30, run_in_parallel=False, output_format=2)
generated_data

{'news_articles':                                                 title  \
 0      New Geothermal Technology Reduces Energy Costs
 1   Innovative Microgrid System Enhances Energy Re...
 2   Bioinspired Wind Turbine Design Improves Effic...
 3   Solar-Powered Desalination Plant Provides Clea...
 4   Advanced Energy Storage System Boosts Grid Sta...
 5   Next-Gen Tidal Energy Technology Harnesses Sea...
 6   Carbon-Negative Bioenergy Solution Fights Clim...
 7   Renewable Energy Microgrids Empower Off-Grid C...
 8   Efficient Solar-Powered Water Purification Sys...
 9   Novel Biomass Conversion Technology Transforms...
 10  Revolutionary Solar Paint Enhances Energy Abso...
 11    New Wind Farm Design Boosts Turbine Performance
 12  Breakthrough in Battery Technology Improves St...
 13  Innovative Hydropower System Harnesses River E...
 14  Smart Energy Management System Optimizes Power...
 15  AI-Driven Solar Tracking Technology Boosts Pan...
 16  Geothermal Heat Pump Innovation Reduces Heatin...
 17  Wave Energy Converter Breakthrough Opens New P...
 18  Biocompatible Solar Panels Offer Eco-Friendly ...
 19  Innovative Solar-Wind Hybrid System Ensures Co...
 20  Novel Solar Energy Storage System Increases Ef...
 21  Next-Generation Wind Turbines Set New Efficien...
 22  Breakthrough in Tidal Energy Generation Reduce...
 23  Innovative Bioenergy System Transforms Organic...
 24  Smart Microgrid Technology Enhances Energy Dis...
 25  AI-Integrated Solar Panel System Improves Ener...
 26  Innovative Biomass Conversion Process Enables ...
 27  Cutting-Edge Ocean Energy Converter Technology...
 28  Eco-Friendly Solar Roof Tiles Revolutionize Re...
 29  Hybrid Energy Farm Integration Enhances Power ...

                                               content
 0   Cutting-edge geothermal technology has been de...
 1   An innovative microgrid system has been implem...
 2   A bioinspired design for wind turbines has bee...
 3   A solar-powered desalination plant has been es...
 4   An advanced energy storage system has been int...
 5   Next-generation tidal energy technology has be...
 6   A carbon-negative bioenergy solution has been ...
 7   Renewable energy microgrids are empowering off...
 8   An efficient solar-powered water purification ...
 9   A novel biomass conversion technology has revo...
 10  A groundbreaking solar paint has been develope...
 11  An advanced wind farm design has been introduc...
 12  A significant breakthrough in battery technolo...
 13  An innovative hydropower system has been devel...
 14  The implementation of a smart energy managemen...
 15  AI-driven solar tracking technology has been i...
 16  An innovative geothermal heat pump has been de...
 17  A breakthrough in wave energy converter techno...
 18  Biocompatible solar panels have been engineere...
 19  An innovative solar-wind hybrid system ensures...
 20  A team of scientists has developed a novel sol...
 21  The latest advancements in wind turbine techno...
 22  A groundbreaking breakthrough in tidal energy ...
 23  An innovative bioenergy system has been develo...
 24  The implementation of smart microgrid technolo...
 25  An AI-integrated solar panel system has been i...
 26  An innovative biomass conversion process has e...
 27  Cutting-edge ocean energy converter technology...
 28  Eco-friendly solar roof tiles have revolutioni...
 29  Integration of hybrid energy farms has enhance...  }

### Generating API calls and outputs

In [30]:
# Define the required data structure and view the result structure
dataStructureDescription = \
"Google Maps API - Nearby places of interest (e.g., restaurants, hotels)."

In [32]:
DataGenerationPipelineObj = DataGenerationPipeline(llm = llm)

# Initialize a DataGenerationPipelineObj for the task of generating data that fits API calls and outputs
pipeline_name = Pipeline.APISpecificationToData
sample_data = DataGenerationPipelineObj.extract_sample_data( description=dataStructureDescription, outputFormat=1 , pipelineName=pipeline_name)
print(sample_data)

{'Google Maps API': [{'input': {'location': '-33.8670522,151.1957362', 'radius': 500, 'type': 'restaurant'}, 'output': {'results': [{'name': 'Cafe One'}, {'name': 'Pizza Palace'}, {'name': 'Burger Joint'}]}}, {'input': {'location': '-33.8670522,151.1957362', 'radius': 1000, 'type': 'hotel'}, 'output': {'results': [{'name': 'Ocean View Hotel'}, {'name': 'City Center Inn'}, {'name': 'Grand Hotel'}]}}, {'input': {'location': '-33.8670522,151.1957362', 'radius': 1500, 'type': 'cafe'}, 'output': {'results': [{'name': 'Coffee House'}, {'name': 'Cafe Delight'}, {'name': 'Brewery Cafe'}]}}]}

In [33]:
nest_asyncio.apply()

# You can view a sample of the generated data:
generated_data = DataGenerationPipelineObj.generate_data(num_records = 30, run_in_parallel=False, output_format=1)

In [34]:
generated_data

{'Google Maps API': [{'input': {'location': '-33.8670522,151.1957362',
    'radius': 500,
    'type': 'restaurant'},
   'output': {'results': [{'name': 'Sushi Spot'},
     {'name': 'Taco Time'},
     {'name': 'Noodle House'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1000,
    'type': 'hotel'},
   'output': {'results': [{'name': 'Seaside Resort'},
     {'name': 'Mountainview Lodge'},
     {'name': 'Lakeside Inn'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1500,
    'type': 'cafe'},
   'output': {'results': [{'name': 'Espresso Bar'},
     {'name': 'Tea Time Cafe'},
     {'name': 'Pastry Palace'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 500,
    'type': 'restaurant'},
   'output': {'results': [{'name': 'BBQ Pit'},
     {'name': 'Fish House'},
     {'name': 'Mediterranean Grill'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1000,
    'type': 'hotel'},
   'output': {'results': [{'name': 'Sunset Inn'},
     {'name': 'Harbor View Hotel'},
     {'name': 'Riverside Lodge'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1500,
    'type': 'cafe'},
   'output': {'results': [{'name': 'Artisan Cafe'},
     {'name': 'Smoothie Bar'},
     {'name': 'French Bakery'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 500,
    'type': 'restaurant'},
   'output': {'results': [{'name': 'Smokehouse BBQ'},
     {'name': 'Taco Town'},
     {'name': 'Sushi Fusion'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1000,
    'type': 'hotel'},
   'output': {'results': [{'name': 'Mountain Chalet'},
     {'name': 'Lakeside Resort'},
     {'name': 'Parkview Hotel'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1500,
    'type': 'cafe'},
   'output': {'results': [{'name': 'Tea House'},
     {'name': 'Garden Cafe'},
     {'name': 'Wholesome Bakery'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 500,
    'type': 'restaurant'},
   'output': {'results': [{'name': 'Mediterranean Bistro'},
     {'name': 'Taste of India'},
     {'name': 'BBQ Grill House'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1000,
    'type': 'hotel'},
   'output': {'results': [{'name': 'Seaside Lodge'},
     {'name': 'Harbor View Inn'},
     {'name': 'Sunset Resort'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1500,
    'type': 'cafe'},
   'output': {'results': [{'name': 'Artisanal Coffee Shop'},
     {'name': 'Organic Cafe'},
     {'name': 'Vintage Tea Room'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 500,
    'type': 'restaurant'},
   'output': {'results': [{'name': 'Sushi Haven'},
     {'name': 'Mexican Street Food'},
     {'name': 'Diner Delight'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1000,
    'type': 'hotel'},
   'output': {'results': [{'name': 'Mountain View Resort'},
     {'name': 'Lakeside Inn'},
     {'name': 'Luxury Retreat'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1500,
    'type': 'cafe'},
   'output': {'results': [{'name': 'Tea House Oasis'},
     {'name': 'Smoothie Spot'},
     {'name': 'Pastry Paradise'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 500,
    'type': 'restaurant'},
   'output': {'results': [{'name': 'BBQ Heaven'},
     {'name': 'Fish & Chips Joint'},
     {'name': 'Pasta Paradise'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1000,
    'type': 'hotel'},
   'output': {'results': [{'name': 'Sunset Lodge'},
     {'name': 'Harbor View Hotel'},
     {'name': 'Riverside Resort'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1500,
    'type': 'cafe'},
   'output': {'results': [{'name': 'Mocha Magic'},
     {'name': 'Bakery Bliss'},
     {'name': 'Chill Cafe'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 500,
    'type': 'restaurant'},
   'output': {'results': [{'name': 'Taco Tuesday'},
     {'name': 'Sushi Sensation'},
     {'name': 'Steakhouse Supreme'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1000,
    'type': 'hotel'},
   'output': {'results': [{'name': 'Mountain Retreat Inn'},
     {'name': 'Lakeside Resort'},
     {'name': 'Luxury Suites Hotel'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1500,
    'type': 'cafe'},
   'output': {'results': [{'name': 'Tea Time Cafe'},
     {'name': 'Artisanal Coffee Shop'},
     {'name': 'Smoothie Haven'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 500,
    'type': 'restaurant'},
   'output': {'results': [{'name': 'Pasta Paradise'},
     {'name': "Fish n' Chips Corner"},
     {'name': 'BBQ Grill House'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1000,
    'type': 'hotel'},
   'output': {'results': [{'name': 'Seaside Villa Hotel'},
     {'name': 'Downtown Suites'},
     {'name': 'Harbor View Inn'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1500,
    'type': 'cafe'},
   'output': {'results': [{'name': 'Muffin Mania Cafe'},
     {'name': 'Croissant Corner'},
     {'name': 'Java Jolt Cafe'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 500,
    'type': 'restaurant'},
   'output': {'results': [{'name': 'Sushi Sensation'},
     {'name': 'Taco Truck Stop'},
     {'name': 'Diner Delight'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1000,
    'type': 'hotel'},
   'output': {'results': [{'name': 'Sunset Beach Hotel'},
     {'name': 'Mountain Retreat Inn'},
     {'name': 'Lakeside Lodge'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1500,
    'type': 'cafe'},
   'output': {'results': [{'name': 'Tea Time Cafe'},
     {'name': 'Smoothie Oasis'},
     {'name': 'Scone Haven'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 500,
    'type': 'restaurant'},
   'output': {'results': [{'name': 'BBQ Junction'},
     {'name': 'Pasta Paradise'},
     {'name': 'Vegetarian Delight'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1000,
    'type': 'hotel'},
   'output': {'results': [{'name': 'Sunrise Suites'},
     {'name': 'Harborview Hotel'},
     {'name': 'Luxury Inn'}]}},
  {'input': {'location': '-33.8670522,151.1957362',
    'radius': 1500,
    'type': 'cafe'},
   'output': {'results': [{'name': 'Morning Brew Cafe'},
     {'name': 'Croissant Corner'},
     {'name': 'Artisanal Coffee House'}]}}]}

### Generating relational DB data

In [35]:
# Define the required data structure and view the result structure
dataStructureDescription = \
"Create a database schema for a bookstore that includes tables for books, authors, and sales transactions."

In [36]:
DataGenerationPipelineObj = DataGenerationPipeline(llm = llm)

# Initialize a DataGenerationPipelineObj for the task of generating data that fits API calls and outputs
pipeline_name = Pipeline.DescriptionToDB
sample_data = DataGenerationPipelineObj.extract_sample_data( description=dataStructureDescription, outputFormat=2 , pipelineName=pipeline_name)
print(sample_data)

Specification's score: 90
Autocorrecting task specifications:
Specification's score: 100 ; The following errors were detected:
 []
{'Books':    book_id                                  title  author_id    genre  \
0        1                       The Great Gatsby          1  Fiction
1        2                  To Kill a Mockingbird          2  Classic
2        3  Harry Potter and the Sorcerer's Stone          3  Fantasy

  publication_date  price
0       1925-04-10   18.5
1       1960-07-11   22.3
2       1997-06-26   19.8  , 'Authors':    author_id          author_name nationality  birth_date
0          1  F. Scott Fitzgerald    American  1896-09-24
1          2           Harper Lee    American  1926-04-28
2          3         J.K. Rowling     British  1965-07-31, 'Sales Transactions':    transaction_id  book_id     transaction_date  customer_id  quantity_sold  \
0               1        1  2021-08-15 10:30:00        12345              5
1               2        2  2021-09-20 15:45:00        54321              4
2               3        3  2021-10-05 11:20:00        98765              2

   total_price
0         80.2
1         64.7
2         39.6  }

In [37]:
table = list(sample_data.keys())
tables_size_dict = {table[0]:30,table[1]:20,table[2]:50}
tables_size_dict

{'Books': 30, 'Authors': 20, 'Sales Transactions': 50}

In [24]:
nest_asyncio.apply()

# You can view a sample of the generated data:
generated_data = DataGenerationPipelineObj.generate_data(tables_size_dict = tables_size_dict, run_in_parallel=False, output_format=2)

Error during code extraction (trial 1): name 'pytz' is not defined
Error during auto correction ( trial 1): probabilities do not sum to 1
Error during auto correction ( trial 2): probabilities do not sum to 1
Error during auto correction ( trial 3): probabilities do not sum to 1
Error during auto correction ( trial 4): probabilities do not sum to 1
Error during auto correction ( trial 5): probabilities do not sum to 1
Reached maximum trials for autocorrection. Returning None.
Error during code extraction (trial 2): 'float' object cannot be interpreted as an integer
Error during auto correction ( trial 1): 'float' object cannot be interpreted as an integer
Error during auto correction ( trial 2): '(' was never closed (<string>, line 28)
Error during auto correction ( trial 3): '(' was never closed (<string>, line 28)
Error during auto correction ( trial 4): '(' was never closed (<string>, line 28)
Error during auto correction ( trial 5): '(' was never closed (<string>, line 28)
Reached maximum trials for autocorrection. Returning None.
Error during code extraction (trial 3): probabilities do not sum to 1
Error during auto correction ( trial 1): Invalid format for date 1640901600.0
Error during auto correction ( trial 2): Invalid format for date 1640901600.0
Error during auto correction ( trial 3): Invalid format for date 1640901600.0
Error during auto correction ( trial 4): Invalid format for date 1640901600.0
Error during auto correction ( trial 5): Invalid format for date 1640901600.0
Reached maximum trials for autocorrection. Returning None.

C:\Users\Sigal\PycharmProjects\DatawizzAI\.venv\Lib\site-packages\langchain_core\_api\deprecation.py:119: LangChainDeprecationWarning: The class `LLMChain` was deprecated in LangChain 0.1.17 and will be removed in 0.3.0. Use RunnableSequence, e.g., `prompt | llm` instead.
  warn_deprecated(

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Data description: None
Help me improve the quality and validity of the authors table. Ensure that the generated texts are distinct and varied, without repeating any names from previous requests, even across different sessions.
Do not return empty values unless you think the original value should be erased.; The transformation logic: Generate relevant and high quality unique, variable texts for free text fields: ['name'] Never override a value in a field from the following list: author_id. Reformat or correct any of the other numeric and datetime fields when needed (only change their values if mandatory for a valid record).; The output should be formatted as the input sample. The given source data is: "[{\"author_id\":1000,\"name\":\"\",\"nationality\":\"British\",\"birthdate\":\"1954-09-18\"},{\"author_id\":1001,\"name\":\"\",\"nationality\":\"American\",\"birthdate\":\"1952-06-12\"},{\"author_id\":1002,\"name\":\"\",\"nationality\":\"Canadian\",\"birthdate\":\"1957-12-16\"},{\"author_id\":1003,\"name\":\"\",\"nationality\":\"American\",\"birthdate\":\"1958-04-25\"},{\"author_id\":1004,\"name\":\"\",\"nationality\":\"Australian\",\"birthdate\":\"1954-12-31\"},{\"author_id\":1005,\"name\":\"\",\"nationality\":\"Australian\",\"birthdate\":\"1958-01-03\"},{\"author_id\":1006,\"name\":\"\",\"nationality\":\"Australian\",\"birthdate\":\"1955-03-17\"},{\"author_id\":1007,\"name\":\"\",\"nationality\":\"British\",\"birthdate\":\"1954-07-11\"},{\"author_id\":1008,\"name\":\"\",\"nationality\":\"British\",\"birthdate\":\"1956-08-20\"},{\"author_id\":1009,\"name\":\"\",\"nationality\":\"Australian\",\"birthdate\":\"1955-10-21\"}]"; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Data description: None
Help me improve the quality and validity of the authors table. Ensure that the generated texts are distinct and varied, without repeating any names from previous requests, even across different sessions.
Do not return empty values unless you think the original value should be erased.; The transformation logic: Generate relevant and high quality unique, variable texts for free text fields: ['name'] Never override a value in a field from the following list: author_id. Reformat or correct any of the other numeric and datetime fields when needed (only change their values if mandatory for a valid record).; The output should be formatted as the input sample. The given source data is: "[{\"author_id\":1010,\"name\":\"\",\"nationality\":\"American\",\"birthdate\":\"1952-02-15\"},{\"author_id\":1011,\"name\":\"\",\"nationality\":\"Canadian\",\"birthdate\":\"1955-07-17\"},{\"author_id\":1012,\"name\":\"\",\"nationality\":\"Australian\",\"birthdate\":\"1953-08-13\"},{\"author_id\":1013,\"name\":\"\",\"nationality\":\"British\",\"birthdate\":\"1953-08-20\"},{\"author_id\":1014,\"name\":\"\",\"nationality\":\"Canadian\",\"birthdate\":\"1951-12-23\"},{\"author_id\":1015,\"name\":\"\",\"nationality\":\"British\",\"birthdate\":\"1959-05-22\"},{\"author_id\":1016,\"name\":\"\",\"nationality\":\"Canadian\",\"birthdate\":\"1957-01-29\"},{\"author_id\":1017,\"name\":\"\",\"nationality\":\"American\",\"birthdate\":\"1954-12-06\"},{\"author_id\":1018,\"name\":\"\",\"nationality\":\"British\",\"birthdate\":\"1955-02-16\"},{\"author_id\":1019,\"name\":\"\",\"nationality\":\"Canadian\",\"birthdate\":\"1955-07-13\"}]"; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Data description: None
Help me improve the quality and validity of the authors table. Ensure that the generated texts are distinct and varied, without repeating any names from previous requests, even across different sessions.
Do not return empty values unless you think the original value should be erased.; The transformation logic: Generate relevant and high quality unique, variable texts for free text fields: ['name'] Never override a value in a field from the following list: author_id. Reformat or correct any of the other numeric and datetime fields when needed (only change their values if mandatory for a valid record).; The output should be formatted as the input sample. The given source data is: "[{\"author_id\":1020,\"name\":\"\",\"nationality\":\"British\",\"birthdate\":\"1957-04-19\"},{\"author_id\":1021,\"name\":\"\",\"nationality\":\"Canadian\",\"birthdate\":\"1955-04-10\"},{\"author_id\":1022,\"name\":\"\",\"nationality\":\"Australian\",\"birthdate\":\"1954-09-14\"},{\"author_id\":1023,\"name\":\"\",\"nationality\":\"American\",\"birthdate\":\"1958-05-13\"},{\"author_id\":1024,\"name\":\"\",\"nationality\":\"Canadian\",\"birthdate\":\"1956-12-09\"},{\"author_id\":1025,\"name\":\"\",\"nationality\":\"American\",\"birthdate\":\"1958-03-18\"},{\"author_id\":1026,\"name\":\"\",\"nationality\":\"Australian\",\"birthdate\":\"1954-06-26\"},{\"author_id\":1027,\"name\":\"\",\"nationality\":\"Canadian\",\"birthdate\":\"1958-08-13\"},{\"author_id\":1028,\"name\":\"\",\"nationality\":\"Australian\",\"birthdate\":\"1956-10-12\"},{\"author_id\":1029,\"name\":\"\",\"nationality\":\"American\",\"birthdate\":\"1954-10-21\"}]"; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.
results:
    author_id                name nationality   birthdate
0        1000        Hannah Green     British  1954-09-18
1        1001        Nathan Evans    American  1952-06-12
2        1002     Olivia Thompson    Canadian  1957-12-16
3        1003        Ethan Parker    American  1958-04-25
4        1004        Sophie White  Australian  1954-12-31
5        1005         Liam Wilson  Australian  1958-01-03
6        1006     Isabella Harris  Australian  1955-03-17
7        1007           Mia Clark     British  1954-07-11
8        1008  Alexander Robinson     British  1956-08-20
9        1009        Emily Wright  Australian  1955-10-21
10       1010   Jennifer Williams    American  1952-02-15
11       1011    Michael Thompson    Canadian  1955-07-17
12       1012     Sophie Anderson  Australian  1953-08-13
13       1013       David Roberts     British  1953-08-20
14       1014       Emma Campbell    Canadian  1951-12-23
15       1015         Daniel Ward     British  1959-05-22
16       1016       Olivia Taylor    Canadian  1957-01-29
17       1017     Andrew Mitchell    American  1954-12-06
18       1018        Sophia Clark     British  1955-02-16
19       1019          Liam Evans    Canadian  1955-07-13
20       1020       Eleanor Smith     British  1957-04-19
21       1021       Nathan Miller    Canadian  1955-04-10
22       1022    Isabelle Jenkins  Australian  1954-09-14
23       1023     Olivia Martinez    American  1958-05-13
24       1024        Henry Cooper    Canadian  1956-12-09
25       1025        Sophia Adams    American  1958-03-18
26       1026       Liam Thompson  Australian  1954-06-26
27       1027         Aria Wilson    Canadian  1958-08-13
28       1028      Harper Roberts  Australian  1956-10-12
29       1029         James Brown    American  1954-10-21


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Data description: None
Help me improve the quality and validity of the books table. Ensure that the generated texts are distinct and varied, without repeating any names from previous requests, even across different sessions.
Do not return empty values unless you think the original value should be erased.; The transformation logic: Generate relevant and high quality unique, variable texts for free text fields: ['title'] Never override a value in a field from the following list: ['nationality', 'birthdate', 'book_id', 'name', 'author_id']. Reformat or correct any of the other numeric and datetime fields when needed (only change their values if mandatory for a valid record).; The output should be formatted as the input sample. The given source data is: "[{\"book_id\":1000,\"title\":\"\",\"author_id\":1015,\"genre\":\"Science Fiction\",\"publication_date\":\"2003-10-02\",\"price\":15.4160259738,\"name\":\"Daniel Ward\",\"nationality\":\"British\",\"birthdate\":\"1959-05-22\"},{\"book_id\":1001,\"title\":\"\",\"author_id\":1012,\"genre\":\"Romance\",\"publication_date\":\"2002-12-21\",\"price\":19.4038794981,\"name\":\"Sophie Anderson\",\"nationality\":\"Australian\",\"birthdate\":\"1953-08-13\"},{\"book_id\":1002,\"title\":\"\",\"author_id\":1020,\"genre\":\"Fiction\",\"publication_date\":\"2000-06-12\",\"price\":17.7686136,\"name\":\"Eleanor Smith\",\"nationality\":\"British\",\"birthdate\":\"1957-04-19\"},{\"book_id\":1003,\"title\":\"\",\"author_id\":1025,\"genre\":\"Science Fiction\",\"publication_date\":\"2002-03-10\",\"price\":10.0,\"name\":\"Sophia Adams\",\"nationality\":\"American\",\"birthdate\":\"1958-03-18\"},{\"book_id\":1004,\"title\":\"\",\"author_id\":1013,\"genre\":\"Science Fiction\",\"publication_date\":\"2003-08-08\",\"price\":20.0501888357,\"name\":\"David Roberts\",\"nationality\":\"British\",\"birthdate\":\"1953-08-20\"},{\"book_id\":1005,\"title\":\"\",\"author_id\":1001,\"genre\":\"Fiction\",\"publication_date\":\"2000-07-30\",\"price\":17.2088870656,\"name\":\"Nathan Evans\",\"nationality\":\"American\",\"birthdate\":\"1952-06-12\"},{\"book_id\":1006,\"title\":\"\",\"author_id\":1010,\"genre\":\"Science Fiction\",\"publication_date\":\"1999-07-23\",\"price\":22.4045282565,\"name\":\"Jennifer Williams\",\"nationality\":\"American\",\"birthdate\":\"1952-02-15\"},{\"book_id\":1007,\"title\":\"\",\"author_id\":1005,\"genre\":\"Non-Fiction\",\"publication_date\":\"1999-12-11\",\"price\":17.1292899424,\"name\":\"Liam Wilson\",\"nationality\":\"Australian\",\"birthdate\":\"1958-01-03\"},{\"book_id\":1008,\"title\":\"\",\"author_id\":1001,\"genre\":\"Fiction\",\"publication_date\":\"2001-01-02\",\"price\":18.7376620156,\"name\":\"Nathan Evans\",\"nationality\":\"American\",\"birthdate\":\"1952-06-12\"},{\"book_id\":1009,\"title\":\"\",\"author_id\":1029,\"genre\":\"Science Fiction\",\"publication_date\":\"2003-01-04\",\"price\":25.1992339372,\"name\":\"James Brown\",\"nationality\":\"American\",\"birthdate\":\"1954-10-21\"}]"; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Data description: None
Help me improve the quality and validity of the books table. Ensure that the generated texts are distinct and varied, without repeating any names from previous requests, even across different sessions.
Do not return empty values unless you think the original value should be erased.; The transformation logic: Generate relevant and high quality unique, variable texts for free text fields: ['title'] Never override a value in a field from the following list: ['nationality', 'birthdate', 'book_id', 'name', 'author_id']. Reformat or correct any of the other numeric and datetime fields when needed (only change their values if mandatory for a valid record).; The output should be formatted as the input sample. The given source data is: "[{\"book_id\":1010,\"title\":\"\",\"author_id\":1009,\"genre\":\"Science Fiction\",\"publication_date\":\"2003-05-26\",\"price\":19.8826023713,\"name\":\"Emily Wright\",\"nationality\":\"Australian\",\"birthdate\":\"1955-10-21\"},{\"book_id\":1011,\"title\":\"\",\"author_id\":1022,\"genre\":\"Fiction\",\"publication_date\":\"2001-05-05\",\"price\":20.4471114484,\"name\":\"Isabelle Jenkins\",\"nationality\":\"Australian\",\"birthdate\":\"1954-09-14\"},{\"book_id\":1012,\"title\":\"\",\"author_id\":1021,\"genre\":\"Fiction\",\"publication_date\":\"2001-09-28\",\"price\":17.0283631462,\"name\":\"Nathan Miller\",\"nationality\":\"Canadian\",\"birthdate\":\"1955-04-10\"},{\"book_id\":1013,\"title\":\"\",\"author_id\":1005,\"genre\":\"Mystery\",\"publication_date\":\"2001-04-14\",\"price\":19.471516031,\"name\":\"Liam Wilson\",\"nationality\":\"Australian\",\"birthdate\":\"1958-01-03\"},{\"book_id\":1014,\"title\":\"\",\"author_id\":1010,\"genre\":\"Science Fiction\",\"publication_date\":\"2001-07-01\",\"price\":23.7139785644,\"name\":\"Jennifer Williams\",\"nationality\":\"American\",\"birthdate\":\"1952-02-15\"},{\"book_id\":1015,\"title\":\"\",\"author_id\":1022,\"genre\":\"Non-Fiction\",\"publication_date\":\"2002-01-20\",\"price\":16.225092367,\"name\":\"Isabelle Jenkins\",\"nationality\":\"Australian\",\"birthdate\":\"1954-09-14\"},{\"book_id\":1016,\"title\":\"\",\"author_id\":1026,\"genre\":\"Non-Fiction\",\"publication_date\":\"2001-07-05\",\"price\":19.308586426,\"name\":\"Liam Thompson\",\"nationality\":\"Australian\",\"birthdate\":\"1954-06-26\"},{\"book_id\":1017,\"title\":\"\",\"author_id\":1005,\"genre\":\"Non-Fiction\",\"publication_date\":\"2001-08-14\",\"price\":10.0,\"name\":\"Liam Wilson\",\"nationality\":\"Australian\",\"birthdate\":\"1958-01-03\"},{\"book_id\":1018,\"title\":\"\",\"author_id\":1020,\"genre\":\"Romance\",\"publication_date\":\"2002-04-04\",\"price\":14.8499058348,\"name\":\"Eleanor Smith\",\"nationality\":\"British\",\"birthdate\":\"1957-04-19\"},{\"book_id\":1019,\"title\":\"\",\"author_id\":1007,\"genre\":\"Non-Fiction\",\"publication_date\":\"2000-04-26\",\"price\":17.4127406769,\"name\":\"Mia Clark\",\"nationality\":\"British\",\"birthdate\":\"1954-07-11\"}]"; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.
results:
    book_id                        title  author_id            genre  \
0      1000      The Galactic Chronicles       1015  Science Fiction
1      1001                Love in Bloom       1012          Romance
2      1002        A Whisper in the Wind       1020          Fiction
3      1003            Life Beyond Earth       1025  Science Fiction
4      1004             The Time Machine       1013  Science Fiction
5      1005          Echoes of Yesterday       1001          Fiction
6      1006           Celestial Journeys       1010  Science Fiction
7      1007          A Walk in the Woods       1005      Non-Fiction
8      1008        Whispers of the Heart       1001          Fiction
9      1009            Infinite Horizons       1029  Science Fiction
10     1010  The Time Traveler's Dilemma       1009  Science Fiction
11     1011          Echoes of Yesterday       1022          Fiction
12     1012         Shadows of the North       1021          Fiction
13     1013         Whispers in the Dark       1005          Mystery
14     1014             Beyond the Stars       1010  Science Fiction
15     1015         Journey of Discovery       1022      Non-Fiction
16     1016        Uncharted Territories       1026      Non-Fiction
17     1017         Voices from the Past       1005      Non-Fiction
18     1018               Love's Embrace       1020          Romance
19     1019               Heart's Desire       1007      Non-Fiction

   publication_date      price               name nationality   birthdate
0        2003-10-02  15.416026        Daniel Ward     British  1959-05-22
1        2002-12-21  19.403879    Sophie Anderson  Australian  1953-08-13
2        2000-06-12  17.768614      Eleanor Smith     British  1957-04-19
3        2002-03-10  10.000000       Sophia Adams    American  1958-03-18
4        2003-08-08  20.050189      David Roberts     British  1953-08-20
5        2000-07-30  17.208887       Nathan Evans    American  1952-06-12
6        1999-07-23  22.404528  Jennifer Williams    American  1952-02-15
7        1999-12-11  17.129290        Liam Wilson  Australian  1958-01-03
8        2001-01-02  18.737662       Nathan Evans    American  1952-06-12
9        2003-01-04  25.199234        James Brown    American  1954-10-21
10       2003-05-26  19.882602       Emily Wright  Australian  1955-10-21
11       2001-05-05  20.447111   Isabelle Jenkins  Australian  1954-09-14
12       2001-09-28  17.028363      Nathan Miller    Canadian  1955-04-10
13       2001-04-14  19.471516        Liam Wilson  Australian  1958-01-03
14       2001-07-01  23.713979  Jennifer Williams    American  1952-02-15
15       2002-01-20  16.225092   Isabelle Jenkins  Australian  1954-09-14
16       2001-07-05  19.308586      Liam Thompson  Australian  1954-06-26
17       2001-08-14  10.000000        Liam Wilson  Australian  1958-01-03
18       2002-04-04  14.849906      Eleanor Smith     British  1957-04-19
19       2000-04-26  17.412741          Mia Clark     British  1954-07-11


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Data description: None
Help me improve the quality and validity of the sales_transactions table. Ensure that the generated texts are distinct and varied, without repeating any names from previous requests, even across different sessions.

In [25]:
generated_data

{'authors':     author_id                name nationality   birthdate
 0        1000        Hannah Green     British  1954-09-18
 1        1001        Nathan Evans    American  1952-06-12
 2        1002     Olivia Thompson    Canadian  1957-12-16
 3        1003        Ethan Parker    American  1958-04-25
 4        1004        Sophie White  Australian  1954-12-31
 5        1005         Liam Wilson  Australian  1958-01-03
 6        1006     Isabella Harris  Australian  1955-03-17
 7        1007           Mia Clark     British  1954-07-11
 8        1008  Alexander Robinson     British  1956-08-20
 9        1009        Emily Wright  Australian  1955-10-21
 10       1010   Jennifer Williams    American  1952-02-15
 11       1011    Michael Thompson    Canadian  1955-07-17
 12       1012     Sophie Anderson  Australian  1953-08-13
 13       1013       David Roberts     British  1953-08-20
 14       1014       Emma Campbell    Canadian  1951-12-23
 15       1015         Daniel Ward     British  1959-05-22
 16       1016       Olivia Taylor    Canadian  1957-01-29
 17       1017     Andrew Mitchell    American  1954-12-06
 18       1018        Sophia Clark     British  1955-02-16
 19       1019          Liam Evans    Canadian  1955-07-13
 20       1020       Eleanor Smith     British  1957-04-19
 21       1021       Nathan Miller    Canadian  1955-04-10
 22       1022    Isabelle Jenkins  Australian  1954-09-14
 23       1023     Olivia Martinez    American  1958-05-13
 24       1024        Henry Cooper    Canadian  1956-12-09
 25       1025        Sophia Adams    American  1958-03-18
 26       1026       Liam Thompson  Australian  1954-06-26
 27       1027         Aria Wilson    Canadian  1958-08-13
 28       1028      Harper Roberts  Australian  1956-10-12
 29       1029         James Brown    American  1954-10-21,
 'books':     book_id                        title  author_id            genre  \
 0      1000      The Galactic Chronicles       1015  Science Fiction
 1      1001                Love in Bloom       1012          Romance
 2      1002        A Whisper in the Wind       1020          Fiction
 3      1003            Life Beyond Earth       1025  Science Fiction
 4      1004             The Time Machine       1013  Science Fiction
 5      1005          Echoes of Yesterday       1001          Fiction
 6      1006           Celestial Journeys       1010  Science Fiction
 7      1007          A Walk in the Woods       1005      Non-Fiction
 8      1008        Whispers of the Heart       1001          Fiction
 9      1009            Infinite Horizons       1029  Science Fiction
 10     1010  The Time Traveler's Dilemma       1009  Science Fiction
 11     1011          Echoes of Yesterday       1022          Fiction
 12     1012         Shadows of the North       1021          Fiction
 13     1013         Whispers in the Dark       1005          Mystery
 14     1014             Beyond the Stars       1010  Science Fiction
 15     1015         Journey of Discovery       1022      Non-Fiction
 16     1016        Uncharted Territories       1026      Non-Fiction
 17     1017         Voices from the Past       1005      Non-Fiction
 18     1018               Love's Embrace       1020          Romance
 19     1019               Heart's Desire       1007      Non-Fiction

    publication_date      price
 0        2003-10-02  15.416026
 1        2002-12-21  19.403879
 2        2000-06-12  17.768614
 3        2002-03-10  10.000000
 4        2003-08-08  20.050189
 5        2000-07-30  17.208887
 6        1999-07-23  22.404528
 7        1999-12-11  17.129290
 8        2001-01-02  18.737662
 9        2003-01-04  25.199234
 10       2003-05-26  19.882602
 11       2001-05-05  20.447111
 12       2001-09-28  17.028363
 13       2001-04-14  19.471516
 14       2001-07-01  23.713979
 15       2002-01-20  16.225092
 16       2001-07-05  19.308586
 17       2001-08-14  10.000000
 18       2002-04-04  14.849906
 19       2000-04-26  17.412741  ,
 'sales_transactions':     transaction_id  book_id transaction_date  quantity_sold  total_price
 0             1000     1016       2020-01-03             10   156.875240
 1             1001     1018       2020-01-04             10   254.122797
 2             1002     1003       2020-01-10             10   192.510889
 3             1007     1005       2019-12-26              9   260.046955
 4             1008     1013       2020-01-08             11   248.149846
 5             1009     1001       2020-01-21             13   279.503318
 6             1010     1003       2020-01-05              9   230.861562
 7             1011     1014       2019-12-27              8   176.109182
 8             1012     1016       2020-01-03             16   286.813970
 9             1013     1007       2019-12-26             17   300.000000
 10            1014     1018       2020-01-01             10   230.756728
 11            1017     1002       2019-12-28             14   177.384046
 12            1018     1017       2019-12-26              5   170.122258
 13            1019     1015       2019-12-22             11   265.438350
 14            1020     1003       2020-01-05             10   219.293857
 15            1021     1014       2020-01-04             10   199.640463
 16            1022     1000       2003-10-02             14   166.850713
 17            1023     1004       2003-08-08             13   132.647686
 18            1024     1000       2020-01-09              5   195.240036
 19            1025     1002       2000-06-12              7   188.613611
 20            1026     1019       2000-04-26             12   221.621834
 21            1027     1015       2002-01-20              4   223.346984
 22            1028     1000       2003-10-02             15   132.985930
 23            1029     1011       2001-05-05             12   271.142983
 24            1030     1008       2020-01-04             10   249.689864
 25            1031     1002       2020-01-04             10   169.174457
 26            1032     1017       2019-12-29              6   210.246888
 27            1033     1004       2020-01-05             13   176.022724
 28            1034     1019       2020-01-01              6   275.619310
 29            1035     1012       2020-01-02             11   132.658047
 30            1036     1018       2019-12-26              8   100.000000
 31            1037     1014       2019-12-25              6   195.526310
 32            1038     1011       2019-12-25             11   227.907078
 33            1039     1014       2020-01-09             15   237.786261
 34            1040     1016       2019-12-31              5   223.910754
 35            1041     1019       2020-01-05             10   197.304708
 36            1042     1018       2019-12-31             12   137.904931
 37            1043     1000       2020-01-10             12   117.075235
 38            1044     1011       2019-12-22              7   182.331416
 39            1045     1004       2019-12-29             17   282.825385
 40            1046     1009       2020-01-10              5   275.595641
 41            1048     1014       2019-12-24              5   161.139133
 42            1049     1001       2020-01-01              9   163.038596}

In [38]:
# You can also add queries and filters to guide the generated contents:
region = 'France'
language = 'French'
query = "Only 40 years old writers or older."

sample_data = DataGenerationPipelineObj.query_sample_data(query=query, region=region, language=language, outputFormat=2 )

print(sample_data)

{'Books':    book_id            title  author_id       genre publication_date  price
0        1  Le Petit Prince          1     Fantasy       1943-04-06   24.2
1        2   Les Misérables          2     Classic       1862-01-18   16.8
2        3       L'Étranger          3  Philosophy       1942-06-14   21.5, 'Authors':    author_id               author_name nationality  birth_date
0          1  Antoine de Saint-Exupéry      French  1900-06-29
1          2               Victor Hugo      French  1802-02-26
2          3              Albert Camus      French  1913-11-07, 'Sales Transactions':    transaction_id  book_id     transaction_date  customer_id  quantity_sold  \
0               1        1  2021-08-15 10:30:00        12345              5
1               2        2  2021-09-20 15:45:00        54321              4
2               3        3  2021-10-05 11:20:00        98765              2

   total_price
0         80.2
1         64.7
2         39.6  }

In [39]:
nest_asyncio.apply()
generated_data = DataGenerationPipelineObj.generate_data(tables_size_dict=tables_size_dict, run_in_parallel=True, output_format=2, query=query, region=region, language=language)

Error during code extraction (trial 1): Provider.date_time_between_dates() got an unexpected keyword argument 'end_date'
Error during auto correction ( trial 1): '[' was never closed (<string>, line 31)
Error during code extraction (trial 1): 'Authors'


> Entering new LLMChain chain...


> Entering new LLMChain chain...


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Data description: Only 40 years old writers or older. ; The required region: France ; All texts should be translated to French language.
Help me improve the quality and validity of the Books table. Ensure that the generated texts are distinct and varied, without repeating any names from previous requests, even across different sessions.
Do not return empty values unless you think the original value should be erased.; The transformation logic: Generate relevant and high quality unique, variable texts for free text fields: ['title', 'genre'] Never override a value in a field from the following list: book_id. Reformat or correct any of the other numeric and datetime fields when needed (only change their values if mandatory for a valid record).; The output should be formatted as the input sample. The given source data is: "[{\"book_id\":1,\"title\":\"\",\"author_id\":6,\"genre\":\"\",\"publication_date\":\"1928-02-16\",\"price\":19.9165288875},{\"book_id\":2,\"title\":\"\",\"author_id\":2,\"genre\":\"\",\"publication_date\":\"1916-07-12\",\"price\":13.1205285456},{\"book_id\":3,\"title\":\"\",\"author_id\":2,\"genre\":\"\",\"publication_date\":\"1932-03-09\",\"price\":null},{\"book_id\":4,\"title\":\"\",\"author_id\":17,\"genre\":\"\",\"publication_date\":\"1916-12-21\",\"price\":23.4177512644},{\"book_id\":5,\"title\":\"\",\"author_id\":7,\"genre\":\"\",\"publication_date\":\"2002-04-06\",\"price\":16.794460585},{\"book_id\":6,\"title\":\"\",\"author_id\":10,\"genre\":\"\",\"publication_date\":\"1999-09-12\",\"price\":18.4555087111},{\"book_id\":7,\"title\":\"\",\"author_id\":3,\"genre\":\"\",\"publication_date\":\"2002-05-20\",\"price\":24.0025334524},{\"book_id\":8,\"title\":\"\",\"author_id\":11,\"genre\":\"\",\"publication_date\":\"1989-09-27\",\"price\":20.1350029997},{\"book_id\":9,\"title\":\"\",\"author_id\":10,\"genre\":\"\",\"publication_date\":\"1904-05-13\",\"price\":24.0533450172},{\"book_id\":10,\"title\":\"\",\"author_id\":16,\"genre\":\"\",\"publication_date\":\"2013-12-01\",\"price\":25.4379454686}]"; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Data description: Only 40 years old writers or older. ; The required region: France ; All texts should be translated to French language.
Help me improve the quality and validity of the Books table. Ensure that the generated texts are distinct and varied, without repeating any names from previous requests, even across different sessions.
Do not return empty values unless you think the original value should be erased.; The transformation logic: Generate relevant and high quality unique, variable texts for free text fields: ['title', 'genre'] Never override a value in a field from the following list: book_id. Reformat or correct any of the other numeric and datetime fields when needed (only change their values if mandatory for a valid record).; The output should be formatted as the input sample. The given source data is: "[{\"book_id\":11,\"title\":\"\",\"author_id\":13,\"genre\":\"\",\"publication_date\":\"1944-11-07\",\"price\":22.8638934731},{\"book_id\":12,\"title\":\"\",\"author_id\":4,\"genre\":\"\",\"publication_date\":\"1919-06-20\",\"price\":13.9905985556},{\"book_id\":13,\"title\":\"\",\"author_id\":12,\"genre\":\"\",\"publication_date\":\"1947-01-02\",\"price\":24.4115313472},{\"book_id\":14,\"title\":\"\",\"author_id\":4,\"genre\":\"\",\"publication_date\":\"2009-12-07\",\"price\":21.5975412833},{\"book_id\":15,\"title\":\"\",\"author_id\":12,\"genre\":\"\",\"publication_date\":\"1919-10-21\",\"price\":18.3362579214},{\"book_id\":16,\"title\":\"\",\"author_id\":16,\"genre\":\"\",\"publication_date\":\"1984-11-03\",\"price\":21.8854329857},{\"book_id\":17,\"title\":\"\",\"author_id\":14,\"genre\":\"\",\"publication_date\":\"2007-11-28\",\"price\":null},{\"book_id\":18,\"title\":\"\",\"author_id\":10,\"genre\":\"\",\"publication_date\":\"1961-09-26\",\"price\":10.7270496782},{\"book_id\":19,\"title\":\"\",\"author_id\":19,\"genre\":\"\",\"publication_date\":\"1995-07-07\",\"price\":23.757348876},{\"book_id\":20,\"title\":\"\",\"author_id\":19,\"genre\":\"\",\"publication_date\":\"2011-03-01\",\"price\":22.1721352646}]"; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Data description: Only 40 years old writers or older. ; The required region: France ; All texts should be translated to French language.
Help me improve the quality and validity of the Books table. Ensure that the generated texts are distinct and varied, without repeating any names from previous requests, even across different sessions.
Do not return empty values unless you think the original value should be erased.; The transformation logic: Generate relevant and high quality unique, variable texts for free text fields: ['title', 'genre'] Never override a value in a field from the following list: book_id. Reformat or correct any of the other numeric and datetime fields when needed (only change their values if mandatory for a valid record).; The output should be formatted as the input sample. The given source data is: "[{\"book_id\":21,\"title\":\"\",\"author_id\":3,\"genre\":\"\",\"publication_date\":\"1917-06-01\",\"price\":23.4165230729},{\"book_id\":22,\"title\":\"\",\"author_id\":1,\"genre\":\"\",\"publication_date\":\"1926-09-30\",\"price\":17.1720168075},{\"book_id\":23,\"title\":\"\",\"author_id\":2,\"genre\":\"\",\"publication_date\":\"1934-06-23\",\"price\":null},{\"book_id\":24,\"title\":\"\",\"author_id\":7,\"genre\":\"\",\"publication_date\":\"1966-11-18\",\"price\":15.95029079},{\"book_id\":25,\"title\":\"\",\"author_id\":1,\"genre\":\"\",\"publication_date\":\"1914-07-03\",\"price\":23.0705083711},{\"book_id\":26,\"title\":\"\",\"author_id\":18,\"genre\":\"\",\"publication_date\":\"2003-05-22\",\"price\":null},{\"book_id\":27,\"title\":\"\",\"author_id\":11,\"genre\":\"\",\"publication_date\":\"2007-05-19\",\"price\":22.7301152231},{\"book_id\":28,\"title\":\"\",\"author_id\":16,\"genre\":\"\",\"publication_date\":\"1964-11-02\",\"price\":17.1667654687},{\"book_id\":29,\"title\":\"\",\"author_id\":9,\"genre\":\"\",\"publication_date\":\"2020-03-22\",\"price\":14.0430416884},{\"book_id\":30,\"title\":\"\",\"author_id\":1,\"genre\":\"\",\"publication_date\":\"1996-10-26\",\"price\":27.2918655249}]"; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.

> Finished chain.

> Finished chain.
[[{'book_id': 1, 'title': 'Les Misérables', 'author_id': 6, 'genre': 'Drama', 'publication_date': '1928-02-16', 'price': 19.9165288875}, {'book_id': 2, 'title': "L'Étranger", 'author_id': 2, 'genre': 'Philosophical fiction', 'publication_date': '1916-07-12', 'price': 13.1205285456}, {'book_id': 3, 'title': 'Le Petit Prince', 'author_id': 2, 'genre': "Children's literature", 'publication_date': '1932-03-09', 'price': None}, {'book_id': 4, 'title': 'Madame Bovary', 'author_id': 17, 'genre': 'Realistic fiction', 'publication_date': '1916-12-21', 'price': 23.4177512644}, {'book_id': 5, 'title': 'Le Tour du monde en quatre-vingts jours', 'author_id': 7, 'genre': 'Adventure', 'publication_date': '2002-04-06', 'price': 16.794460585}, {'book_id': 6, 'title': 'Les Fleurs du mal', 'author_id': 10, 'genre': 'Poetry', 'publication_date': '1999-09-12', 'price': 18.4555087111}, {'book_id': 7, 'title': "L'Amant", 'author_id': 3, 'genre': 'Autobiographical novel', 'publication_date': '2002-05-20', 'price': 24.0025334524}, {'book_id': 8, 'title': 'Un sac de billes', 'author_id': 11, 'genre': 'Historical fiction', 'publication_date': '1989-09-27', 'price': 20.1350029997}, {'book_id': 9, 'title': 'Les Liaisons dangereuses', 'author_id': 10, 'genre': 'Epistolary novel', 'publication_date': '1904-05-13', 'price': 24.0533450172}, {'book_id': 10, 'title': 'La Liste de mes envies', 'author_id': 16, 'genre': 'Contemporary literature', 'publication_date': '2013-12-01', 'price': 25.4379454686}], [{'book_id': 11, 'title': 'Les Misérables', 'author_id': 13, 'genre': 'Fiction', 'publication_date': '1944-11-07', 'price': 22.8638934731}, {'book_id': 12, 'title': 'Le Petit Prince', 'author_id': 4, 'genre': 'Fantasy', 'publication_date': '1919-06-20', 'price': 13.9905985556}, {'book_id': 13, 'title': "L'Étranger", 'author_id': 12, 'genre': 'Philosophy', 'publication_date': '1947-01-02', 'price': 24.4115313472}, {'book_id': 14, 'title': 'Madame Bovary', 'author_id': 4, 'genre': 'Drama', 'publication_date': '2009-12-07', 'price': 21.5975412833}, {'book_id': 15, 'title': 'Les Fleurs du Mal', 'author_id': 12, 'genre': 'Poetry', 'publication_date': '1919-10-21', 'price': 18.3362579214}, {'book_id': 16, 'title': 'Le Comte de Monte-Cristo', 'author_id': 16, 'genre': 'Adventure', 'publication_date': '1984-11-03', 'price': 21.8854329857}, {'book_id': 17, 'title': 'Les Misérables', 'author_id': 14, 'genre': 'Historical Fiction', 'publication_date': '2007-11-28', 'price': None}, {'book_id': 18, 'title': 'Les Trois Mousquetaires', 'author_id': 10, 'genre': 'Adventure', 'publication_date': '1961-09-26', 'price': 10.7270496782}, {'book_id': 19, 'title': "Le Fantôme de l'Opéra", 'author_id': 19, 'genre': 'Gothic', 'publication_date': '1995-07-07', 'price': 23.757348876}, {'book_id': 20, 'title': 'Le Parfum', 'author_id': 19, 'genre': 'Thriller', 'publication_date': '2011-03-01', 'price': 22.1721352646}], [{'book_id': 21, 'title': 'Les Fleurs du Mal', 'author_id': 3, 'genre': 'Poésie', 'publication_date': '1917-06-01', 'price': 23.4165230729}, {'book_id': 22, 'title': 'Le Petit Prince', 'author_id': 1, 'genre': 'Conte philosophique', 'publication_date': '1926-09-30', 'price': 17.1720168075}, {'book_id': 23, 'title': "L'Étranger", 'author_id': 2, 'genre': 'Roman', 'publication_date': '1934-06-23', 'price': None}, {'book_id': 24, 'title': 'Les Misérables', 'author_id': 7, 'genre': 'Roman historique', 'publication_date': '1966-11-18', 'price': 15.95029079}, {'book_id': 25, 'title': 'Madame Bovary', 'author_id': 1, 'genre': 'Roman', 'publication_date': '1914-07-03', 'price': 23.0705083711}, {'book_id': 26, 'title': 'Le Comte de Monte-Cristo', 'author_id': 18, 'genre': 'Aventure', 'publication_date': '2003-05-22', 'price': None}, {'book_id': 27, 'title': 'Le Silence de la mer', 'author_id': 11, 'genre': 'Roman', 'publication_date': '2007-05-19', 'price': 22.7301152231}, {'book_id': 28, 'title': 'Les Enfants du paradis', 'author_id': 16, 'genre': 'Drame', 'publication_date': '1964-11-02', 'price': 17.1667654687}, {'book_id': 29, 'title': 'Les Liaisons dangereuses', 'author_id': 9, 'genre': 'Épistolaire', 'publication_date': '2020-03-22', 'price': 14.0430416884}, {'book_id': 30, 'title': 'Les Trois Mousquetaires', 'author_id': 1, 'genre': "Roman d'aventure", 'publication_date': '1996-10-26', 'price': 27.2918655249}]]
results:
    book_id                                    title  author_id  \
0         1                           Les Misérables          6
1         2                               L'Étranger          2
2         3                          Le Petit Prince          2
3         4                            Madame Bovary         17
4         5  Le Tour du monde en quatre-vingts jours          7
5         6                        Les Fleurs du mal         10
6         7                                  L'Amant          3
7         8                         Un sac de billes         11
8         9                 Les Liaisons dangereuses         10
9        10                   La Liste de mes envies         16
10       11                           Les Misérables         13
11       12                          Le Petit Prince          4
12       13                               L'Étranger         12
13       14                            Madame Bovary          4
14       15                        Les Fleurs du Mal         12
15       16                 Le Comte de Monte-Cristo         16
16       17                           Les Misérables         14
17       18                  Les Trois Mousquetaires         10
18       19                    Le Fantôme de l'Opéra         19
19       20                                Le Parfum         19
20       21                        Les Fleurs du Mal          3
21       22                          Le Petit Prince          1
22       23                               L'Étranger          2
23       24                           Les Misérables          7
24       25                            Madame Bovary          1
25       26                 Le Comte de Monte-Cristo         18
26       27                     Le Silence de la mer         11
27       28                   Les Enfants du paradis         16
28       29                 Les Liaisons dangereuses          9
29       30                  Les Trois Mousquetaires          1

                      genre publication_date      price
0                     Drama       1928-02-16  19.916529
1     Philosophical fiction       1916-07-12  13.120529
2     Children's literature       1932-03-09        NaN
3         Realistic fiction       1916-12-21  23.417751
4                 Adventure       2002-04-06  16.794461
5                    Poetry       1999-09-12  18.455509
6    Autobiographical novel       2002-05-20  24.002533
7        Historical fiction       1989-09-27  20.135003
8          Epistolary novel       1904-05-13  24.053345
9   Contemporary literature       2013-12-01  25.437945
10                  Fiction       1944-11-07  22.863893
11                  Fantasy       1919-06-20  13.990599
12               Philosophy       1947-01-02  24.411531
13                    Drama       2009-12-07  21.597541
14                   Poetry       1919-10-21  18.336258
15                Adventure       1984-11-03  21.885433
16       Historical Fiction       2007-11-28        NaN
17                Adventure       1961-09-26  10.727050
18                   Gothic       1995-07-07  23.757349
19                 Thriller       2011-03-01  22.172135
20                   Poésie       1917-06-01  23.416523
21      Conte philosophique       1926-09-30  17.172017
22                    Roman       1934-06-23        NaN
23         Roman historique       1966-11-18  15.950291
24                    Roman       1914-07-03  23.070508
25                 Aventure       2003-05-22        NaN
26                    Roman       2007-05-19  22.730115
27                    Drame       1964-11-02  17.166765
28              Épistolaire       2020-03-22  14.043042
29         Roman d'aventure       1996-10-26  27.291866


> Entering new LLMChain chain...


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Data description: Only 40 years old writers or older. ; The required region: France ; All texts should be translated to French language.
Help me improve the quality and validity of the Authors table. Ensure that the generated texts are distinct and varied, without repeating any names from previous requests, even across different sessions.
Do not return empty values unless you think the original value should be erased.; The transformation logic: Generate relevant and high quality unique, variable texts for free text fields: ['author_name'] Never override a value in a field from the following list: author_id. Reformat or correct any of the other numeric and datetime fields when needed (only change their values if mandatory for a valid record).; The output should be formatted as the input sample. The given source data is: "[{\"author_id\":1,\"author_name\":\"\",\"nationality\":\"French\",\"birth_date\":\"1922-10-18\"},{\"author_id\":2,\"author_name\":\"\",\"nationality\":\"French\",\"birth_date\":\"1949-06-07\"},{\"author_id\":3,\"author_name\":\"\",\"nationality\":\"others\",\"birth_date\":\"1952-10-23\"},{\"author_id\":4,\"author_name\":\"\",\"nationality\":\"French\",\"birth_date\":\"1922-11-04\"},{\"author_id\":5,\"author_name\":\"\",\"nationality\":\"others\",\"birth_date\":\"1981-04-24\"},{\"author_id\":6,\"author_name\":\"\",\"nationality\":\"others\",\"birth_date\":\"1940-12-05\"},{\"author_id\":7,\"author_name\":\"\",\"nationality\":\"German\",\"birth_date\":\"1933-05-12\"},{\"author_id\":8,\"author_name\":\"\",\"nationality\":\"French\",\"birth_date\":\"1951-03-18\"},{\"author_id\":9,\"author_name\":\"\",\"nationality\":\"British\",\"birth_date\":\"1949-10-05\"},{\"author_id\":10,\"author_name\":\"\",\"nationality\":\"others\",\"birth_date\":\"1945-03-23\"}]"; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Data description: Only 40 years old writers or older. ; The required region: France ; All texts should be translated to French language.
Help me improve the quality and validity of the Authors table. Ensure that the generated texts are distinct and varied, without repeating any names from previous requests, even across different sessions.

In [40]:
generated_data

{'Books':     book_id                                    title  author_id  \
 0         1                           Les Misérables          6
 1         2                               L'Étranger          2
 2         3                          Le Petit Prince          2
 3         4                            Madame Bovary         17
 4         5  Le Tour du monde en quatre-vingts jours          7
 5         6                        Les Fleurs du mal         10
 6         7                                  L'Amant          3
 7         8                         Un sac de billes         11
 8         9                 Les Liaisons dangereuses         10
 9        10                   La Liste de mes envies         16
 10       11                           Les Misérables         13
 11       12                          Le Petit Prince          4
 12       13                               L'Étranger         12
 13       14                            Madame Bovary          4
 14       15                        Les Fleurs du Mal         12
 15       16                 Le Comte de Monte-Cristo         16
 16       17                           Les Misérables         14
 17       18                  Les Trois Mousquetaires         10
 18       19                    Le Fantôme de l'Opéra         19
 19       20                                Le Parfum         19
 20       21                        Les Fleurs du Mal          3
 21       22                          Le Petit Prince          1
 22       23                               L'Étranger          2
 23       24                           Les Misérables          7
 24       25                            Madame Bovary          1
 25       26                 Le Comte de Monte-Cristo         18
 26       27                     Le Silence de la mer         11
 27       28                   Les Enfants du paradis         16
 28       29                 Les Liaisons dangereuses          9
 29       30                  Les Trois Mousquetaires          1

                       genre publication_date      price
 0                     Drama       1928-02-16  19.916529
 1     Philosophical fiction       1916-07-12  13.120529
 2     Children's literature       1932-03-09        NaN
 3         Realistic fiction       1916-12-21  23.417751
 4                 Adventure       2002-04-06  16.794461
 5                    Poetry       1999-09-12  18.455509
 6    Autobiographical novel       2002-05-20  24.002533
 7        Historical fiction       1989-09-27  20.135003
 8          Epistolary novel       1904-05-13  24.053345
 9   Contemporary literature       2013-12-01  25.437945
 10                  Fiction       1944-11-07  22.863893
 11                  Fantasy       1919-06-20  13.990599
 12               Philosophy       1947-01-02  24.411531
 13                    Drama       2009-12-07  21.597541
 14                   Poetry       1919-10-21  18.336258
 15                Adventure       1984-11-03  21.885433
 16       Historical Fiction       2007-11-28        NaN
 17                Adventure       1961-09-26  10.727050
 18                   Gothic       1995-07-07  23.757349
 19                 Thriller       2011-03-01  22.172135
 20                   Poésie       1917-06-01  23.416523
 21      Conte philosophique       1926-09-30  17.172017
 22                    Roman       1934-06-23        NaN
 23         Roman historique       1966-11-18  15.950291
 24                    Roman       1914-07-03  23.070508
 25                 Aventure       2003-05-22        NaN
 26                    Roman       2007-05-19  22.730115
 27                    Drame       1964-11-02  17.166765
 28              Épistolaire       2020-03-22  14.043042
 29         Roman d'aventure       1996-10-26  27.291866  ,
 'Authors':     author_id       author_name nationality  birth_date
 0           1        Édith Piaf      French  1922-10-18
 1           2   Françoise Sagan      French  1949-06-07
 2           3                        others  1952-10-23
 3           4  Jean-Paul Sartre      French  1922-11-04
 4           5                        others  1981-04-24
 5           6                        others  1940-12-05
 6           7                        German  1933-05-12
 7           8   Patrick Modiano      French  1951-03-18
 8           9                       British  1949-10-05
 9          10                        others  1945-03-23
 10         11      Élise Dupont    American  1972-12-22
 11         12     Jeanne Martin    American  1904-05-21
 12         13    Sophie Leclerc    American  1983-05-02
 13         14                        others  1936-03-29
 14         15                       British  1982-09-12
 15         16      Henri Dubois      French  1909-03-17
 16         17     Marie Lefevre      French  1918-09-12
 17         18                       British  1972-01-20
 18         19  Philippe Renault      French  1982-08-01
 19         20    Claire Bernard      French  1973-09-21,
 'Sales Transactions':     transaction_id  book_id     transaction_date  customer_id  quantity_sold  \
 0                1        2  2021-12-01 16:26:24          628            3.0
 1                2       18  2021-04-26 07:34:12          691            1.0
 2                3        3  2021-11-27 21:24:01          234            3.0
 3                4        3  2021-09-22 15:39:31          795            4.0
 4                5       16  2021-01-13 16:43:29          693            2.0
 5                6       28  2021-07-02 17:27:35           20            1.0
 6                7        2  2021-02-28 15:35:19          367            3.0
 7                8       14  2021-04-05 11:57:43          298            4.0
 8                9       11  2021-09-22 12:51:35          576            2.0
 9               10        4  2021-10-04 13:12:25          196            3.0
 10              11       15  2021-04-05 09:41:18          611            3.0
 11              12       15  2021-10-17 07:52:31          465            4.0
 12              13        2  2021-08-29 01:51:14          980            3.0
 13              14       19  2021-11-15 05:30:09          263            3.0
 14              15        1  2021-10-02 07:54:34          144            0.0
 15              16       22  2021-09-25 01:52:55          229            5.0
 16              17        9  2021-02-13 03:21:22          231            4.0
 17              18       15  2021-02-10 18:18:12          627            3.0
 18              19        5  2021-02-24 22:38:30          124            3.0
 19              20       23  2021-08-03 13:44:38          986            3.0
 20              21       14  2021-11-10 04:52:06          290            2.0
 21              22       14  2021-09-14 09:16:14          833            3.0
 22              23        5  2021-04-29 11:35:39           37            3.0
 23              24        3  2021-02-19 07:32:10          651            3.0
 24              25        6  2021-07-14 08:39:30          878            2.0
 25              26        6  2021-06-08 06:29:30           47            3.0
 26              27        9  2021-07-25 14:47:58          457            3.0
 27              28       30  2021-12-13 09:47:42          139            4.0
 28              29        5  2021-01-07 06:40:01          983            1.0
 29              30       29  2021-02-24 17:18:33          863            2.0
 30              31        2  2021-05-24 05:36:13          515            3.0
 31              32       22  2021-08-13 05:37:58          220            3.0
 32              33       11  2021-06-10 06:54:36          787            3.0
 33              34        5  2021-06-24 14:47:17           29            3.0
 34              35       29  2021-02-27 16:44:06          995            2.0
 35              36       19  2021-02-08 00:04:15          831            3.0
 36              37       22  2021-11-07 22:15:06          362            4.0
 37              38        6  2021-07-01 03:13:50          832            4.0
 38              39       12  2021-05-13 23:05:23          603            3.0
 39              40        9  2021-03-21 16:25:23          968            NaN
 40              41        7  2021-12-19 03:29:05          545            2.0
 41              42       11  2021-09-27 09:14:57          982            2.0
 42              43        2  2021-08-30 01:48:27          900            2.0
 43              44        3  2021-02-15 22:45:14          484            3.0
 44              45       23  2021-10-06 19:52:46          595            5.0
 45              46       22  2021-11-15 10:52:51          536            4.0
 46              47        5  2021-01-15 21:19:30            4            2.0
 47              48       17  2021-09-30 08:35:57          408            2.0
 48              49       18  2021-10-28 03:41:14          108            2.0
 49              50        6  2021-02-04 00:26:27          347            1.0

     total_price
 0           NaN
 1     69.046653
 2     60.545699
 3     52.519275
 4     31.782054
 5     65.522404
 6     67.176392
 7     71.670997
 8     93.216971
 9     87.804167
 10    66.668308
 11          NaN
 12    63.917856
 13    38.575031
 14    58.807260
 15          NaN
 16    56.471348
 17    67.818843
 18    37.827965
 19    93.999455
 20    70.638189
 21    61.683071
 22    64.646344
 23          NaN
 24          NaN
 25    43.139737
 26    57.874424
 27    55.033466
 28   104.815062
 29    67.500807
 30    57.611822
 31    60.159049
 32    76.899144
 33    46.600633
 34    50.389852
 35    50.538430
 36    70.074030
 37    52.209943
 38    54.488730
 39    68.642920
 40    63.786159
 41    65.687764
 42    66.163177
 43    67.614997
 44    40.314464
 45    64.751490
 46    84.543233
 47    71.157362
 48    45.124032
 49    73.243993  }