# Creating Database Schemas from Descriptions

Explore how to create relational database schemas and populate them with data derived from natural language descriptions. This notebook demonstrates how to quickly prototype database designs using DataWizzAI, making it perfect for users less familiar with SQL syntax.

# Initial Setup Guide

## Import Required Packages

In [2]:
# First, import all the necessary packages.
from langchain_openai import ChatOpenAI
from src.DataDefiner import *
from src.DataAugmentor import DataAugmentor
from src.utils.utils import parse_output, try_parse_json, create_json_sample_from_csv, compose_query_message

In [3]:
## Load Environment Variables

from dotenv import load_dotenv, find_dotenv
_ = load_dotenv(find_dotenv())

## Initialize the Language Model

In [4]:
# Please make sure OPENAI_API_KEY is loaded to your environment variables
# Initialize language model
llm = ChatOpenAI(temperature=0.9, model="gpt-3.5-turbo")

# Defining a Data Structure - DescriptionToDB

In [5]:
# Initialize a DataStructureDefiner for the task of defining a relational DB from textual description
pipeline_name = get_pipeline_name('DescriptionToDB')
DataDefinerObj = DataDefiner(llm, pipeline_name=pipeline_name)

C:\Users\Sigal\PycharmProjects\DatawizzAI\.venv\Lib\site-packages\langchain_core\_api\deprecation.py:119: LangChainDeprecationWarning: The class `LLMChain` was deprecated in LangChain 0.1.17 and will be removed in 0.3.0. Use RunnableSequence, e.g., `prompt | llm` instead.
  warn_deprecated(

In [6]:
# Define the required data structure and view the result structure
dataStructureDescription = "Create a database schema for a bookstore that includes tables for books, authors, and sales transactions."

In [7]:
# Convert the textual description into a sample of the needed data
dataStructureSample = DataDefinerObj.define_schema_from_description(description=dataStructureDescription)
print(parse_output(dataStructureSample))

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate an initial synthetic data sample for the described task (according to the user guidance if provided, or your knowledge otherwise).Provide a sample with 10 number of items; items can be records in a table,records that can potentially be joined in a DB schema, or the equivalent tuples in a JSON format in unstructured text.The task as described by the user: Create a database schema for a bookstore that includes tables for books, authors, and sales transactions.;The guidance given by an expert: None;Format instructions: Generate Sample synthetic records for relational DB (one or more tables).                Please follow any relevant distributions for the stated fields, as we want this data to be as valid and useful as possible for development and testing.                Format the output as JSON with each table name as key and in the nested level the feature names as keys.Please make sure you output a valid JSON format, and don't cut it in the middle.Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Generated Output:

> Finished chain.
{'books':    book_id                  title  author_id      genre  price
0        1       The Great Gatsby          1    Fiction  12.99
1        2  To Kill a Mockingbird          2    Fiction  10.50
2        3                   1984          3  Dystopian   8.99, 'authors':    author_id                 name  birth_year
0          1  F. Scott Fitzgerald        1896
1          2           Harper Lee        1926
2          3        George Orwell        1903, 'sales_transactions':    transaction_id  book_id  quantity_sold transaction_date
0               1        1              5       2022-05-15
1               2        2              3       2022-06-02
2               3        3              2       2022-07-10}

## Optional: create a TaskSpecificationAugmentor

You can augment your data description and turn it into a detailed data requirements specifications by using the TaskSpecificationAugmentor object. This component imitates a data analyst that learns your requirement and translate it into a detailed specification of the needed data and its characteristics.

In [8]:
# Generate professional specifications
task_specifications = TaskSpecificationAugmentor.generate_specifications_from_description(llm, description=dataStructureDescription)

# Print the generated specifications
print("Generated Specifications:")
print(task_specifications)

> Entering new LLMChain chain...
Prompt after formatting:
You are an analyst whose job is to conduct a deep research for a given task, and define the needed data to collect, making sure you don't miss any relevant detail, and gain a deep understanding of the data characteristics.1.  Generate the names of the columns relevant for the description of the user. Use indicative names. Assign each column its type - numerical, categorical, datetime, free text, unique identifier. 2. Revisit each column and complete these details:For numeric columns - describe its distribution, mean and std, min and max values. for numbers and datetimes define the needed format, for categorical columns detail a complete set of categories and its probabilities. For free text columns - specify the mean and std of the text length, For unique identifier columns - specify the format and regEX to follow. For Datetime columns - specify min and max values, as well as the time intervals mean and std values. 3. Important correlations to maintain or other constraints and dependencies. 4. Indicate what fields would be better to be generated by a LLM instead of by a simple code. 5. Indicate if this table is has sequential (transactional) nature.
The task as described by the user: Create a database schema for a bookstore that includes tables for books, authors, and sales transactions.;Please make sure you output a valid textual description, just guidance, no intro and summary are needed, and don't cut it in the middle.
Generated Extracted Logic:

> Finished chain.
Generated Specifications:
1.

- Books Table:
	- book_id: unique identifier
	- title: free text
	- author_id: numerical
	- genre: categorical
	- publication_date: datetime

- Authors Table:
	- author_id: unique identifier
	- author_name: free text

- Sales Transactions Table:
	- transaction_id: unique identifier
	- book_id: numerical
	- transaction_date: datetime
	- quantity: numerical
	- total_amount: numerical

2.

- Books Table:
	- book_id: numerical, min: 1, max: 1000
	- title: free text, mean length: 50, std length: 10
	- author_id: numerical, min: 1, max: 100
	- genre: categorical (fiction, non-fiction, romance, mystery, etc.), probabilities: [0.3, 0.2, 0.1, 0.15, 0.25]
	- publication_date: datetime, format: YYYY-MM-DD, min: 2000-01-01, max: 2022-01-01, mean interval: 5 years, std interval: 1 year

- Authors Table:
	- author_id: numerical, min: 1, max: 100
	- author_name: free text, mean length: 20, std length: 5

- Sales Transactions Table:
	- transaction_id: numerical, min: 1, max: 10000
	- book_id: numerical, min: 1, max: 1000
	- transaction_date: datetime, format: YYYY-MM-DD HH:MM:SS, min: 2022-01-01 00:00:00, max: current date, mean interval: 1 day, std interval: 0.5 days
	- quantity: numerical, mean: 1, std: 0.5
	- total_amount: numerical, mean: $20, std: $5

3. Constraints:
	- For Sales Transactions Table, the book_id must exist in the Books Table.
	- For the Authors Table, the author_id must be unique.
	- The transaction_date in the Sales Transactions Table must be within a reasonable range.

4. Fields better generated by a LLM:
	- Predicting future sales based on historical transaction data.
	- Generating book recommendations based on user preferences.

5. The Sales Transactions Table has a sequential (transactional) nature as it tracks each sales transaction over time.

In [9]:
# Convert the textual description, aided with the expert specification, into a sample of the needed data
dataStructureSample = DataDefinerObj.define_schema_from_description(description=dataStructureDescription,
                                                                    task_specifications=task_specifications)
print(parse_output(dataStructureSample))

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate an initial synthetic data sample for the described task (according to the user guidance if provided, or your knowledge otherwise).Provide a sample with 10 number of items; items can be records in a table,records that can potentially be joined in a DB schema, or the equivalent tuples in a JSON format in unstructured text.The task as described by the user: Create a database schema for a bookstore that includes tables for books, authors, and sales transactions.;The guidance given by an expert: 1.

- Books Table:
	- book_id: unique identifier
	- title: free text
	- author_id: numerical
	- genre: categorical
	- publication_date: datetime

- Authors Table:
	- author_id: unique identifier
	- author_name: free text

- Sales Transactions Table:
	- transaction_id: unique identifier
	- book_id: numerical
	- transaction_date: datetime
	- quantity: numerical
	- total_amount: numerical

2.

- Books Table:
	- book_id: numerical, min: 1, max: 1000
	- title: free text, mean length: 50, std length: 10
	- author_id: numerical, min: 1, max: 100
	- genre: categorical (fiction, non-fiction, romance, mystery, etc.), probabilities: [0.3, 0.2, 0.1, 0.15, 0.25]
	- publication_date: datetime, format: YYYY-MM-DD, min: 2000-01-01, max: 2022-01-01, mean interval: 5 years, std interval: 1 year

- Authors Table:
	- author_id: numerical, min: 1, max: 100
	- author_name: free text, mean length: 20, std length: 5

- Sales Transactions Table:
	- transaction_id: numerical, min: 1, max: 10000
	- book_id: numerical, min: 1, max: 1000
	- transaction_date: datetime, format: YYYY-MM-DD HH:MM:SS, min: 2022-01-01 00:00:00, max: current date, mean interval: 1 day, std interval: 0.5 days
	- quantity: numerical, mean: 1, std: 0.5
	- total_amount: numerical, mean: $20, std: $5

3. Constraints:
	- For Sales Transactions Table, the book_id must exist in the Books Table.
	- For the Authors Table, the author_id must be unique.
	- The transaction_date in the Sales Transactions Table must be within a reasonable range.

4. Fields better generated by a LLM:
	- Predicting future sales based on historical transaction data.
	- Generating book recommendations based on user preferences.

5. The Sales Transactions Table has a sequential (transactional) nature as it tracks each sales transaction over time.;Format instructions: Generate Sample synthetic records for relational DB (one or more tables).                Please follow any relevant distributions for the stated fields, as we want this data to be as valid and useful as possible for development and testing.                Format the output as JSON with each table name as key and in the nested level the feature names as keys.Please make sure you output a valid JSON format, and don't cut it in the middle.Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Generated Output:

> Finished chain.
{'Books':    book_id                                  title  author_id        genre  \
0        1                       The Great Gatsby          1      fiction
1        2  Harry Potter and the Sorcerer's Stone          2      fiction
2        3                               Becoming          3  non-fiction
3        4                      The Da Vinci Code          4      mystery
4        5                    Pride and Prejudice          5      romance

  publication_date
0       2010-05-15
1       2005-12-20
2       2018-11-13
3       2003-09-02
4       2015-07-08  , 'Authors':    author_id          author_name
0          1  F. Scott Fitzgerald
1          2         J.K. Rowling
2          3       Michelle Obama
3          4            Dan Brown
4          5          Jane Austen, 'Sales Transactions':    transaction_id  book_id     transaction_date  quantity  total_amount
0               1        1  2022-08-21 14:30:00         2            40
1               2        3  2022-08-21 15:45:00         1            25
2               3        2  2022-08-22 09:10:00         1            20
3               4        5  2022-08-22 11:20:00         3            60
4               5        4  2022-08-22 13:55:00         1            22}

# Generating Data

In [10]:
# First initialize the DataAugmentor object with your chosen language model (llm) and the predefined data structure (dataStructureSample):
DataAugmentorObj = DataAugmentor(llm=llm, structure=dataStructureSample)

## Generate a sample (for output validation)

In [11]:
# You can view a sample of the generated data:
generated_data = DataAugmentorObj.preview_output_sample()
print(generated_data)

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description: None.Required Structure: {
    "Books": [
        {
            "book_id": 1,
            "title": "The Great Gatsby",
            "author_id": 1,
            "genre": "fiction",
            "publication_date": "2010-05-15"
        },
        {
            "book_id": 2,
            "title": "Harry Potter and the Sorcerer's Stone",
            "author_id": 2,
            "genre": "fiction",
            "publication_date": "2005-12-20"
        },
        {
            "book_id": 3,
            "title": "Becoming",
            "author_id": 3,
            "genre": "non-fiction",
            "publication_date": "2018-11-13"
        },
        {
            "book_id": 4,
            "title": "The Da Vinci Code",
            "author_id": 4,
            "genre": "mystery",
            "publication_date": "2003-09-02"
        },
        {
            "book_id": 5,
            "title": "Pride and Prejudice",
            "author_id": 5,
            "genre": "romance",
            "publication_date": "2015-07-08"
        }
    ],
    "Authors": [
        {
            "author_id": 1,
            "author_name": "F. Scott Fitzgerald"
        },
        {
            "author_id": 2,
            "author_name": "J.K. Rowling"
        },
        {
            "author_id": 3,
            "author_name": "Michelle Obama"
        },
        {
            "author_id": 4,
            "author_name": "Dan Brown"
        },
        {
            "author_id": 5,
            "author_name": "Jane Austen"
        }
    ],
    "Sales Transactions": [
        {
            "transaction_id": 1,
            "book_id": 1,
            "transaction_date": "2022-08-21 14:30:00",
            "quantity": 2,
            "total_amount": 40
        },
        {
            "transaction_id": 2,
            "book_id": 3,
            "transaction_date": "2022-08-21 15:45:00",
            "quantity": 1,
            "total_amount": 25
        },
        {
            "transaction_id": 3,
            "book_id": 2,
            "transaction_date": "2022-08-22 09:10:00",
            "quantity": 1,
            "total_amount": 20
        },
        {
            "transaction_id": 4,
            "book_id": 5,
            "transaction_date": "2022-08-22 11:20:00",
            "quantity": 3,
            "total_amount": 60
        },
        {
            "transaction_id": 5,
            "book_id": 4,
            "transaction_date": "2022-08-22 13:55:00",
            "quantity": 1,
            "total_amount": 22
        }
    ]
}.The previous generated batch (maintain sequential patterns if needed): unknown.Add Randomness: 0.019586645121549173.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:

> Finished chain.
{'Books':    book_id                   title  author_id        genre publication_date
0        6   To Kill a Mockingbird          6      fiction       2012-04-17
1        7  The Catcher in the Rye          7      fiction       2006-10-29
2        8                Educated          8  non-fiction       2017-09-05
3        9               Gone Girl          9      mystery       2014-03-18
4       10            The Notebook         10      romance       2016-12-10, 'Authors':    author_id      author_name
0          6       Harper Lee
1          7    J.D. Salinger
2          8    Tara Westover
3          9    Gillian Flynn
4         10  Nicholas Sparks, 'Sales Transactions':    transaction_id  book_id     transaction_date  quantity  total_amount
0               6        6  2022-08-23 10:45:00         2            35
1               7        8  2022-08-23 12:20:00         1            30
2               8        7  2022-08-24 08:15:00         1            25
3               9       10  2022-08-24 09:55:00         3            55
4              10        9  2022-08-24 14:30:00         1            28}

## Optional: query/filter the data structure to control the generated content

In [12]:
# You can also add queries and filters to guide the generated contents:
region = 'Italy'
language = 'English'
query = "Only romance genre are included "

generated_data = DataAugmentorObj.preview_output_sample(query=query, region=region, language=language)
print(generated_data)

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description: Only romance genre are included  ; The required region: Italy ; All texts should be translated to English language..Required Structure: {
    "Books": [
        {
            "book_id": 1,
            "title": "The Great Gatsby",
            "author_id": 1,
            "genre": "fiction",
            "publication_date": "2010-05-15"
        },
        {
            "book_id": 2,
            "title": "Harry Potter and the Sorcerer's Stone",
            "author_id": 2,
            "genre": "fiction",
            "publication_date": "2005-12-20"
        },
        {
            "book_id": 3,
            "title": "Becoming",
            "author_id": 3,
            "genre": "non-fiction",
            "publication_date": "2018-11-13"
        },
        {
            "book_id": 4,
            "title": "The Da Vinci Code",
            "author_id": 4,
            "genre": "mystery",
            "publication_date": "2003-09-02"
        },
        {
            "book_id": 5,
            "title": "Pride and Prejudice",
            "author_id": 5,
            "genre": "romance",
            "publication_date": "2015-07-08"
        }
    ],
    "Authors": [
        {
            "author_id": 1,
            "author_name": "F. Scott Fitzgerald"
        },
        {
            "author_id": 2,
            "author_name": "J.K. Rowling"
        },
        {
            "author_id": 3,
            "author_name": "Michelle Obama"
        },
        {
            "author_id": 4,
            "author_name": "Dan Brown"
        },
        {
            "author_id": 5,
            "author_name": "Jane Austen"
        }
    ],
    "Sales Transactions": [
        {
            "transaction_id": 1,
            "book_id": 1,
            "transaction_date": "2022-08-21 14:30:00",
            "quantity": 2,
            "total_amount": 40
        },
        {
            "transaction_id": 2,
            "book_id": 3,
            "transaction_date": "2022-08-21 15:45:00",
            "quantity": 1,
            "total_amount": 25
        },
        {
            "transaction_id": 3,
            "book_id": 2,
            "transaction_date": "2022-08-22 09:10:00",
            "quantity": 1,
            "total_amount": 20
        },
        {
            "transaction_id": 4,
            "book_id": 5,
            "transaction_date": "2022-08-22 11:20:00",
            "quantity": 3,
            "total_amount": 60
        },
        {
            "transaction_id": 5,
            "book_id": 4,
            "transaction_date": "2022-08-22 13:55:00",
            "quantity": 1,
            "total_amount": 22
        }
    ]
}.The previous generated batch (maintain sequential patterns if needed): {
    "Books": [
        {
            "book_id": 6,
            "title": "To Kill a Mockingbird",
            "author_id": 6,
            "genre": "fiction",
            "publication_date": "2012-04-17"
        },
        {
            "book_id": 7,
            "title": "The Catcher in the Rye",
            "author_id": 7,
            "genre": "fiction",
            "publication_date": "2006-10-29"
        },
        {
            "book_id": 8,
            "title": "Educated",
            "author_id": 8,
            "genre": "non-fiction",
            "publication_date": "2017-09-05"
        },
        {
            "book_id": 9,
            "title": "Gone Girl",
            "author_id": 9,
            "genre": "mystery",
            "publication_date": "2014-03-18"
        },
        {
            "book_id": 10,
            "title": "The Notebook",
            "author_id": 10,
            "genre": "romance",
            "publication_date": "2016-12-10"
        }
    ],
    "Authors": [
        {
            "author_id": 6,
            "author_name": "Harper Lee"
        },
        {
            "author_id": 7,
            "author_name": "J.D. Salinger"
        },
        {
            "author_id": 8,
            "author_name": "Tara Westover"
        },
        {
            "author_id": 9,
            "author_name": "Gillian Flynn"
        },
        {
            "author_id": 10,
            "author_name": "Nicholas Sparks"
        }
    ],
    "Sales Transactions": [
        {
            "transaction_id": 6,
            "book_id": 6,
            "transaction_date": "2022-08-23 10:45:00",
            "quantity": 2,
            "total_amount": 35
        },
        {
            "transaction_id": 7,
            "book_id": 8,
            "transaction_date": "2022-08-23 12:20:00",
            "quantity": 1,
            "total_amount": 30
        },
        {
            "transaction_id": 8,
            "book_id": 7,
            "transaction_date": "2022-08-24 08:15:00",
            "quantity": 1,
            "total_amount": 25
        },
        {
            "transaction_id": 9,
            "book_id": 10,
            "transaction_date": "2022-08-24 09:55:00",
            "quantity": 3,
            "total_amount": 55
        },
        {
            "transaction_id": 10,
            "book_id": 9,
            "transaction_date": "2022-08-24 14:30:00",
            "quantity": 1,
            "total_amount": 28
        }
    ]
}.Add Randomness: 0.9739002344688057.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:

> Finished chain.
{'Books':    book_id                        title  author_id    genre publication_date
0       11  Love in the time of Cholera         11  romance       2019-06-25
1       12                      One Day         12  romance       2014-10-08
2       13         Call Me by Your Name         13  romance       2017-03-15
3       14       The Fault in Our Stars         14  romance       2013-08-20
4       15                Me Before You         15  romance       2016-05-12, 'Authors':    author_id             author_name
0         11  Gabriel Garcia Marquez
1         12          David Nicholls
2         13            André Aciman
3         14              John Green
4         15              Jojo Moyes, 'Sales Transactions':    transaction_id  book_id     transaction_date  quantity  total_amount
0              11       11  2022-08-25 10:15:00         2            50
1              12       12  2022-08-25 11:30:00         1            25
2              13       13  2022-08-26 09:45:00         1            20
3              14       14  2022-08-26 12:00:00         3            60
4              15       15  2022-08-26 14:20:00         1            30}

In [13]:
# If you used TaskSpecificationAugmentor for defining this structure, and you wish to add queries and filters to guide the content generate, it will be a good idea to revisit the expert specifications to adjust it to the user query and guidance while maintaining the external wisdom:
full_query = compose_query_message(query=query, region=region, language=language)
updated_task_specifications = TaskSpecificationAugmentor.refine_specifications_by_description(llm=llm,
description=full_query,previous_task_specification=task_specifications)

generated_data = DataAugmentorObj.preview_output_sample(query=query, region=region, language=language,
                                                        task_specifications=updated_task_specifications)
print(generated_data)

> Entering new LLMChain chain...
Prompt after formatting:
You are an analyst whose job is to conduct a deep research for a given task, and define the needed data to collect, making sure you don't miss any relevant detail, and gain a deep understanding of the data characteristics.You already gave instructions for the needed data (see Previous Task Specifications), but now the user asks a content refinement (see User Query). Please revisit the columns distributions, and descriptive statistics and update those that have changed due to the user query.
The User Query: Data description: Only romance genre are included  ; The required region: Italy ; All texts should be translated to English language.;
Your Previous Task Specifications: 1.

- Books Table:
	- book_id: unique identifier
	- title: free text
	- author_id: numerical
	- genre: categorical
	- publication_date: datetime

- Authors Table:
	- author_id: unique identifier
	- author_name: free text

- Sales Transactions Table:
	- transaction_id: unique identifier
	- book_id: numerical
	- transaction_date: datetime
	- quantity: numerical
	- total_amount: numerical

2.

- Books Table:
	- book_id: numerical, min: 1, max: 1000
	- title: free text, mean length: 50, std length: 10
	- author_id: numerical, min: 1, max: 100
	- genre: categorical (fiction, non-fiction, romance, mystery, etc.), probabilities: [0.3, 0.2, 0.1, 0.15, 0.25]
	- publication_date: datetime, format: YYYY-MM-DD, min: 2000-01-01, max: 2022-01-01, mean interval: 5 years, std interval: 1 year

- Authors Table:
	- author_id: numerical, min: 1, max: 100
	- author_name: free text, mean length: 20, std length: 5

- Sales Transactions Table:
	- transaction_id: numerical, min: 1, max: 10000
	- book_id: numerical, min: 1, max: 1000
	- transaction_date: datetime, format: YYYY-MM-DD HH:MM:SS, min: 2022-01-01 00:00:00, max: current date, mean interval: 1 day, std interval: 0.5 days
	- quantity: numerical, mean: 1, std: 0.5
	- total_amount: numerical, mean: $20, std: $5

3. Constraints:
	- For Sales Transactions Table, the book_id must exist in the Books Table.
	- For the Authors Table, the author_id must be unique.
	- The transaction_date in the Sales Transactions Table must be within a reasonable range.

4. Fields better generated by a LLM:
	- Predicting future sales based on historical transaction data.
	- Generating book recommendations based on user preferences.

5. The Sales Transactions Table has a sequential (transactional) nature as it tracks each sales transaction over time.;Please make sure you output a valid textual description, just guidance, no intro and summary are needed, and don't cut it in the middle.
Generated Extracted Logic:

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description: Only romance genre are included  ; The required region: Italy ; All texts should be translated to English language. ; The guidance given by an expert: - Books Table:
	- genre: categorical (romance)
	- title: free text, mean length: 50, std length: 10

- Authors Table:
	- author_id: numerical, min: 1, max: 100
	- author_name: free text, mean length: 20, std length: 5

- Sales Transactions Table:
	- book_id: numerical, min: 1, max: 1000
	- transaction_date: datetime, format: YYYY-MM-DD HH:MM:SS, min: 2022-01-01 00:00:00, max: current date, mean interval: 1 day, std interval: 0.5 days
	- quantity: numerical, mean: 1, std: 0.5
	- total_amount: numerical, mean: $20, std: $5

- Constraints:
	- For Sales Transactions Table, the book_id must exist in the Books Table.
	- For Authors Table, the author_id must be unique.
	- The transaction_date in the Sales Transactions Table must be within a reasonable range...Required Structure: {
    "Books": [
        {
            "book_id": 1,
            "title": "The Great Gatsby",
            "author_id": 1,
            "genre": "fiction",
            "publication_date": "2010-05-15"
        },
        {
            "book_id": 2,
            "title": "Harry Potter and the Sorcerer's Stone",
            "author_id": 2,
            "genre": "fiction",
            "publication_date": "2005-12-20"
        },
        {
            "book_id": 3,
            "title": "Becoming",
            "author_id": 3,
            "genre": "non-fiction",
            "publication_date": "2018-11-13"
        },
        {
            "book_id": 4,
            "title": "The Da Vinci Code",
            "author_id": 4,
            "genre": "mystery",
            "publication_date": "2003-09-02"
        },
        {
            "book_id": 5,
            "title": "Pride and Prejudice",
            "author_id": 5,
            "genre": "romance",
            "publication_date": "2015-07-08"
        }
    ],
    "Authors": [
        {
            "author_id": 1,
            "author_name": "F. Scott Fitzgerald"
        },
        {
            "author_id": 2,
            "author_name": "J.K. Rowling"
        },
        {
            "author_id": 3,
            "author_name": "Michelle Obama"
        },
        {
            "author_id": 4,
            "author_name": "Dan Brown"
        },
        {
            "author_id": 5,
            "author_name": "Jane Austen"
        }
    ],
    "Sales Transactions": [
        {
            "transaction_id": 1,
            "book_id": 1,
            "transaction_date": "2022-08-21 14:30:00",
            "quantity": 2,
            "total_amount": 40
        },
        {
            "transaction_id": 2,
            "book_id": 3,
            "transaction_date": "2022-08-21 15:45:00",
            "quantity": 1,
            "total_amount": 25
        },
        {
            "transaction_id": 3,
            "book_id": 2,
            "transaction_date": "2022-08-22 09:10:00",
            "quantity": 1,
            "total_amount": 20
        },
        {
            "transaction_id": 4,
            "book_id": 5,
            "transaction_date": "2022-08-22 11:20:00",
            "quantity": 3,
            "total_amount": 60
        },
        {
            "transaction_id": 5,
            "book_id": 4,
            "transaction_date": "2022-08-22 13:55:00",
            "quantity": 1,
            "total_amount": 22
        }
    ]
}.The previous generated batch (maintain sequential patterns if needed): {
    "Books": [
        {
            "book_id": 11,
            "title": "Love in the time of Cholera",
            "author_id": 11,
            "genre": "romance",
            "publication_date": "2019-06-25"
        },
        {
            "book_id": 12,
            "title": "One Day",
            "author_id": 12,
            "genre": "romance",
            "publication_date": "2014-10-08"
        },
        {
            "book_id": 13,
            "title": "Call Me by Your Name",
            "author_id": 13,
            "genre": "romance",
            "publication_date": "2017-03-15"
        },
        {
            "book_id": 14,
            "title": "The Fault in Our Stars",
            "author_id": 14,
            "genre": "romance",
            "publication_date": "2013-08-20"
        },
        {
            "book_id": 15,
            "title": "Me Before You",
            "author_id": 15,
            "genre": "romance",
            "publication_date": "2016-05-12"
        }
    ],
    "Authors": [
        {
            "author_id": 11,
            "author_name": "Gabriel Garcia Marquez"
        },
        {
            "author_id": 12,
            "author_name": "David Nicholls"
        },
        {
            "author_id": 13,
            "author_name": "André Aciman"
        },
        {
            "author_id": 14,
            "author_name": "John Green"
        },
        {
            "author_id": 15,
            "author_name": "Jojo Moyes"
        }
    ],
    "Sales Transactions": [
        {
            "transaction_id": 11,
            "book_id": 11,
            "transaction_date": "2022-08-25 10:15:00",
            "quantity": 2,
            "total_amount": 50
        },
        {
            "transaction_id": 12,
            "book_id": 12,
            "transaction_date": "2022-08-25 11:30:00",
            "quantity": 1,
            "total_amount": 25
        },
        {
            "transaction_id": 13,
            "book_id": 13,
            "transaction_date": "2022-08-26 09:45:00",
            "quantity": 1,
            "total_amount": 20
        },
        {
            "transaction_id": 14,
            "book_id": 14,
            "transaction_date": "2022-08-26 12:00:00",
            "quantity": 3,
            "total_amount": 60
        },
        {
            "transaction_id": 15,
            "book_id": 15,
            "transaction_date": "2022-08-26 14:20:00",
            "quantity": 1,
            "total_amount": 30
        }
    ]
}.Add Randomness: 0.8676507621398398.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:

> Finished chain.
{'Books':    book_id                     title  author_id    genre publication_date
0       21      Under the Tuscan Sun         21  romance       2011-09-30
1       22             Roman Holiday         22  romance       2008-07-12
2       23      From Italy with Love         23  romance       2014-03-23
3       24           The Italian Job         24  romance       2017-11-05
4       25  Love on the Amalfi Coast         25  romance       2019-05-18, 'Authors':    author_id     author_name
0         21   Frances Mayes
1         22  Audrey Hepburn
2         23      Jules Wake
3         24      Karen Swan
4         25    Sarah Morgan, 'Sales Transactions':    transaction_id  book_id     transaction_date  quantity  total_amount
0              21       21  2022-08-29 15:45:00         2            45
1              22       22  2022-08-29 16:30:00         1            20
2              23       23  2022-08-30 10:05:00         1            22
3              24       24  2022-08-30 12:40:00         3            55
4              25       25  2022-08-30 14:15:00         1            27}

## Generating Full Output

To generate the full dataset, use the generate_data method. Specify your query (if any), optionaly the region and language, and the number of records you wish to generate.

In [14]:
# Without expert specifications
generated_data = DataAugmentorObj.generate_data( query=query, region=region, language=language, num_records=15) 

# With expert specifications
#generated_data = DataAugmentorObj.generate_data( query=query, region=region, language=language, task_specifications=updated_task_specifications, num_records=15)

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description: Only romance genre are included  ; The required region: Italy ; All texts should be translated to English language..Required Structure: {
    "Books": [
        {
            "book_id": 1,
            "title": "The Great Gatsby",
            "author_id": 1,
            "genre": "fiction",
            "publication_date": "2010-05-15"
        },
        {
            "book_id": 2,
            "title": "Harry Potter and the Sorcerer's Stone",
            "author_id": 2,
            "genre": "fiction",
            "publication_date": "2005-12-20"
        },
        {
            "book_id": 3,
            "title": "Becoming",
            "author_id": 3,
            "genre": "non-fiction",
            "publication_date": "2018-11-13"
        },
        {
            "book_id": 4,
            "title": "The Da Vinci Code",
            "author_id": 4,
            "genre": "mystery",
            "publication_date": "2003-09-02"
        },
        {
            "book_id": 5,
            "title": "Pride and Prejudice",
            "author_id": 5,
            "genre": "romance",
            "publication_date": "2015-07-08"
        }
    ],
    "Authors": [
        {
            "author_id": 1,
            "author_name": "F. Scott Fitzgerald"
        },
        {
            "author_id": 2,
            "author_name": "J.K. Rowling"
        },
        {
            "author_id": 3,
            "author_name": "Michelle Obama"
        },
        {
            "author_id": 4,
            "author_name": "Dan Brown"
        },
        {
            "author_id": 5,
            "author_name": "Jane Austen"
        }
    ],
    "Sales Transactions": [
        {
            "transaction_id": 1,
            "book_id": 1,
            "transaction_date": "2022-08-21 14:30:00",
            "quantity": 2,
            "total_amount": 40
        },
        {
            "transaction_id": 2,
            "book_id": 3,
            "transaction_date": "2022-08-21 15:45:00",
            "quantity": 1,
            "total_amount": 25
        },
        {
            "transaction_id": 3,
            "book_id": 2,
            "transaction_date": "2022-08-22 09:10:00",
            "quantity": 1,
            "total_amount": 20
        },
        {
            "transaction_id": 4,
            "book_id": 5,
            "transaction_date": "2022-08-22 11:20:00",
            "quantity": 3,
            "total_amount": 60
        },
        {
            "transaction_id": 5,
            "book_id": 4,
            "transaction_date": "2022-08-22 13:55:00",
            "quantity": 1,
            "total_amount": 22
        }
    ]
}.The previous generated batch (maintain sequential patterns if needed): {
    "Books": [
        {
            "book_id": 21,
            "title": "Under the Tuscan Sun",
            "author_id": 21,
            "genre": "romance",
            "publication_date": "2011-09-30"
        },
        {
            "book_id": 22,
            "title": "Roman Holiday",
            "author_id": 22,
            "genre": "romance",
            "publication_date": "2008-07-12"
        },
        {
            "book_id": 23,
            "title": "From Italy with Love",
            "author_id": 23,
            "genre": "romance",
            "publication_date": "2014-03-23"
        },
        {
            "book_id": 24,
            "title": "The Italian Job",
            "author_id": 24,
            "genre": "romance",
            "publication_date": "2017-11-05"
        },
        {
            "book_id": 25,
            "title": "Love on the Amalfi Coast",
            "author_id": 25,
            "genre": "romance",
            "publication_date": "2019-05-18"
        }
    ],
    "Authors": [
        {
            "author_id": 21,
            "author_name": "Frances Mayes"
        },
        {
            "author_id": 22,
            "author_name": "Audrey Hepburn"
        },
        {
            "author_id": 23,
            "author_name": "Jules Wake"
        },
        {
            "author_id": 24,
            "author_name": "Karen Swan"
        },
        {
            "author_id": 25,
            "author_name": "Sarah Morgan"
        }
    ],
    "Sales Transactions": [
        {
            "transaction_id": 21,
            "book_id": 21,
            "transaction_date": "2022-08-29 15:45:00",
            "quantity": 2,
            "total_amount": 45
        },
        {
            "transaction_id": 22,
            "book_id": 22,
            "transaction_date": "2022-08-29 16:30:00",
            "quantity": 1,
            "total_amount": 20
        },
        {
            "transaction_id": 23,
            "book_id": 23,
            "transaction_date": "2022-08-30 10:05:00",
            "quantity": 1,
            "total_amount": 22
        },
        {
            "transaction_id": 24,
            "book_id": 24,
            "transaction_date": "2022-08-30 12:40:00",
            "quantity": 3,
            "total_amount": 55
        },
        {
            "transaction_id": 25,
            "book_id": 25,
            "transaction_date": "2022-08-30 14:15:00",
            "quantity": 1,
            "total_amount": 27
        }
    ]
}.Add Randomness: 0.5798082263906343.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description: Only romance genre are included  ; The required region: Italy ; All texts should be translated to English language..Required Structure: {
    "Books": [
        {
            "book_id": 1,
            "title": "The Great Gatsby",
            "author_id": 1,
            "genre": "fiction",
            "publication_date": "2010-05-15"
        },
        {
            "book_id": 2,
            "title": "Harry Potter and the Sorcerer's Stone",
            "author_id": 2,
            "genre": "fiction",
            "publication_date": "2005-12-20"
        },
        {
            "book_id": 3,
            "title": "Becoming",
            "author_id": 3,
            "genre": "non-fiction",
            "publication_date": "2018-11-13"
        },
        {
            "book_id": 4,
            "title": "The Da Vinci Code",
            "author_id": 4,
            "genre": "mystery",
            "publication_date": "2003-09-02"
        },
        {
            "book_id": 5,
            "title": "Pride and Prejudice",
            "author_id": 5,
            "genre": "romance",
            "publication_date": "2015-07-08"
        }
    ],
    "Authors": [
        {
            "author_id": 1,
            "author_name": "F. Scott Fitzgerald"
        },
        {
            "author_id": 2,
            "author_name": "J.K. Rowling"
        },
        {
            "author_id": 3,
            "author_name": "Michelle Obama"
        },
        {
            "author_id": 4,
            "author_name": "Dan Brown"
        },
        {
            "author_id": 5,
            "author_name": "Jane Austen"
        }
    ],
    "Sales Transactions": [
        {
            "transaction_id": 1,
            "book_id": 1,
            "transaction_date": "2022-08-21 14:30:00",
            "quantity": 2,
            "total_amount": 40
        },
        {
            "transaction_id": 2,
            "book_id": 3,
            "transaction_date": "2022-08-21 15:45:00",
            "quantity": 1,
            "total_amount": 25
        },
        {
            "transaction_id": 3,
            "book_id": 2,
            "transaction_date": "2022-08-22 09:10:00",
            "quantity": 1,
            "total_amount": 20
        },
        {
            "transaction_id": 4,
            "book_id": 5,
            "transaction_date": "2022-08-22 11:20:00",
            "quantity": 3,
            "total_amount": 60
        },
        {
            "transaction_id": 5,
            "book_id": 4,
            "transaction_date": "2022-08-22 13:55:00",
            "quantity": 1,
            "total_amount": 22
        }
    ]
}.The previous generated batch (maintain sequential patterns if needed): {
    "Books": [
        {
            "book_id": 31,
            "title": "Sunset in Tuscany",
            "author_id": 31,
            "genre": "romance",
            "publication_date": "2013-08-26"
        },
        {
            "book_id": 32,
            "title": "Venice Nights",
            "author_id": 32,
            "genre": "romance",
            "publication_date": "2016-06-10"
        },
        {
            "book_id": 33,
            "title": "Love in Rome",
            "author_id": 33,
            "genre": "romance",
            "publication_date": "2018-02-14"
        },
        {
            "book_id": 34,
            "title": "Amalfi Serenade",
            "author_id": 34,
            "genre": "romance",
            "publication_date": "2020-10-03"
        },
        {
            "book_id": 35,
            "title": "Tuscan Passion",
            "author_id": 35,
            "genre": "romance",
            "publication_date": "2021-04-29"
        }
    ],
    "Authors": [
        {
            "author_id": 31,
            "author_name": "Lucinda Riley"
        },
        {
            "author_id": 32,
            "author_name": "Santa Montefiore"
        },
        {
            "author_id": 33,
            "author_name": "Amanda Prowse"
        },
        {
            "author_id": 34,
            "author_name": "Milly Johnson"
        },
        {
            "author_id": 35,
            "author_name": "Rosanna Ley"
        }
    ],
    "Sales Transactions": [
        {
            "transaction_id": 31,
            "book_id": 31,
            "transaction_date": "2022-09-06 11:20:00",
            "quantity": 2,
            "total_amount": 50
        },
        {
            "transaction_id": 32,
            "book_id": 32,
            "transaction_date": "2022-09-06 12:35:00",
            "quantity": 1,
            "total_amount": 25
        },
        {
            "transaction_id": 33,
            "book_id": 33,
            "transaction_date": "2022-09-07 09:45:00",
            "quantity": 1,
            "total_amount": 30
        },
        {
            "transaction_id": 34,
            "book_id": 34,
            "transaction_date": "2022-09-07 14:00:00",
            "quantity": 3,
            "total_amount": 65
        },
        {
            "transaction_id": 35,
            "book_id": 35,
            "transaction_date": "2022-09-08 10:15:00",
            "quantity": 1,
            "total_amount": 20
        }
    ]
}.Add Randomness: 0.3524783250645396.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description: Only romance genre are included  ; The required region: Italy ; All texts should be translated to English language..Required Structure: {
    "Books": [
        {
            "book_id": 1,
            "title": "The Great Gatsby",
            "author_id": 1,
            "genre": "fiction",
            "publication_date": "2010-05-15"
        },
        {
            "book_id": 2,
            "title": "Harry Potter and the Sorcerer's Stone",
            "author_id": 2,
            "genre": "fiction",
            "publication_date": "2005-12-20"
        },
        {
            "book_id": 3,
            "title": "Becoming",
            "author_id": 3,
            "genre": "non-fiction",
            "publication_date": "2018-11-13"
        },
        {
            "book_id": 4,
            "title": "The Da Vinci Code",
            "author_id": 4,
            "genre": "mystery",
            "publication_date": "2003-09-02"
        },
        {
            "book_id": 5,
            "title": "Pride and Prejudice",
            "author_id": 5,
            "genre": "romance",
            "publication_date": "2015-07-08"
        }
    ],
    "Authors": [
        {
            "author_id": 1,
            "author_name": "F. Scott Fitzgerald"
        },
        {
            "author_id": 2,
            "author_name": "J.K. Rowling"
        },
        {
            "author_id": 3,
            "author_name": "Michelle Obama"
        },
        {
            "author_id": 4,
            "author_name": "Dan Brown"
        },
        {
            "author_id": 5,
            "author_name": "Jane Austen"
        }
    ],
    "Sales Transactions": [
        {
            "transaction_id": 1,
            "book_id": 1,
            "transaction_date": "2022-08-21 14:30:00",
            "quantity": 2,
            "total_amount": 40
        },
        {
            "transaction_id": 2,
            "book_id": 3,
            "transaction_date": "2022-08-21 15:45:00",
            "quantity": 1,
            "total_amount": 25
        },
        {
            "transaction_id": 3,
            "book_id": 2,
            "transaction_date": "2022-08-22 09:10:00",
            "quantity": 1,
            "total_amount": 20
        },
        {
            "transaction_id": 4,
            "book_id": 5,
            "transaction_date": "2022-08-22 11:20:00",
            "quantity": 3,
            "total_amount": 60
        },
        {
            "transaction_id": 5,
            "book_id": 4,
            "transaction_date": "2022-08-22 13:55:00",
            "quantity": 1,
            "total_amount": 22
        }
    ]
}.The previous generated batch (maintain sequential patterns if needed): {
    "Books": [
        {
            "book_id": 36,
            "title": "Under the Tuscan Sun",
            "author_id": 36,
            "genre": "romance",
            "publication_date": "2014-09-17"
        },
        {
            "book_id": 37,
            "title": "A Walk to Remember",
            "author_id": 37,
            "genre": "romance",
            "publication_date": "2000-10-01"
        },
        {
            "book_id": 38,
            "title": "Love and Gelato",
            "author_id": 38,
            "genre": "romance",
            "publication_date": "2016-04-12"
        },
        {
            "book_id": 39,
            "title": "The Italian Villa",
            "author_id": 39,
            "genre": "romance",
            "publication_date": "2019-11-23"
        },
        {
            "book_id": 40,
            "title": "Romancing the Italian",
            "author_id": 40,
            "genre": "romance",
            "publication_date": "2021-08-07"
        }
    ],
    "Authors": [
        {
            "author_id": 36,
            "author_name": "Frances Mayes"
        },
        {
            "author_id": 37,
            "author_name": "Nicholas Sparks"
        },
        {
            "author_id": 38,
            "author_name": "Jenna Evans Welch"
        },
        {
            "author_id": 39,
            "author_name": "Santa Montefiore"
        },
        {
            "author_id": 40,
            "author_name": "Kate Frost"
        }
    ],
    "Sales Transactions": [
        {
            "transaction_id": 36,
            "book_id": 36,
            "transaction_date": "2022-09-09 13:40:00",
            "quantity": 2,
            "total_amount": 45
        },
        {
            "transaction_id": 37,
            "book_id": 37,
            "transaction_date": "2022-09-10 10:55:00",
            "quantity": 1,
            "total_amount": 20
        },
        {
            "transaction_id": 38,
            "book_id": 38,
            "transaction_date": "2022-09-10 14:25:00",
            "quantity": 1,
            "total_amount": 30
        },
        {
            "transaction_id": 39,
            "book_id": 39,
            "transaction_date": "2022-09-11 09:30:00",
            "quantity": 3,
            "total_amount": 55
        },
        {
            "transaction_id": 40,
            "book_id": 40,
            "transaction_date": "2022-09-11 12:15:00",
            "quantity": 1,
            "total_amount": 22
        }
    ]
}.Add Randomness: 0.34027639991858616.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:

> Finished chain.

## Generating Full Output in Parallel

For more efficient data generation, especially when dealing with large datasets or multiple requests, our package supports parallel processing. This section covers how to utilize the generate_data_in_parallel method of the DataAugmentor class to generate your dataset asynchronously.

### Setup for Parallel Execution

To ensure smooth parallel execution, especially within environments that don't natively support asynchronous operations (like Jupyter notebooks), we use nest_asyncio. This module allows asyncio to run inside environments with their own event loops.

In [15]:
import nest_asyncio
nest_asyncio.apply()

### Generate Full Output in Parallel

To generate data in parallel, use the generate_data_in_parallel coroutine. This method allows you to specify the query (if any), the number of records, region, and language, similarly to generate_data, but executes multiple data generation tasks concurrently.

In [16]:
import asyncio
# Without expert specifications
generated_data = asyncio.run(DataAugmentorObj.generate_data_in_parallel(query = "", records=20, region=region, language=language))

generated_data

# With expert specifications
#generated_data = asyncio.run(DataAugmentorObj.generate_data_in_parallel(query = "", records=20, task_specifications=updated_task_specifications, region=region, language=language))

> Entering new LLMChain chain...


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description:  ; The required region: Italy ; All texts should be translated to English language..Required Structure: {
    "Books": [
        {
            "book_id": 1,
            "title": "The Great Gatsby",
            "author_id": 1,
            "genre": "fiction",
            "publication_date": "2010-05-15"
        },
        {
            "book_id": 2,
            "title": "Harry Potter and the Sorcerer's Stone",
            "author_id": 2,
            "genre": "fiction",
            "publication_date": "2005-12-20"
        },
        {
            "book_id": 3,
            "title": "Becoming",
            "author_id": 3,
            "genre": "non-fiction",
            "publication_date": "2018-11-13"
        },
        {
            "book_id": 4,
            "title": "The Da Vinci Code",
            "author_id": 4,
            "genre": "mystery",
            "publication_date": "2003-09-02"
        },
        {
            "book_id": 5,
            "title": "Pride and Prejudice",
            "author_id": 5,
            "genre": "romance",
            "publication_date": "2015-07-08"
        }
    ],
    "Authors": [
        {
            "author_id": 1,
            "author_name": "F. Scott Fitzgerald"
        },
        {
            "author_id": 2,
            "author_name": "J.K. Rowling"
        },
        {
            "author_id": 3,
            "author_name": "Michelle Obama"
        },
        {
            "author_id": 4,
            "author_name": "Dan Brown"
        },
        {
            "author_id": 5,
            "author_name": "Jane Austen"
        }
    ],
    "Sales Transactions": [
        {
            "transaction_id": 1,
            "book_id": 1,
            "transaction_date": "2022-08-21 14:30:00",
            "quantity": 2,
            "total_amount": 40
        },
        {
            "transaction_id": 2,
            "book_id": 3,
            "transaction_date": "2022-08-21 15:45:00",
            "quantity": 1,
            "total_amount": 25
        },
        {
            "transaction_id": 3,
            "book_id": 2,
            "transaction_date": "2022-08-22 09:10:00",
            "quantity": 1,
            "total_amount": 20
        },
        {
            "transaction_id": 4,
            "book_id": 5,
            "transaction_date": "2022-08-22 11:20:00",
            "quantity": 3,
            "total_amount": 60
        },
        {
            "transaction_id": 5,
            "book_id": 4,
            "transaction_date": "2022-08-22 13:55:00",
            "quantity": 1,
            "total_amount": 22
        }
    ]
}.The previous generated batch (maintain sequential patterns if needed): unknown.Add Randomness: 0.9979142566269991.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description:  ; The required region: Italy ; All texts should be translated to English language..Required Structure: {
    "Books": [
        {
            "book_id": 1,
            "title": "The Great Gatsby",
            "author_id": 1,
            "genre": "fiction",
            "publication_date": "2010-05-15"
        },
        {
            "book_id": 2,
            "title": "Harry Potter and the Sorcerer's Stone",
            "author_id": 2,
            "genre": "fiction",
            "publication_date": "2005-12-20"
        },
        {
            "book_id": 3,
            "title": "Becoming",
            "author_id": 3,
            "genre": "non-fiction",
            "publication_date": "2018-11-13"
        },
        {
            "book_id": 4,
            "title": "The Da Vinci Code",
            "author_id": 4,
            "genre": "mystery",
            "publication_date": "2003-09-02"
        },
        {
            "book_id": 5,
            "title": "Pride and Prejudice",
            "author_id": 5,
            "genre": "romance",
            "publication_date": "2015-07-08"
        }
    ],
    "Authors": [
        {
            "author_id": 1,
            "author_name": "F. Scott Fitzgerald"
        },
        {
            "author_id": 2,
            "author_name": "J.K. Rowling"
        },
        {
            "author_id": 3,
            "author_name": "Michelle Obama"
        },
        {
            "author_id": 4,
            "author_name": "Dan Brown"
        },
        {
            "author_id": 5,
            "author_name": "Jane Austen"
        }
    ],
    "Sales Transactions": [
        {
            "transaction_id": 1,
            "book_id": 1,
            "transaction_date": "2022-08-21 14:30:00",
            "quantity": 2,
            "total_amount": 40
        },
        {
            "transaction_id": 2,
            "book_id": 3,
            "transaction_date": "2022-08-21 15:45:00",
            "quantity": 1,
            "total_amount": 25
        },
        {
            "transaction_id": 3,
            "book_id": 2,
            "transaction_date": "2022-08-22 09:10:00",
            "quantity": 1,
            "total_amount": 20
        },
        {
            "transaction_id": 4,
            "book_id": 5,
            "transaction_date": "2022-08-22 11:20:00",
            "quantity": 3,
            "total_amount": 60
        },
        {
            "transaction_id": 5,
            "book_id": 4,
            "transaction_date": "2022-08-22 13:55:00",
            "quantity": 1,
            "total_amount": 22
        }
    ]
}.The previous generated batch (maintain sequential patterns if needed): unknown.Add Randomness: 0.8521008580568787.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:

> Finished chain.

> Finished chain.

{'Books':    book_id                   title  author_id        genre publication_date
 0        6  The Catcher in the Rye          6      fiction       2001-03-10
 1        7        The Night Circus          7      fantasy       2012-09-15
 2        8                Educated          8       memoir       2019-02-23
 3        9               Gone Girl          9     thriller       2014-06-11
 4       10           The Alchemist         10      fiction       1988-09-10
 5        6  The Catcher in the Rye          6      fiction       2012-04-18
 6        7   To Kill a Mockingbird          7      fiction       2008-10-30
 7        8            Born A Crime          8  non-fiction       2016-09-05
 8        9               Gone Girl          9      mystery       2013-06-28
 9       10            The Notebook         10      romance       2014-03-11,
 'Authors':    author_id       author_name
 0          6     J.D. Salinger
 1          7  Erin Morgenstern
 2          8     Tara Westover
 3          9     Gillian Flynn
 4         10      Paulo Coelho
 5          6     J.D. Salinger
 6          7        Harper Lee
 7          8       Trevor Noah
 8          9     Gillian Flynn
 9         10   Nicholas Sparks,
 'Sales Transactions':    transaction_id  book_id     transaction_date  quantity  total_amount
 0               6        6  2022-08-23 10:05:00         1            15
 1               7        8  2022-08-23 12:30:00         2            40
 2               8        7  2022-08-23 14:45:00         1            18
 3               9       10  2022-08-24 09:20:00         3            55
 4              10        9  2022-08-24 11:55:00         1            25
 5               6        6  2022-08-23 10:20:00         4            80
 6               7        8  2022-08-23 12:15:00         2            50
 7               8        7  2022-08-23 14:40:00         1            30
 8               9       10  2022-08-24 08:55:00         3            65
 9              10        9  2022-08-24 11:30:00         2            44}