# Generating Data from Example Datasets

Discover how to extract data structures from existing CSV files and use those structures to generate new data. This notebook demonstrates how to replicate the structure of sample data with new synthesized content using DataWizzAI, making it ideal for data replication and augmentation.

# Initial Setup Guide

## Import Required Packages

In [1]:
# First, import all the necessary packages.
from langchain_openai import ChatOpenAI
from src.DataDefiner import *
from src.DataAugmentor import DataAugmentor
from src.utils.utils import parse_output, try_parse_json, create_json_sample_from_csv, compose_query_message

In [2]:
## Load Environment Variables

from dotenv import load_dotenv, find_dotenv
_ = load_dotenv(find_dotenv())

## Initialize the Language Model

In [3]:
# Please make sure OPENAI_API_KEY is loaded to your environment variables
# Initialize language model
llm = ChatOpenAI(temperature=0.9, model="gpt-3.5-turbo")

# Extract Data Structure from CSV

To begin, you'll need to specify the path to your CSV file and the file name. Then, use the create_json_sample_from_csv function to extract the data structure.

In [4]:
import os
import pandas as pd
# Specify the path and file name
path = r'C:\Users\Sigal\data\\'
file_name = r"titanic.csv"

# Extract data structure from the CSV file
dataStructureSample = create_json_sample_from_csv(path, file_name)
print(dataStructureSample)

{"titanic.csv": [{"PassengerId":609,"Survived":1,"Pclass":2,"Name":"Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)","Sex":"female","Age":22.0,"SibSp":1,"Parch":2,"Ticket":"SC\/Paris 2123","Fare":41.5792,"Cabin":null,"Embarked":"C"},{"PassengerId":600,"Survived":1,"Pclass":1,"Name":"Duff Gordon, Sir. Cosmo Edmund (\\Mr Morgan\\\")\"","Sex":"male","Age":49.0,"SibSp":1,"Parch":0,"Ticket":"PC 17485","Fare":56.9292,"Cabin":"A20","Embarked":"C"},{"PassengerId":551,"Survived":1,"Pclass":1,"Name":"Thayer, Mr. John Borland Jr","Sex":"male","Age":17.0,"SibSp":0,"Parch":2,"Ticket":"17421","Fare":110.8833,"Cabin":"C70","Embarked":"C"},{"PassengerId":645,"Survived":1,"Pclass":3,"Name":"Baclini, Miss. Eugenie","Sex":"female","Age":0.75,"SibSp":2,"Parch":1,"Ticket":"2666","Fare":19.2583,"Cabin":null,"Embarked":"C"},{"PassengerId":241,"Survived":0,"Pclass":3,"Name":"Zabour, Miss. Thamine","Sex":"female","Age":null,"SibSp":1,"Parch":0,"Ticket":"2665","Fare":14.4542,"Cabin":null,"Embarked":"C"}]}

## Initialize Data Generator

With the data structure extracted, you're ready to initialize the DataAugmentor object that will be used for generating data.

In [5]:
# Construct the full file path
full_file_path = os.path.join(path, file_name)

# Read the CSV file into a DataFrame
df = pd.read_csv(full_file_path)

# Initialize the DataConsumer with the extracted data structure
DataAugmentorObj = DataAugmentor(llm=llm, structure=dataStructureSample)

C:\Users\Sigal\PycharmProjects\DatawizzAI\.venv\Lib\site-packages\langchain_core\_api\deprecation.py:119: LangChainDeprecationWarning: The class `LLMChain` was deprecated in LangChain 0.1.17 and will be removed in 0.3.0. Use RunnableSequence, e.g., `prompt | llm` instead.
  warn_deprecated(

## Set Example Dataframe (Optional)

If you want the generated data to be influenced by examples from your original dataset, you can set an examples DataFrame within your DataAugmentor object.

In [6]:
DataAugmentorObj.set_examples_dataframe(df, file_name)

## Generate and Preview Data

Finally, you can generate and preview the synthesized data based on the extracted structure and any example data provided.

In [7]:
generated_data = DataAugmentorObj.preview_output_sample()
print(generated_data)

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description: None.Required Structure: {"titanic.csv": [{"PassengerId":200,"Survived":0,"Pclass":2,"Name":"Yrois, Miss. Henriette (\\Mrs Harbeck\\\")\"","Sex":"female","Age":24.0,"SibSp":0,"Parch":0,"Ticket":"248747","Fare":13.0,"Cabin":null,"Embarked":"S"},{"PassengerId":50,"Survived":0,"Pclass":3,"Name":"Arnold-Franchi, Mrs. Josef (Josefine Franchi)","Sex":"female","Age":18.0,"SibSp":1,"Parch":0,"Ticket":"349237","Fare":17.8,"Cabin":null,"Embarked":"S"},{"PassengerId":66,"Survived":1,"Pclass":3,"Name":"Moubarek, Master. Gerios","Sex":"male","Age":null,"SibSp":1,"Parch":1,"Ticket":"2661","Fare":15.2458,"Cabin":null,"Embarked":"C"},{"PassengerId":768,"Survived":0,"Pclass":3,"Name":"Mangan, Miss. Mary","Sex":"female","Age":30.5,"SibSp":0,"Parch":0,"Ticket":"364850","Fare":7.75,"Cabin":null,"Embarked":"Q"},{"PassengerId":578,"Survived":1,"Pclass":1,"Name":"Silvey, Mrs. William Baird (Alice Munger)","Sex":"female","Age":39.0,"SibSp":1,"Parch":0,"Ticket":"13507","Fare":55.9,"Cabin":"E44","Embarked":"S"},{"PassengerId":171,"Survived":0,"Pclass":1,"Name":"Van der hoef, Mr. Wyckoff","Sex":"male","Age":61.0,"SibSp":0,"Parch":0,"Ticket":"111240","Fare":33.5,"Cabin":"B19","Embarked":"S"},{"PassengerId":49,"Survived":0,"Pclass":3,"Name":"Samaan, Mr. Youssef","Sex":"male","Age":null,"SibSp":2,"Parch":0,"Ticket":"2662","Fare":21.6792,"Cabin":null,"Embarked":"C"},{"PassengerId":621,"Survived":0,"Pclass":3,"Name":"Yasbeck, Mr. Antoni","Sex":"male","Age":27.0,"SibSp":1,"Parch":0,"Ticket":"2659","Fare":14.4542,"Cabin":null,"Embarked":"C"},{"PassengerId":302,"Survived":1,"Pclass":3,"Name":"McCoy, Mr. Bernard","Sex":"male","Age":null,"SibSp":2,"Parch":0,"Ticket":"367226","Fare":23.25,"Cabin":null,"Embarked":"Q"},{"PassengerId":110,"Survived":1,"Pclass":3,"Name":"Moran, Miss. Bertha","Sex":"female","Age":null,"SibSp":1,"Parch":0,"Ticket":"371110","Fare":24.15,"Cabin":null,"Embarked":"Q"}]}.The previous generated batch (maintain sequential patterns if needed): unknown.Add Randomness: 0.8070237401618191.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:

> Finished chain.
{'titanic.csv':    PassengerId  Survived  Pclass  \
0          356         1       2
1          107         1       3
2          256         0       3
3           41         1       1
4          464         0       1
5          273         0       2
6          495         0       1
7          533         1       2
8          109         0       1
9          621         0       3

                                              Name     Sex   Age  SibSp  \
0                       Collander, Mr. Erik Gustaf    male  28.0      0
1                 Salkjelsvik, Miss. Anna Kristine  female  21.0      0
2                                Touma, Mr. Darwis    male  55.0      0
3              Ahlin, Mrs. Jens (Sylvia Olsdatter)  female  50.0      1
4                               Maisner, Mr. Simon    male  50.0      0
5                   Mellinger, Mrs. Juliet Beckman  female  41.0      0
6  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0      1
7                                  Elias, Mr. Dibo    male  28.0      1
8                                  Rekic, Mr. Tido    male  38.0      0
9                              Yasbeck, Mr. Antoni    male  27.0      1

   Parch  Ticket      Fare    Cabin Embarked
0      0  248738   13.0000     None        S
1      0  343120    7.6500     None        S
2      0    2650    7.2250     None        C
3      0    7548   65.0000     None        S
4      0  113786   30.5000     C103        S
5      0  250644   19.5000     None        S
6      2  113781  151.5500  C22 C26        S
7      0    2690    9.6875     None        C
8      0  349249    7.8958     C118        S
9      0    2659   14.4542     None        C  }

## Optional: query/filter the data structure to control the generated content

In [9]:
# You can also add queries and filters to guide the generated contents:
language = 'English'
query = "Only survives are included (Survived=1)"

generated_data = DataAugmentorObj.preview_output_sample(query=query, language=language)
print(generated_data)

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description: Only survives are included (Survived=1) ; All texts should be translated to English language..Required Structure: {"titanic.csv": [{"PassengerId":746,"Survived":0,"Pclass":1,"Name":"Crosby, Capt. Edward Gifford","Sex":"male","Age":70.0,"SibSp":1,"Parch":1,"Ticket":"WE\/P 5735","Fare":71.0,"Cabin":"B22","Embarked":"S"},{"PassengerId":446,"Survived":1,"Pclass":1,"Name":"Dodge, Master. Washington","Sex":"male","Age":4.0,"SibSp":0,"Parch":2,"Ticket":"33638","Fare":81.8583,"Cabin":"A34","Embarked":"S"},{"PassengerId":574,"Survived":1,"Pclass":3,"Name":"Kelly, Miss. Mary","Sex":"female","Age":null,"SibSp":0,"Parch":0,"Ticket":"14312","Fare":7.75,"Cabin":null,"Embarked":"Q"},{"PassengerId":351,"Survived":0,"Pclass":3,"Name":"Odahl, Mr. Nils Martin","Sex":"male","Age":23.0,"SibSp":0,"Parch":0,"Ticket":"7267","Fare":9.225,"Cabin":null,"Embarked":"S"},{"PassengerId":295,"Survived":0,"Pclass":3,"Name":"Mineff, Mr. Ivan","Sex":"male","Age":24.0,"SibSp":0,"Parch":0,"Ticket":"349233","Fare":7.8958,"Cabin":null,"Embarked":"S"},{"PassengerId":706,"Survived":0,"Pclass":2,"Name":"Morley, Mr. Henry Samuel (\\Mr Henry Marshall\\\")\"","Sex":"male","Age":39.0,"SibSp":0,"Parch":0,"Ticket":"250655","Fare":26.0,"Cabin":null,"Embarked":"S"},{"PassengerId":57,"Survived":1,"Pclass":2,"Name":"Rugg, Miss. Emily","Sex":"female","Age":21.0,"SibSp":0,"Parch":0,"Ticket":"C.A. 31026","Fare":10.5,"Cabin":null,"Embarked":"S"},{"PassengerId":201,"Survived":0,"Pclass":3,"Name":"Vande Walle, Mr. Nestor Cyriel","Sex":"male","Age":28.0,"SibSp":0,"Parch":0,"Ticket":"345770","Fare":9.5,"Cabin":null,"Embarked":"S"},{"PassengerId":846,"Survived":0,"Pclass":3,"Name":"Abbing, Mr. Anthony","Sex":"male","Age":42.0,"SibSp":0,"Parch":0,"Ticket":"C.A. 5547","Fare":7.55,"Cabin":null,"Embarked":"S"},{"PassengerId":642,"Survived":1,"Pclass":1,"Name":"Sagesser, Mlle. Emma","Sex":"female","Age":24.0,"SibSp":0,"Parch":0,"Ticket":"PC 17477","Fare":69.3,"Cabin":"B35","Embarked":"C"}]}.The previous generated batch (maintain sequential patterns if needed): {"titanic.csv": [{"PassengerId":912,"Survived":1,"Pclass":1,"Name":"Ryerson, Miss. Emily Borie","Sex":"female","Age":24.0,"SibSp":3,"Parch":2,"Ticket":"PC 17608","Fare":262.375,"Cabin":"B57 B59 B63 B66","Embarked":"C"},{"PassengerId":246,"Survived":0,"Pclass":1,"Name":"Minahan, Dr. William Edward","Sex":"male","Age":44.0,"SibSp":2,"Parch":0,"Ticket":"19928","Fare":90.0,"Cabin":"C78","Embarked":"Q"},{"PassengerId":481,"Survived":1,"Pclass":3,"Name":"Goodwin, Master. Harold Victor","Sex":"male","Age":9.0,"SibSp":5,"Parch":2,"Ticket":"CA 2144","Fare":46.9,"Cabin":null,"Embarked":"S"},{"PassengerId":636,"Survived":0,"Pclass":3,"Name":"Leinonen, Mr. Antti Gustaf","Sex":"male","Age":32.0,"SibSp":0,"Parch":0,"Ticket":"STON\/O 2. 3101292","Fare":7.925,"Cabin":null,"Embarked":"S"},{"PassengerId":173,"Survived":0,"Pclass":3,"Name":"Johnson, Miss. Eleanor Ileen","Sex":"female","Age":1.0,"SibSp":1,"Parch":1,"Ticket":"347742","Fare":11.1333,"Cabin":null,"Embarked":"S"},{"PassengerId":694,"Survived":1,"Pclass":3,"Name":"Weir, Col. John","Sex":"male","Age":60.0,"SibSp":0,"Parch":0,"Ticket":"27268","Fare":13.0,"Cabin":"D47","Embarked":"S"},{"PassengerId":66,"Survived":1,"Pclass":3,"Name":"Moubarek, Master. Halim Gonios (\\\"William George\\\"\")","Sex":"male","Age":4.0,"SibSp":1,"Parch":1,"Ticket":"2661","Fare":15.2458,"Cabin":null,"Embarked":"C"},{"PassengerId":615,"Survived":1,"Pclass":2,"Name":"Brocklebank, Mr. William Alfred","Sex":"male","Age":35.0,"SibSp":0,"Parch":0,"Ticket":"C.A. 34651","Fare":27.75,"Cabin":null,"Embarked":"S"},{"PassengerId":747,"Survived":0,"Pclass":3,"Name":"Abbott, Mr. Rossmore Edward","Sex":"male","Age":16.0,"SibSp":1,"Parch":1,"Ticket":"C.A. 2673","Fare":20.25,"Cabin":null,"Embarked":"S"},{"PassengerId":766,"Survived":0,"Pclass":1,"Name":"Hogeboom, Mrs. John C (Anna Andrews)","Sex":"female","Age":51.0,"SibSp":1,"Parch":0,"Ticket":"13502","Fare":77.9583,"Cabin":"D11","Embarked":"S"}]}.Add Randomness: 0.9656385060647998.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:

> Finished chain.
{'titanic.csv':    PassengerId  Survived  Pclass  \
0          324         1       2
1          180         1       3
2          858         1       1
3          397         1       3
4          904         1       1
5          654         1       3
6          598         1       2
7          871         1       3
8          269         1       1
9          143         1       3

                                                Name     Sex   Age  SibSp  \
0                     Cunningham, Mr. Alfred Fleming    male  29.0      0
1                             Leonard, Miss. Bridget  female   NaN      0
2                             Daly, Mr. Peter Denis     male  51.0      0
3                                Olsson, Miss. Elina  female  31.0      0
4                         Jones, Mr. Charles Cresson    male  46.0      0
5                      O'Leary, Miss. Hanora "Norah"  female   NaN      0
6                    Johnson, Mr. William Cahoone Jr    male  19.0      0
7                      Rush, Mr. Alfred George John     male  16.0      0
8                          Graham, Mr. George Edward    male  38.0      0
9  Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...  female  24.0      1

   Parch            Ticket      Fare Cabin Embarked
0      0            239853    0.0000  None        S
1      0              LINE    0.0000  None        S
2      0            113055   26.5500   E17        S
3      0            350407    7.8542  None        S
4      0               694   26.0000  None        S
5      0            330919    7.8292  None        Q
6      0              LINE    0.0000  None        S
7      0          A/4. 512    8.0500  None        S
8      1          PC 17582  153.4625  C125        S
9      0  STON/O2. 3101279   15.8500  None        S  }

## Generating Full Output

To generate the full dataset, use the generate_data method. Specify your query (if any), optionaly the region and language, and the number of records you wish to generate.

In [10]:
# Without expert specifications
generated_data = DataAugmentorObj.generate_data( query="", language=language, num_records=15) 

generated_data

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description:  ; All texts should be translated to English language..Required Structure: {"titanic.csv": [{"PassengerId":858,"Survived":1,"Pclass":1,"Name":"Daly, Mr. Peter Denis ","Sex":"male","Age":51.0,"SibSp":0,"Parch":0,"Ticket":"113055","Fare":26.55,"Cabin":"E17","Embarked":"S"},{"PassengerId":172,"Survived":0,"Pclass":3,"Name":"Rice, Master. Arthur","Sex":"male","Age":4.0,"SibSp":4,"Parch":1,"Ticket":"382652","Fare":29.125,"Cabin":null,"Embarked":"Q"},{"PassengerId":430,"Survived":1,"Pclass":3,"Name":"Pickard, Mr. Berk (Berk Trembisky)","Sex":"male","Age":32.0,"SibSp":0,"Parch":0,"Ticket":"SOTON\/O.Q. 392078","Fare":8.05,"Cabin":"E10","Embarked":"S"},{"PassengerId":537,"Survived":0,"Pclass":1,"Name":"Butt, Major. Archibald Willingham","Sex":"male","Age":45.0,"SibSp":0,"Parch":0,"Ticket":"113050","Fare":26.55,"Cabin":"B38","Embarked":"S"},{"PassengerId":268,"Survived":1,"Pclass":3,"Name":"Persson, Mr. Ernst Ulrik","Sex":"male","Age":25.0,"SibSp":1,"Parch":0,"Ticket":"347083","Fare":7.775,"Cabin":null,"Embarked":"S"},{"PassengerId":98,"Survived":1,"Pclass":1,"Name":"Greenfield, Mr. William Bertram","Sex":"male","Age":23.0,"SibSp":0,"Parch":1,"Ticket":"PC 17759","Fare":63.3583,"Cabin":"D10 D12","Embarked":"C"},{"PassengerId":118,"Survived":0,"Pclass":2,"Name":"Turpin, Mr. William John Robert","Sex":"male","Age":29.0,"SibSp":1,"Parch":0,"Ticket":"11668","Fare":21.0,"Cabin":null,"Embarked":"S"},{"PassengerId":582,"Survived":1,"Pclass":1,"Name":"Thayer, Mrs. John Borland (Marian Longstreth Morris)","Sex":"female","Age":39.0,"SibSp":1,"Parch":1,"Ticket":"17421","Fare":110.8833,"Cabin":"C68","Embarked":"C"},{"PassengerId":3,"Survived":1,"Pclass":3,"Name":"Heikkinen, Miss. Laina","Sex":"female","Age":26.0,"SibSp":0,"Parch":0,"Ticket":"STON\/O2. 3101282","Fare":7.925,"Cabin":null,"Embarked":"S"},{"PassengerId":195,"Survived":1,"Pclass":1,"Name":"Brown, Mrs. James Joseph (Margaret Tobin)","Sex":"female","Age":44.0,"SibSp":0,"Parch":0,"Ticket":"PC 17610","Fare":27.7208,"Cabin":"B4","Embarked":"C"}]}.The previous generated batch (maintain sequential patterns if needed): {"titanic.csv": [{"PassengerId":324,"Survived":1,"Pclass":2,"Name":"Cunningham, Mr. Alfred Fleming","Sex":"male","Age":29.0,"SibSp":0,"Parch":0,"Ticket":"239853","Fare":0.0,"Cabin":null,"Embarked":"S"},{"PassengerId":180,"Survived":1,"Pclass":3,"Name":"Leonard, Miss. Bridget","Sex":"female","Age":null,"SibSp":0,"Parch":0,"Ticket":"LINE","Fare":0.0,"Cabin":null,"Embarked":"S"},{"PassengerId":858,"Survived":1,"Pclass":1,"Name":"Daly, Mr. Peter Denis ","Sex":"male","Age":51.0,"SibSp":0,"Parch":0,"Ticket":"113055","Fare":26.55,"Cabin":"E17","Embarked":"S"},{"PassengerId":397,"Survived":1,"Pclass":3,"Name":"Olsson, Miss. Elina","Sex":"female","Age":31.0,"SibSp":0,"Parch":0,"Ticket":"350407","Fare":7.8542,"Cabin":null,"Embarked":"S"},{"PassengerId":904,"Survived":1,"Pclass":1,"Name":"Jones, Mr. Charles Cresson","Sex":"male","Age":46.0,"SibSp":0,"Parch":0,"Ticket":"694","Fare":26.0,"Cabin":null,"Embarked":"S"},{"PassengerId":654,"Survived":1,"Pclass":3,"Name":"O'Leary, Miss. Hanora \"Norah\"","Sex":"female","Age":null,"SibSp":0,"Parch":0,"Ticket":"330919","Fare":7.8292,"Cabin":null,"Embarked":"Q"},{"PassengerId":598,"Survived":1,"Pclass":2,"Name":"Johnson, Mr. William Cahoone Jr","Sex":"male","Age":19.0,"SibSp":0,"Parch":0,"Ticket":"LINE","Fare":0.0,"Cabin":null,"Embarked":"S"},{"PassengerId":871,"Survived":1,"Pclass":3,"Name":"Rush, Mr. Alfred George John ","Sex":"male","Age":16.0,"SibSp":0,"Parch":0,"Ticket":"A\/4. 512","Fare":8.05,"Cabin":null,"Embarked":"S"},{"PassengerId":269,"Survived":1,"Pclass":1,"Name":"Graham, Mr. George Edward","Sex":"male","Age":38.0,"SibSp":0,"Parch":1,"Ticket":"PC 17582","Fare":153.4625,"Cabin":"C125","Embarked":"S"},{"PassengerId":143,"Survived":1,"Pclass":3,"Name":"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)","Sex":"female","Age":24.0,"SibSp":1,"Parch":0,"Ticket":"STON\/O2. 3101279","Fare":15.85,"Cabin":null,"Embarked":"S"}]}.Add Randomness: 0.910729649877517.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description:  ; All texts should be translated to English language..Required Structure: {"titanic.csv": [{"PassengerId":771,"Survived":0,"Pclass":3,"Name":"Lievens, Mr. Rene Aime","Sex":"male","Age":24.0,"SibSp":0,"Parch":0,"Ticket":"345781","Fare":9.5,"Cabin":null,"Embarked":"S"},{"PassengerId":311,"Survived":1,"Pclass":1,"Name":"Hays, Miss. Margaret Bechstein","Sex":"female","Age":24.0,"SibSp":0,"Parch":0,"Ticket":"11767","Fare":83.1583,"Cabin":"C54","Embarked":"C"},{"PassengerId":161,"Survived":0,"Pclass":3,"Name":"Cribb, Mr. John Hatfield","Sex":"male","Age":44.0,"SibSp":0,"Parch":1,"Ticket":"371362","Fare":16.1,"Cabin":null,"Embarked":"S"},{"PassengerId":478,"Survived":0,"Pclass":3,"Name":"Braund, Mr. Lewis Richard","Sex":"male","Age":29.0,"SibSp":1,"Parch":0,"Ticket":"3460","Fare":7.0458,"Cabin":null,"Embarked":"S"},{"PassengerId":716,"Survived":0,"Pclass":3,"Name":"Soholt, Mr. Peter Andreas Lauritz Andersen","Sex":"male","Age":19.0,"SibSp":0,"Parch":0,"Ticket":"348124","Fare":7.65,"Cabin":"F G73","Embarked":"S"},{"PassengerId":874,"Survived":0,"Pclass":3,"Name":"Vander Cruyssen, Mr. Victor","Sex":"male","Age":47.0,"SibSp":0,"Parch":0,"Ticket":"345765","Fare":9.0,"Cabin":null,"Embarked":"S"},{"PassengerId":636,"Survived":1,"Pclass":2,"Name":"Davis, Miss. Mary","Sex":"female","Age":28.0,"SibSp":0,"Parch":0,"Ticket":"237668","Fare":13.0,"Cabin":null,"Embarked":"S"},{"PassengerId":658,"Survived":0,"Pclass":3,"Name":"Bourke, Mrs. John (Catherine)","Sex":"female","Age":32.0,"SibSp":1,"Parch":1,"Ticket":"364849","Fare":15.5,"Cabin":null,"Embarked":"Q"},{"PassengerId":579,"Survived":0,"Pclass":3,"Name":"Caram, Mrs. Joseph (Maria Elias)","Sex":"female","Age":null,"SibSp":1,"Parch":0,"Ticket":"2689","Fare":14.4583,"Cabin":null,"Embarked":"C"},{"PassengerId":49,"Survived":0,"Pclass":3,"Name":"Samaan, Mr. Youssef","Sex":"male","Age":null,"SibSp":2,"Parch":0,"Ticket":"2662","Fare":21.6792,"Cabin":null,"Embarked":"C"}]}.The previous generated batch (maintain sequential patterns if needed): {"titanic.csv": [{"PassengerId":429,"Survived":0,"Pclass":3,"Name":"Flynn, Mr. James","Sex":"male","Age":32.0,"SibSp":0,"Parch":0,"Ticket":"364851","Fare":7.75,"Cabin":null,"Embarked":"Q"},{"PassengerId":623,"Survived":0,"Pclass":3,"Name":"Nakid, Mr. Sahid","Sex":"male","Age":20.0,"SibSp":1,"Parch":1,"Ticket":"2653","Fare":15.7417,"Cabin":null,"Embarked":"C"},{"PassengerId":767,"Survived":0,"Pclass":1,"Name":"Brewe, Dr. Arthur Jackson","Sex":"male","Age":57.0,"SibSp":0,"Parch":0,"Ticket":"112379","Fare":39.6,"Cabin":null,"Embarked":"C"},{"PassengerId":112,"Survived":1,"Pclass":1,"Name":"Zabour, Miss. Hileni","Sex":"female","Age":14.5,"SibSp":1,"Parch":0,"Ticket":"2665","Fare":14.4542,"Cabin":null,"Embarked":"C"},{"PassengerId":531,"Survived":1,"Pclass":2,"Name":"Quick, Miss. Phyllis May","Sex":"female","Age":2.0,"SibSp":1,"Parch":1,"Ticket":"26360","Fare":26.0,"Cabin":null,"Embarked":"S"},{"PassengerId":299,"Survived":1,"Pclass":1,"Name":"Saalfeld, Mr. Adolphe","Sex":"male","Age":null,"SibSp":0,"Parch":0,"Ticket":"19988","Fare":30.5,"Cabin":"C106","Embarked":"S"},{"PassengerId":381,"Survived":1,"Pclass":1,"Name":"Bidois, Miss. Rosalie","Sex":"female","Age":42.0,"SibSp":0,"Parch":0,"Ticket":"PC 17757","Fare":227.525,"Cabin":null,"Embarked":"C"},{"PassengerId":533,"Survived":0,"Pclass":3,"Name":"Elias, Mr. Joseph","Sex":"male","Age":39.0,"SibSp":0,"Parch":2,"Ticket":"2675","Fare":7.2292,"Cabin":null,"Embarked":"C"},{"PassengerId":34,"Survived":0,"Pclass":2,"Name":"Wheadon, Mr. Edward H","Sex":"male","Age":66.0,"SibSp":0,"Parch":0,"Ticket":"C.A. 24579","Fare":10.5,"Cabin":null,"Embarked":"S"},{"PassengerId":82,"Survived":1,"Pclass":3,"Name":"Sheerlinck, Mr. Jan Baptist","Sex":"male","Age":29.0,"SibSp":0,"Parch":0,"Ticket":"345779","Fare":9.5,"Cabin":null,"Embarked":"S"}]}.Add Randomness: 0.5665836041295189.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:

> Finished chain.

{'titanic.csv':     PassengerId  Survived  Pclass                                      Name  \
 0           429         0       3                          Flynn, Mr. James
 1           623         0       3                          Nakid, Mr. Sahid
 2           767         0       1                 Brewe, Dr. Arthur Jackson
 3           112         1       1                      Zabour, Miss. Hileni
 4           531         1       2                  Quick, Miss. Phyllis May
 5           299         1       1                     Saalfeld, Mr. Adolphe
 6           381         1       1                     Bidois, Miss. Rosalie
 7           533         0       3                         Elias, Mr. Joseph
 8            34         0       2                     Wheadon, Mr. Edward H
 9            82         1       3               Sheerlinck, Mr. Jan Baptist
 10          542         0       3                  Svensson, Mr. Karl Johan
 11          413         0       3                 Funk, Miss. Annie Clemmer
 12          636         1       2  Harper, Mrs. Henry Sleeper (Myna Haxtun)
 13          160         0       3         Sage, Miss. Dorothy Edith "Dolly"
 14          688         0       3                         Dakic, Mr. Branko
 15          341         1       2            Navratil, Master. Edmond Roger
 16           83         0       3                    McDermott, Mr. Patrick
 17           46         1       3                  Rogers, Mr. William John
 18          668         1       3                Rommetvedt, Mr. Knud Paust
 19          634         0       1             Parr, Mr. William Henry Marsh

        Sex   Age  SibSp  Parch           Ticket      Fare Cabin Embarked
 0     male  32.0      0      0           364851    7.7500  None        Q
 1     male  20.0      1      1             2653   15.7417  None        C
 2     male  57.0      0      0           112379   39.6000  None        C
 3   female  14.5      1      0             2665   14.4542  None        C
 4   female   2.0      1      1            26360   26.0000  None        S
 5     male   NaN      0      0            19988   30.5000  C106        S
 6   female  42.0      0      0         PC 17757  227.5250  None        C
 7     male  39.0      0      2             2675    7.2292  None        C
 8     male  66.0      0      0       C.A. 24579   10.5000  None        S
 9     male  29.0      0      0           345779    9.5000  None        S
 10    male  38.0      1      0           347081    7.7500  None        S
 11  female  38.0      0      0           330935    8.1375  None        Q
 12  female  49.0      1      0           248727   33.0000  None        S
 13  female   NaN      8      2         CA. 2343   69.5500  None        S
 14    male  19.0      0      0           349228   10.1708  None        S
 15    male   2.0      1      1           230080   26.0000    F2        S
 16    male   NaN      0      0           330932    7.7875  None        Q
 17    male   NaN      0      0  S.C./A.4. 23567    8.0500  None        S
 18    male   NaN      0      0           312993    7.7750  None        S
 19    male   NaN      0      0           112052    0.0000  None        S  }

## Generating Full Output in Parallel

For more efficient data generation, especially when dealing with large datasets or multiple requests, our package supports parallel processing. This section covers how to utilize the generate_data_in_parallel method of the DataAugmentor class to generate your dataset asynchronously.

### Setup for Parallel Execution

To ensure smooth parallel execution, especially within environments that don't natively support asynchronous operations (like Jupyter notebooks), we use nest_asyncio. This module allows asyncio to run inside environments with their own event loops.

In [11]:
import nest_asyncio
nest_asyncio.apply()

### Generate Full Output in Parallel

To generate data in parallel, use the generate_data_in_parallel coroutine. This method allows you to specify the query (if any), the number of records, region, and language, similarly to generate_data, but executes multiple data generation tasks concurrently.

In [13]:
import asyncio
# Without expert specifications
generated_data = asyncio.run(DataAugmentorObj.generate_data_in_parallel(query = query, records=20, language=language))

generated_data

> Entering new LLMChain chain...


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description: Only survives are included (Survived=1) ; All texts should be translated to English language..Required Structure: {"titanic.csv": [{"PassengerId":44,"Survived":1,"Pclass":2,"Name":"Laroche, Miss. Simonne Marie Anne Andree","Sex":"female","Age":3.0,"SibSp":1,"Parch":2,"Ticket":"SC\/Paris 2123","Fare":41.5792,"Cabin":null,"Embarked":"C"},{"PassengerId":608,"Survived":1,"Pclass":1,"Name":"Daniel, Mr. Robert Williams","Sex":"male","Age":27.0,"SibSp":0,"Parch":0,"Ticket":"113804","Fare":30.5,"Cabin":null,"Embarked":"S"},{"PassengerId":534,"Survived":1,"Pclass":3,"Name":"Peter, Mrs. Catherine (Catherine Rizk)","Sex":"female","Age":null,"SibSp":0,"Parch":2,"Ticket":"2668","Fare":22.3583,"Cabin":null,"Embarked":"C"},{"PassengerId":304,"Survived":1,"Pclass":2,"Name":"Keane, Miss. Nora A","Sex":"female","Age":null,"SibSp":0,"Parch":0,"Ticket":"226593","Fare":12.35,"Cabin":"E101","Embarked":"Q"},{"PassengerId":766,"Survived":1,"Pclass":1,"Name":"Hogeboom, Mrs. John C (Anna Andrews)","Sex":"female","Age":51.0,"SibSp":1,"Parch":0,"Ticket":"13502","Fare":77.9583,"Cabin":"D11","Embarked":"S"},{"PassengerId":781,"Survived":1,"Pclass":3,"Name":"Ayoub, Miss. Banoura","Sex":"female","Age":13.0,"SibSp":0,"Parch":0,"Ticket":"2687","Fare":7.2292,"Cabin":null,"Embarked":"C"},{"PassengerId":727,"Survived":1,"Pclass":2,"Name":"Renouf, Mrs. Peter Henry (Lillian Jefferys)","Sex":"female","Age":30.0,"SibSp":3,"Parch":0,"Ticket":"31027","Fare":21.0,"Cabin":null,"Embarked":"S"},{"PassengerId":546,"Survived":0,"Pclass":1,"Name":"Nicholson, Mr. Arthur Ernest","Sex":"male","Age":64.0,"SibSp":0,"Parch":0,"Ticket":"693","Fare":26.0,"Cabin":null,"Embarked":"S"},{"PassengerId":173,"Survived":1,"Pclass":3,"Name":"Johnson, Miss. Eleanor Ileen","Sex":"female","Age":1.0,"SibSp":1,"Parch":1,"Ticket":"347742","Fare":11.1333,"Cabin":null,"Embarked":"S"},{"PassengerId":854,"Survived":1,"Pclass":1,"Name":"Lines, Miss. Mary Conover","Sex":"female","Age":16.0,"SibSp":0,"Parch":1,"Ticket":"PC 17592","Fare":39.4,"Cabin":"D28","Embarked":"S"}]}.The previous generated batch (maintain sequential patterns if needed): unknown.Add Randomness: 0.34449612487919445.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description: Only survives are included (Survived=1) ; All texts should be translated to English language..Required Structure: {"titanic.csv": [{"PassengerId":463,"Survived":0,"Pclass":1,"Name":"Gee, Mr. Arthur H","Sex":"male","Age":47.0,"SibSp":0,"Parch":0,"Ticket":"111320","Fare":38.5,"Cabin":"E63","Embarked":"S"},{"PassengerId":547,"Survived":1,"Pclass":2,"Name":"Beane, Mrs. Edward (Ethel Clarke)","Sex":"female","Age":19.0,"SibSp":1,"Parch":0,"Ticket":"2908","Fare":26.0,"Cabin":null,"Embarked":"S"},{"PassengerId":605,"Survived":1,"Pclass":1,"Name":"Homer, Mr. Harry (\\Mr E Haven\\\")\"","Sex":"male","Age":35.0,"SibSp":0,"Parch":0,"Ticket":"111426","Fare":26.55,"Cabin":null,"Embarked":"C"},{"PassengerId":134,"Survived":1,"Pclass":2,"Name":"Weisz, Mrs. Leopold (Mathilde Francoise Pede)","Sex":"female","Age":29.0,"SibSp":1,"Parch":0,"Ticket":"228414","Fare":26.0,"Cabin":null,"Embarked":"S"},{"PassengerId":350,"Survived":0,"Pclass":3,"Name":"Dimic, Mr. Jovan","Sex":"male","Age":42.0,"SibSp":0,"Parch":0,"Ticket":"315088","Fare":8.6625,"Cabin":null,"Embarked":"S"},{"PassengerId":143,"Survived":1,"Pclass":3,"Name":"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)","Sex":"female","Age":24.0,"SibSp":1,"Parch":0,"Ticket":"STON\/O2. 3101279","Fare":15.85,"Cabin":null,"Embarked":"S"},{"PassengerId":821,"Survived":1,"Pclass":1,"Name":"Hays, Mrs. Charles Melville (Clara Jennings Gregg)","Sex":"female","Age":52.0,"SibSp":1,"Parch":1,"Ticket":"12749","Fare":93.5,"Cabin":"B69","Embarked":"S"},{"PassengerId":569,"Survived":0,"Pclass":3,"Name":"Doharr, Mr. Tannous","Sex":"male","Age":null,"SibSp":0,"Parch":0,"Ticket":"2686","Fare":7.2292,"Cabin":null,"Embarked":"C"},{"PassengerId":486,"Survived":0,"Pclass":3,"Name":"Lefebre, Miss. Jeannie","Sex":"female","Age":null,"SibSp":3,"Parch":1,"Ticket":"4133","Fare":25.4667,"Cabin":null,"Embarked":"S"},{"PassengerId":831,"Survived":1,"Pclass":3,"Name":"Yasbeck, Mrs. Antoni (Selini Alexander)","Sex":"female","Age":15.0,"SibSp":1,"Parch":0,"Ticket":"2659","Fare":14.4542,"Cabin":null,"Embarked":"C"}]}.The previous generated batch (maintain sequential patterns if needed): unknown.Add Randomness: 0.8899427300916519.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:

> Finished chain.

> Finished chain.

{'titanic.csv':     PassengerId  Survived  Pclass                                     Name  \
 0           891         1       3            Banfield, Mr. Frederick James
 1           892         1       3                Lindell, Mrs. Edith Maria
 2           893         1       1                       Wilkes, Mrs. Ellen
 3           894         1       2                Myles, Mr. Thomas Francis
 4           895         1       3                       Colbert, Mr. Jas L
 5           896         1       3                      Svensson, Mr. Johan
 6           897         1       3                     Rice, Master. Albert
 7           898         1       3                       Johnson, Mrs. Emma
 8           899         1       2                Carter, Miss. Lucile Polk
 9           900         1       1            Beckwith, Mr. Richard Leonard
 10          762         1       2             Walker, Mr. William Anderson
 11          632         1       3  Myhrman, Mr. Pehr Fabian Oliver Malkolm
 12          584         1       3                       Paulner, Mr. Simon
 13          742         0       1            Cavendish, Mr. Tyrell William
 14          543         1       3        Andersson, Miss. Sigrid Elisabeth
 15          935         1       1             Kimball, Mr. Edwin Nelson Jr
 16          236         0       3             Harknett, Miss. Alice Phoebe
 17          659         1       2             Eitemiller, Mr. George Floyd
 18          891         1       1                    Behr, Mr. Karl Howell
 19          164         1       3               Bengtsson, Mr. John Viktor

        Sex   Age  SibSp  Parch              Ticket      Fare    Cabin Embarked
 0     male  28.0      0      0          C.A. 31029   31.0000     None        S
 1   female  31.0      1      0  SOTON/O.Q. 3101317   13.0000     None        S
 2   female  45.0      1      1              363272    7.0000     None        S
 3     male  61.0      0      0              240276    9.6875     None        Q
 4     male  33.0      0      0              371109    6.4958     None        Q
 5     male  74.0      0      0                7538    9.2250     None        S
 6     male   9.0      4      1              382652   29.1250     None        Q
 7   female  26.0      2      2              347742   11.1333     None        S
 8   female  14.0      1      2              113760  120.0000  B96 B98        S
 9     male  23.0      1      1               11751   52.5542      D35        S
 10    male  32.0      0      0              230433   26.0000     None        S
 11    male  27.0      0      0              347078    7.7500     None        S
 12    male  41.0      0      0                3411    8.7125     None        C
 13    male  36.0      1      0               19877   78.8500      C46        S
 14  female  11.0      4      2              347082   31.2750     None        S
 15    male  42.0      1      0               11753   52.5542      D19        S
 16  female  28.0      0      0          W./C. 6607   23.4500     None        S
 17    male  35.0      0      0               29751   13.0000     None        S
 18    male  26.0      0      0              111369   30.0000     C148        C
 19    male  26.0      0      0              347068    7.7750     None        S  }