# Welcome to DataWizz

## Initial Setup Guide

Before diving into the functionalities of our Python package, there are a few preliminary steps you'll need to follow to set up your environment. This guide will walk you through importing required packages, loading environment variables, and initializing the language model.

### Import Required Packages

First, import all the necessary packages that our application relies on. This includes utilities for loading environment variables, interfacing with OpenAI's language models, defining data structures, and consuming data.

In [4]:
from langchain_openai import ChatOpenAI
from src.DataDefiner import *
from src.DataAugmentor import DataAugmentor
from src.utils.utils import parse_output, try_parse_json, create_json_sample_from_csv, compose_query_message

Make sure these packages are installed in your Python environment. You may need to install some of them using pip if they are not already present.

### Load Environment Variables

Environment variables are used to store configurations and sensitive information securely. Use dotenv to load these variables from a .env file in your project directory.

In [5]:
#install if you don't have this package already
#!pip install python-dotenv

#import relevant functions
from dotenv import load_dotenv, find_dotenv

In [6]:
# Load environment variables
_ = load_dotenv(find_dotenv())

### Initialize the Language Model

Now, initialize the language model from OpenAI. In this example, we're using the gpt-3.5-turbo model with a specific temperature setting. The ChatOpenAI class is a part of the langchain_openai package and facilitates interaction with OpenAI's API.

In [7]:
# please make sure OPENAI_API_KEY is loaded to your environment variables
# Initialize language model
llm = ChatOpenAI(temperature=0.9, model="gpt-3.5-turbo")

The temperature parameter controls the randomness of the model's responses, with higher values leading to more varied outputs. Adjust this setting according to your needs.

After completing these steps, your environment is ready, and you can proceed with the specific functionalities of the package, such as defining data structures, generating datasets, and more.

##### Init HuggingFace Endpoint - OpenAI alternative

In [5]:
# ! pip install huggingface_hub
# 
# # please make sure HUGGINGFACEHUB_API_TOKEN is loaded to your environment variables
# from langchain_community.llms import HuggingFaceEndpoint
# 
# repo_id = "mistralai/Mistral-7B-Instruct-v0.2"
# 
# llm = HuggingFaceEndpoint(repo_id=repo_id, max_new_tokens=2048)

# Defining a Data Structure

This section outlines the various pipeline types available within the package, each designed to transform inputs into structured or unstructured data sets for different applications such as machine learning, databases, or flexible data formats.

## 1. DescriptionToMLDataset

Ideal for users who want to generate machine learning datasets based on descriptive inputs. This pipeline interprets natural language descriptions of data requirements and structures, then produces datasets optimized for training machine learning models.

In [3]:
#Initialize a DataStructureDefiner
pipeline_name = get_pipeline_name('DescriptionToMLDataset')
DataDefinerObj = DataDefiner(llm, pipeline_name = pipeline_name)

#Define the required data structure and view the result structure
# Example non-expert description
dataStructureDescription = "Generate a machine learning dataset for predicting suspicious AML transactions based on features like customer characteristics, transaction characteristics, location, and transactions history characteristics."

# Generate professional specifications
task_specifications = TaskSpecificationAugmentor.generate_specifications_from_description(llm, description = dataStructureDescription)

# Print the generated specifications
print("Generated Specifications:")
print(task_specifications)

NameError: name 'llm' is not defined

Convert the textual description, aided with the expert specification, into a sample of the needed data

In [7]:
dataStructureSample = DataDefinerObj.define_schema_from_description(description = dataStructureDescription, task_specifications=task_specifications)
print(parse_output(dataStructureSample))

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate an initial synthetic data sample for the described task (according to the user guidance if provided, or your knowledge otherwise).Provide a sample with 10 number of items; items can be records in a table,records that can potentially be joined in a DB schema, or the equivalent tuples in a JSON format in unstructured text.The task as described by the user: Generate a machine learning dataset for predicting suspicious AML transactions based on features like customer characteristics, transaction characteristics, location, and transactions history characteristics.;The guidance given by an expert: 1.
- Customer ID: Unique identifier
- Age: Numerical
- Gender: Categorical
- Occupation: Categorical
- Income: Numerical
- Address: Free text
- Transaction ID: Unique identifier
- Date/time: Datetime
- Transaction amount: Numerical
- Location: Categorical
- Transaction history: Free text

2.
- Age: Distribution skewed right, mean 35, std 10, min 18, max 60
- Gender: Categories (Male, Female, Other) with probabilities (0.6, 0.3, 0.1)
- Occupation: Categories (Manager, Accountant, Teacher) with probabilities (0.4, 0.3, 0.3)
- Income: Distribution skewed right, mean $50,000, std $20,000, min $20,000, max $100,000
- Address: Mean text length 50 characters, std 10 characters
- Transaction amount: Distribution skewed right, mean $500, std $200, min $100, max $1000
- Location: Categories (Urban, Suburban, Rural) with probabilities (0.5, 0.3, 0.2)
- Transaction history: Mean text length 100 characters, std 20 characters

3. Important correlations to maintain include the relationship between customer characteristics and transaction characteristics, as well as the influence of location on transaction behavior. Dependencies may include income level affecting transaction amount and transaction history influencing suspicious activity.

4. Fields better generated by a LLM instead of simple code would include predicting suspicious transactions based on a combination of customer characteristics, transaction characteristics, and historical data.

5. This table has a sequential (transactional) nature as it includes information about transactions over time, indicating a flow of data related to customer behavior and financial activities.;Format instructions: Generate Sample synthetic records for tabular data (preferably a single flattened table) that can be used for training a well-performing ML model for the task described in the data description.                Please include any relevant attribute you can think of, as we do not want to miss any feature that the user may find useful.                Format the output as JSON with the dataset name as key.Please make sure you output a valid JSON format, and don't cut it in the middle.Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Generated Output:

> Finished chain.
{'AML_Transactions_Dataset':   Customer ID  Age  Gender  Occupation  Income            Address  \
0       C1001   32    Male     Manager   54000    123 Main Street
1       C1002   42  Female     Teacher   72000     456 Elm Street
2       C1003   27   Other  Accountant   35000     789 Oak Street
3       C1004   50    Male     Manager   90000    101 Pine Street
4       C1005   22  Female  Accountant   25000   202 Maple Street
5       C1006   38    Male     Teacher   60000  303 Walnut Street
6       C1007   45  Female     Manager   80000   404 Cedar Street
7       C1008   55   Other     Teacher   72000   505 Birch Street
8       C1009   30    Male  Accountant   40000     606 Ash Street
9       C1010   48  Female     Manager   75000  707 Spruce Street

  Transaction ID            Date/time  Transaction amount  Location  \
0           T001  2022-01-15 08:30:00                 480     Urban
1           T002  2022-02-10 14:45:00                 620  Suburban
2           T003  2022-03-05 10:20:00                 300     Urban
3           T004  2022-04-20 16:00:00                 800  Suburban
4           T005  2022-05-12 09:45:00                 150     Rural
5           T006  2022-06-25 11:30:00                 550  Suburban
6           T007  2022-07-18 13:15:00                 700     Urban
7           T008  2022-08-30 15:00:00                 840     Urban
8           T009  2022-09-14 18:45:00                 400  Suburban
9           T010  2022-10-05 17:30:00                 670     Urban

                    Transaction history
0              Regular monthly expenses
1                 Recent large purchase
2           Frequent small transactions
3           Limited transaction history
4                   First-time customer
5          Consistent moderate spending
6  Significant increase in transactions
7              Varied transaction types
8            Occasional large purchases
9          Unusual transaction patterns  }

## 2. DescriptionToDB

Use this pipeline when you need to create a relational database schema and populate it with data, all derived from a natural language description. It’s perfect for quickly prototyping database designs or for users less familiar with SQL syntax.

In [1]:
#Initialize a DataStructureDefiner
pipeline_name = get_pipeline_name('DescriptionToDB')
DataDefinerObj = DataDefiner(llm, pipeline_name = pipeline_name)

#Define the required data structure and view the result structure
dataStructureDescription = "Create a database schema for a bookstore that includes tables for books, authors, and sales transactions."
dataStructureSample = DataDefinerObj.define_schema_from_description(dataStructureDescription)
print(parse_output(dataStructureSample))

NameError: name 'get_pipeline_name' is not defined

## 3. SQLToTabular

This pipeline is designed for users who prefer to define their data structure using SQL syntax. It takes SQL table creation statements and query specifications, then generates a corresponding structured, relational database schema.

In [9]:
#Initialize a DataStructureDefiner
pipeline_name = get_pipeline_name('SQLToTabular')
DataDefinerObj = DataDefiner(llm, pipeline_name = pipeline_name)

#Define the required data structure and view the result structure
dataStructureDescription = "-- Create a 'Customers' table with customer information\
CREATE TABLE Customers (\
    CustomerID INT PRIMARY KEY,\
    FirstName VARCHAR(50),\
    LastName VARCHAR(50),\
    Email VARCHAR(100),\
    JoinDate DATE\
);\
\
-- Create an 'Orders' table with order details\
CREATE TABLE Orders (\
    OrderID INT PRIMARY KEY,\
    CustomerID INT,\
    OrderDate DATE,\
    ProductCategory VARCHAR(50),\
    ProductName VARCHAR(100),\
    Units INT,\
    TotalAmount DECIMAL(10, 2),\
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)\
);"
dataStructureSample = DataDefinerObj.define_schema_from_description(dataStructureDescription)
print(parse_output(dataStructureSample))

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate an initial synthetic data sample for the described task (according to the user guidance if provided, or your knowledge otherwise).Provide a sample with 10 number of items; items can be records in a table,records that can potentially be joined in a DB schema, or the equivalent tuples in a JSON format in unstructured text.The task as described by the user: -- Create a 'Customers' table with customer informationCREATE TABLE Customers (    CustomerID INT PRIMARY KEY,    FirstName VARCHAR(50),    LastName VARCHAR(50),    Email VARCHAR(100),    JoinDate DATE);-- Create an 'Orders' table with order detailsCREATE TABLE Orders (    OrderID INT PRIMARY KEY,    CustomerID INT,    OrderDate DATE,    ProductCategory VARCHAR(50),    ProductName VARCHAR(100),    Units INT,    TotalAmount DECIMAL(10, 2),    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID));;The guidance given by an expert: None;Format instructions: Generate Sample synthetic data that fit to the structure given by the SQL command that appears in the data description.                Please follow any relevant distributions for the stated fields, as we want this data to be as valid and useful as possible for development and testing.                Format the output as JSON with each table name as key.Please make sure you output a valid JSON format, and don't cut it in the middle.Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Generated Output:

> Finished chain.
{'Customers':    CustomerID FirstName  LastName                     Email    JoinDate
0           1      John       Doe         johndoe@email.com  2021-01-15
1           2      Jane     Smith       janesmith@email.com  2021-02-20
2           3   Michael   Johnson  michaeljohnson@email.com  2020-12-10
3           4     Sarah  Williams   sarahwilliams@email.com  2020-11-05
4           5     David     Brown      davidbrown@email.com  2021-03-25, 'Orders':    OrderID  CustomerID   OrderDate ProductCategory ProductName  Units  \
0        1           1  2021-04-05     Electronics      Laptop      1
1        2           2  2021-03-15        Clothing       Dress      2
2        3           3  2021-02-28      Home goods    Curtains      4
3        4           4  2021-01-10           Books       Novel      1
4        5           5  2021-05-20  Sporting Goods    Yoga Mat      3

   TotalAmount
0      1200.50
1       150.75
2        75.20
3        20.00
4        45.60  }

## 4. DescriptionToUnstructured

Choose this pipeline for scenarios where structured data formats are not required. It enables the creation of datasets with flexible formats, such as text blobs, documents, or other forms of unstructured data, based on descriptive inputs.

In [10]:
#Initialize a DataStructureDefiner
pipeline_name = get_pipeline_name('DescriptionToUnstructured')
DataDefinerObj = DataDefiner(llm, pipeline_name = pipeline_name)

#Define the required data structure and view the result structure
dataStructureDescription = "Generate a collection of news articles about recent technological advancements in renewable energy."
dataStructureSample = DataDefinerObj.define_schema_from_description(dataStructureDescription)
print(parse_output(dataStructureSample))

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate an initial synthetic data sample for the described task (according to the user guidance if provided, or your knowledge otherwise).Provide a sample with 10 number of items; items can be records in a table,records that can potentially be joined in a DB schema, or the equivalent tuples in a JSON format in unstructured text.The task as described by the user: Generate a collection of news articles about recent technological advancements in renewable energy.;The guidance given by an expert: None;Format instructions: Generate Sample data, potentially unstructured, that fit to the data description.                Format the output as JSONL with the dataset name as key and each line contains a single sampled text in the appropriate format.Please make sure you output a valid JSON format, and don't cut it in the middle.Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Generated Output:

> Finished chain.
{'news_articles_technological_advancements_renewable_energy':                                                title        date  \
0  New Solar Panel Design Increases Efficiency by...  2021-05-15
1  Wind Turbines with AI Optimization Boost Energ...  2021-06-02
2  Breakthrough in Energy Storage Technology Enab...  2021-07-10
3  Hydrogen Fuel Cells Poised to Disrupt Transpor...  2021-08-20
4  Innovative Wave Energy Converter Harvests Ener...  2021-09-05
5  Advancements in Perovskite Solar Cells Make th...  2021-10-12
6  Smart Grid Technology Enables Dynamic Energy M...  2021-11-25
7  Biodegradable Solar Panels Offer Sustainable S...  2021-12-05
8  Blockchain Technology Streamlines Energy Tradi...  2022-01-10
9  New Biofuels Show Promise as Clean Alternative...  2022-02-20

                            source  \
0                   TechNews Today
1         Renewable Energy Journal
2               CleanTech Magazine
3             Future Energy Trends
4   Marine Renewable Energy Report
5         Solar Energy Innovations
6          Energy Efficiency Today
7         Green Technology Gazette
8  Renewable Energy Finance Weekly
9       Bioenergy Research Journal

                                             content
0  A team of researchers has developed a new sola...
1  Wind turbines equipped with artificial intelli...
2  A breakthrough in energy storage technology ha...
3  Hydrogen fuel cells are poised to disrupt the ...
4  An innovative wave energy converter has been d...
5  Recent advancements in perovskite solar cells ...
6  Smart grid technology has enabled dynamic ener...
7  Biodegradable solar panels offer a sustainable...
8  Blockchain technology has been used to streaml...
9  New biofuels are showing promise as a clean al...  }

## 5. APINameToData

Utilize this pipeline when you have an API specification (e.g., OpenAPI/Swagger) and want to generate data that conforms to the defined endpoints and data models. It’s ideal for testing API endpoints or generating mock data for API development.

In [11]:
#Initialize a DataStructureDefiner
pipeline_name = get_pipeline_name('APISpecificationToData')
DataDefinerObj = DataDefiner(llm, pipeline_name = pipeline_name)

#Define the required data structure and view the result structure
dataStructureDescription = "Generate mock data conforming to Twitter's API. The data should include user profiles and tweets, along with metadata for engagements (likes, retweets, replies)."
task_specifications = TaskSpecificationAugmentor.generate_specifications_from_description(llm, description = dataStructureDescription)

dataStructureSample = DataDefinerObj.define_schema_from_description(dataStructureDescription, task_specifications=task_specifications)
print(parse_output(dataStructureSample))

> Entering new LLMChain chain...
Prompt after formatting:
You are an analyst whose job is to conduct a deep research for a given task, and define the needed data to collect, making sure you don't miss any relevant detail, and gain a deep understanding of the data characteristics.1.  Generate the names of the columns relevant for the description of the user. Use indicative names. Assign each column its type - numerical, categorical, datetime, free text, unique identifier. 2. Revisit each column and complete these details:For numeric columns - describe its distribution, mean and std, min and max values. for numbers and datetimes define the needed format, for categorical columns detail a complete set of categories and its probabilities. For free text columns - specify the mean and std of the text length, For unique identifier columns - specify the format and regEX to follow. For Datetime columns - specify min and max values, as well as the time intervals mean and std values. 3. Important correlations to maintain or other constraints and dependencies. 4. Indicate what fields would be better to be generated by a LLM instead of by a simple code. 5. Indicate if this table is has sequential (transactional) nature.
The task as described by the user: Generate mock data conforming to Twitter's API. The data should include user profiles and tweets, along with metadata for engagements (likes, retweets, replies).;Please make sure you output a valid textual description, just guidance, no intro and summary are needed, and don't cut it in the middle.
Generated Extracted Logic:

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate an initial synthetic data sample for the described task (according to the user guidance if provided, or your knowledge otherwise).Provide a sample with 10 number of items; items can be records in a table,records that can potentially be joined in a DB schema, or the equivalent tuples in a JSON format in unstructured text.The task as described by the user: Generate mock data conforming to Twitter's API. The data should include user profiles and tweets, along with metadata for engagements (likes, retweets, replies).;The guidance given by an expert: 1. Relevant Columns:
- User ID (unique identifier)
- Username (free text)
- Bio (free text)
- Location (categorical)
- Followers Count (numerical)
- Following Count (numerical)
- Tweet Count (numerical)
- Account Creation Date (datetime)
- Tweet ID (unique identifier)
- Tweet Text (free text)
- Tweet Date (datetime)
- Likes Count (numerical)
- Retweets Count (numerical)
- Replies Count (numerical)

2. Column Details:
- User ID: format - alphanumeric, regEX - /^[0-9a-zA-Z]+$/
- Username: mean text length - 7, std text length - 2
- Location: categories - [USA, UK, Canada, Australia, Other], probabilities - [0.3, 0.2, 0.1, 0.1, 0.3]
- Followers Count: distribution - positively skewed, mean - 1000, std - 500, min - 100, max - 5000
- Following Count: distribution - positively skewed, mean - 500, std - 200, min - 50, max - 2000
- Tweet Count: distribution - normally distributed, mean - 2000, std - 1000, min - 500, max - 5000
- Account Creation Date: format - dd/mm/yyyy, min date - 01/01/2010, max date - 31/12/2022, time intervals mean - 2 years, std - 1 year
- Tweet ID: format - alphanumeric, regEX - /^[0-9a-zA-Z]+$/
- Tweet Text: mean text length - 100, std text length - 20
- Tweet Date: format - dd/mm/yyyy hh:mm:ss, min date - 01/01/2010, max date - 31/12/2022, time intervals mean - 1 day, std - 6 hours
- Likes Count: distribution - positively skewed, mean - 100, std - 50, min - 10, max - 500
- Retweets Count: distribution - positively skewed, mean - 50, std - 20, min - 5, max - 200
- Replies Count: distribution - normally distributed, mean - 20, std - 10, min - 1, max - 100

3. Constraints and Dependencies:
- User ID is unique and should be maintained as the primary key.
- Tweet ID is unique and should be maintained as the primary key.
- Engagements counts (likes, retweets, replies) should be dependent on the respective tweet.

4. Fields for LLM:
- Generation of tweet text content could benefit from a language model to ensure coherence and relevance.

5. Sequential Nature:
- This table has a sequential nature based on the chronological order of account creation dates and tweet dates.;Format instructions: Check the input and output of the API that is mentioned in the user desription, and generate synthetic API calls (with valid input and output) that fit to the required structure of this API.                Format your output as JSONL, with the actual API name as key and each line containing the input and output of a synthetic API call.Please make sure you output a valid JSON format, and don't cut it in the middle.Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Generated Output:

> Finished chain.
{'twitter_api':   input.user_id input.username                         input.bio  \
0     u2387hj10        user123        Lorem ipsum dolor sit amet
1     u3985klmn       abc_user       Consectetur adipiscing elit
2     u4567opqr      test_user  Sed do eiusmod tempor incididunt

  input.location  input.followers_count  input.following_count  \
0            USA                   1200                    600
1             UK                   1500                    700
2         Canada                   1300                    550

   input.tweet_count input.account_creation_date input.tweet_id  \
0               2300                  15/06/2015       t4390dfg
1               2600                  25/03/2012       t5678qwe
2               2100                  08/12/2018       t6789zxc

                                    input.tweet_text     input.tweet_date  \
0                        This is a sample tweet text  20/08/2015 14:30:00
1                          Another sample tweet text  10/10/2012 09:45:00
2  Lorem ipsum dolor sit amet, consectetur adipis...  05/05/2019 17:20:00

   input.likes_count  input.retweets_count  input.replies_count output.status
0                110                    55                   25       success
1                 90                    45                   20       success
2                120                    60                   30       success  }

# Quering the Data Structure

After setting up your data structure, the next step is to generate the data by refining content according to your specific needs and generating a data preview. This section guides you through the process of specifying content refinements such as region and language, initializing the data generator, and generating the dataset.

## Initialize a DataAugmentor object

First initialize the DataAugmentor object with your chosen language model (llm) and the predefined data structure (dataStructureSample), and with the specification for the defined data structure:

In [12]:
# Content refinements
region = 'France'
language = 'French'
query = ""

In [13]:
# Revisiting expert specifications to adjust it to the user query
full_query = compose_query_message(query = query, region=region, language=language)
updated_task_specifications = TaskSpecificationAugmentor.refine_specifications_by_description(llm=llm,
                                                                                           description=full_query, previous_task_specification = task_specifications)

> Entering new LLMChain chain...
Prompt after formatting:
You are an analyst whose job is to conduct a deep research for a given task, and define the needed data to collect, making sure you don't miss any relevant detail, and gain a deep understanding of the data characteristics.You already gave instructions for the needed data (see Previous Task Specifications), but now the user asks a content refinement (see User Query). Please revisit the columns distributions, and descriptive statistics and update those that have changed due to the user query.
The User Query: Data description:  ; The required region: France ; All texts should be translated to French language.;
Your Previous Task Specifications: 1. Relevant Columns:
- User ID (unique identifier)
- Username (free text)
- Bio (free text)
- Location (categorical)
- Followers Count (numerical)
- Following Count (numerical)
- Tweet Count (numerical)
- Account Creation Date (datetime)
- Tweet ID (unique identifier)
- Tweet Text (free text)
- Tweet Date (datetime)
- Likes Count (numerical)
- Retweets Count (numerical)
- Replies Count (numerical)

2. Column Details:
- User ID: format - alphanumeric, regEX - /^[0-9a-zA-Z]+$/
- Username: mean text length - 7, std text length - 2
- Location: categories - [USA, UK, Canada, Australia, Other], probabilities - [0.3, 0.2, 0.1, 0.1, 0.3]
- Followers Count: distribution - positively skewed, mean - 1000, std - 500, min - 100, max - 5000
- Following Count: distribution - positively skewed, mean - 500, std - 200, min - 50, max - 2000
- Tweet Count: distribution - normally distributed, mean - 2000, std - 1000, min - 500, max - 5000
- Account Creation Date: format - dd/mm/yyyy, min date - 01/01/2010, max date - 31/12/2022, time intervals mean - 2 years, std - 1 year
- Tweet ID: format - alphanumeric, regEX - /^[0-9a-zA-Z]+$/
- Tweet Text: mean text length - 100, std text length - 20
- Tweet Date: format - dd/mm/yyyy hh:mm:ss, min date - 01/01/2010, max date - 31/12/2022, time intervals mean - 1 day, std - 6 hours
- Likes Count: distribution - positively skewed, mean - 100, std - 50, min - 10, max - 500
- Retweets Count: distribution - positively skewed, mean - 50, std - 20, min - 5, max - 200
- Replies Count: distribution - normally distributed, mean - 20, std - 10, min - 1, max - 100

3. Constraints and Dependencies:
- User ID is unique and should be maintained as the primary key.
- Tweet ID is unique and should be maintained as the primary key.
- Engagements counts (likes, retweets, replies) should be dependent on the respective tweet.

4. Fields for LLM:
- Generation of tweet text content could benefit from a language model to ensure coherence and relevance.

5. Sequential Nature:
- This table has a sequential nature based on the chronological order of account creation dates and tweet dates.;Please make sure you output a valid textual description, just guidance, no intro and summary are needed, and don't cut it in the middle.
Generated Extracted Logic:

> Finished chain.

In [14]:
# Initialize DataConsumer
DataAugmentorObj = DataAugmentor(llm=llm, structure=dataStructureSample)

## Generate a sample

Generate a preview of your dataset to ensure it meets your requirements. You can optionally provide a query to further guide the content of the generated data. The region and language refinements will be applied to this data.

In [15]:
generated_data = DataAugmentorObj.preview_output_sample(query=query, region=region, language=language, task_specifications=updated_task_specifications)
print(generated_data)

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description:  ; The required region: France ; All texts should be translated to French language. ; The guidance given by an expert: 1. Relevant Columns:
- Identifiant de l'utilisateur (identifiant unique)
- Nom d'utilisateur (texte libre)
- Bio (texte libre)
- Lieu (catégorique)
- Nombre d'abonnés (numérique)
- Nombre de personnes suivies (numérique)
- Nombre de tweets (numérique)
- Date de création du compte (datetime)
- Identifiant du tweet (identifiant unique)
- Texte du tweet (texte libre)
- Date du tweet (datetime)
- Nombre de "J'aime" (numérique)
- Nombre de retweets (numérique)
- Nombre de réponses (numérique)

2. Column Details:
- Identifiant de l'utilisateur : format - alphanumérique, regEX - /^[0-9a-zA-Z]+$/
- Nom d'utilisateur : longueur moyenne du texte - 7, écart-type de la longueur du texte - 2
- Lieu : catégories - [États-Unis, Royaume-Uni, Canada, Australie, Autre], probabilités - [0.3, 0.2, 0.1, 0.1, 0.3]
- Nombre d'abonnés : distribution - asymétrique positive, moyenne - 1000, écart-type - 500, min - 100, max - 5000
- Nombre de personnes suivies : distribution - asymétrique positive, moyenne - 500, écart-type - 200, min - 50, max - 2000
- Nombre de tweets : distribution - normalement distribuée, moyenne - 2000, écart-type - 1000, min - 500, max - 5000
- Date de création du compte : format - jj/mm/aaaa, date minimale - 01/01/2010, date maximale - 31/12/2022, intervalles de temps moyens - 2 ans, écart-type - 1 an
- Identifiant du tweet : format - alphanumérique, regEX - /^[0-9a-zA-Z]+$/
- Texte du tweet : longueur moyenne du texte - 100, écart-type de la longueur du texte - 20
- Date du tweet : format - jj/mm/aaaa hh:mm:ss, date minimale - 01/01/2010, date maximale - 31/12/2022, intervalles de temps moyens - 1 jour, écart-type - 6 heures
- Nombre de "J'aime" : distribution - asymétrique positive, moyenne - 100, écart-type - 50, min - 10, max - 500
- Nombre de retweets : distribution - asymétrique positive, moyenne - 50, écart-type - 20, min - 5, max - 200
- Nombre de réponses : distribution - normalement distribuée, moyenne - 20, écart-type - 10, min - 1, max - 100

3. Constraints and Dependencies:
- L'identifiant de l'utilisateur est unique et doit être maintenu comme clé primaire.
- L'identifiant du tweet est unique et doit être maintenu comme clé primaire.
- Les compteurs d'engagements (likes, retweets, réponses) doivent dépendre du tweet correspondant.

4. Fields for LLM:
- La génération du contenu textuel des tweets pourrait bénéficier d'un modèle de langage pour assurer la cohérence et la pertinence.

5. Sequential Nature:
- Cette table a une nature séquentielle basée sur l'ordre chronologique des dates de création des comptes et des dates des tweets...Required Structure: {
    "twitter_api": [
        {
            "input": {
                "user_id": "u2387hj10",
                "username": "user123",
                "bio": "Lorem ipsum dolor sit amet",
                "location": "USA",
                "followers_count": 1200,
                "following_count": 600,
                "tweet_count": 2300,
                "account_creation_date": "15/06/2015",
                "tweet_id": "t4390dfg",
                "tweet_text": "This is a sample tweet text",
                "tweet_date": "20/08/2015 14:30:00",
                "likes_count": 110,
                "retweets_count": 55,
                "replies_count": 25
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u3985klmn",
                "username": "abc_user",
                "bio": "Consectetur adipiscing elit",
                "location": "UK",
                "followers_count": 1500,
                "following_count": 700,
                "tweet_count": 2600,
                "account_creation_date": "25/03/2012",
                "tweet_id": "t5678qwe",
                "tweet_text": "Another sample tweet text",
                "tweet_date": "10/10/2012 09:45:00",
                "likes_count": 90,
                "retweets_count": 45,
                "replies_count": 20
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u4567opqr",
                "username": "test_user",
                "bio": "Sed do eiusmod tempor incididunt",
                "location": "Canada",
                "followers_count": 1300,
                "following_count": 550,
                "tweet_count": 2100,
                "account_creation_date": "08/12/2018",
                "tweet_id": "t6789zxc",
                "tweet_text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
                "tweet_date": "05/05/2019 17:20:00",
                "likes_count": 120,
                "retweets_count": 60,
                "replies_count": 30
            },
            "output": {
                "status": "success"
            }
        }
    ]
}.The previous generated batch (maintain sequential patterns if needed): unknown.Add Randomness: 0.7124913875087483.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:

> Finished chain.
{'twitter_api':    input.user_id    input.username                         input.bio  \
0       u8712abc           user456  Sed do eiusmod tempor incididunt
1      u5678defg          new_user        Lorem ipsum dolor sit amet
2      u3456ijkl  utilisateur_test       Consectetur adipiscing elit
3      u9876mnop   abc_utilisateur  Sed do eiusmod tempor incididunt
4      u2345qrst           test123        Lorem ipsum dolor sit amet
5      u7890hijk         user_test       Consectetur adipiscing elit
6      u9012uvwx   xyz_utilisateur  Sed do eiusmod tempor incididunt
7      u6789klmo   utilisateur_xyz        Lorem ipsum dolor sit amet
8      u1234abcd         abcd_user       Consectetur adipiscing elit
9      u3456efgh      test_user123  Sed do eiusmod tempor incididunt
10    u2345ijklm   utilisateur_123        Lorem ipsum dolor sit amet

   input.location  input.followers_count  input.following_count  \
0          Canada                   1400                    700
1             USA                   1100                    550
2              UK                   1600                    650
3          Canada                   1200                    600
4             USA                   1300                    500
5              UK                   1400                    700
6          Canada                   1500                    650
7             USA                   1100                    550
8              UK                   1600                    650
9          Canada                   1300                    600
10            USA                   1400                    700

    input.tweet_count input.account_creation_date input.tweet_id  \
0                2400                  03/09/2013       t8901vbn
1                2200                  18/07/2011       t6789rty
2                2800                  29/05/2014       t1234fgh
3                2600                  22/08/2016       t3456mnb
4                2300                  11/11/2018       t4567zxc
5                2700                  04/04/2015       t2345qwe
6                2500                  17/02/2017       t5678yhn
7                2400                  31/01/2019       t7890iop
8                2600                  09/06/2016       t1234bnm
9                2500                  14/03/2014       t4567vbn
10               2700                  23/12/2017       t5678rty

                              input.tweet_text     input.tweet_date  \
0           Voici un exemple de texte de tweet  12/11/2013 11:50:00
1          Encore un exemple de texte de tweet  25/04/2012 08:15:00
2           Un autre exemple de texte de tweet  15/09/2014 16:40:00
3              Texte de tweet de démonstration  30/01/2017 10:25:00
4               Tweet de synthèse pour exemple  08/03/2019 13:15:00
5          Exemple de texte de tweet aléatoire  22/10/2015 09:30:00
6   Texte de tweet généré de manière aléatoire  02/06/2017 14:45:00
7            Texte de tweet pour démonstration  18/05/2019 12:10:00
8                     Texte de tweet aléatoire  05/12/2016 15:20:00
9                  Texte de tweet pour exemple  28/07/2014 11:40:00
10            Exemple de texte de tweet généré  10/09/2018 10:35:00

    input.likes_count  input.retweets_count  input.replies_count output.status
0                 130                    65                   35       success
1                 100                    50                   20       success
2                 120                    55                   30       success
3                 110                    60                   25       success
4                 130                    70                   30       success
5                 120                    65                   35       success
6                 140                    70                   40       success
7                 110                    60                   25       success
8                 120                    55                   30       success
9                 130                    65                   35       success
10                140                    70                   40       success  }

## Generating Full Output

To generate the full dataset, use the consumeData method. Specify your query (if any), optionaly the region and language, and the number of records you wish to generate.

In [16]:
# Initialize Generator
#generatorObj = DataAugmentor(llm=llm, structure=dataStructureSample)
query = "Taylor Swift fans"
generated_data = DataAugmentorObj.generate_data( query=query, region=region, language=language, task_specifications=updated_task_specifications, num_records=15)

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description: Taylor Swift fans ; The required region: France ; All texts should be translated to French language. ; The guidance given by an expert: 1. Relevant Columns:
- Identifiant de l'utilisateur (identifiant unique)
- Nom d'utilisateur (texte libre)
- Bio (texte libre)
- Lieu (catégorique)
- Nombre d'abonnés (numérique)
- Nombre de personnes suivies (numérique)
- Nombre de tweets (numérique)
- Date de création du compte (datetime)
- Identifiant du tweet (identifiant unique)
- Texte du tweet (texte libre)
- Date du tweet (datetime)
- Nombre de "J'aime" (numérique)
- Nombre de retweets (numérique)
- Nombre de réponses (numérique)

2. Column Details:
- Identifiant de l'utilisateur : format - alphanumérique, regEX - /^[0-9a-zA-Z]+$/
- Nom d'utilisateur : longueur moyenne du texte - 7, écart-type de la longueur du texte - 2
- Lieu : catégories - [États-Unis, Royaume-Uni, Canada, Australie, Autre], probabilités - [0.3, 0.2, 0.1, 0.1, 0.3]
- Nombre d'abonnés : distribution - asymétrique positive, moyenne - 1000, écart-type - 500, min - 100, max - 5000
- Nombre de personnes suivies : distribution - asymétrique positive, moyenne - 500, écart-type - 200, min - 50, max - 2000
- Nombre de tweets : distribution - normalement distribuée, moyenne - 2000, écart-type - 1000, min - 500, max - 5000
- Date de création du compte : format - jj/mm/aaaa, date minimale - 01/01/2010, date maximale - 31/12/2022, intervalles de temps moyens - 2 ans, écart-type - 1 an
- Identifiant du tweet : format - alphanumérique, regEX - /^[0-9a-zA-Z]+$/
- Texte du tweet : longueur moyenne du texte - 100, écart-type de la longueur du texte - 20
- Date du tweet : format - jj/mm/aaaa hh:mm:ss, date minimale - 01/01/2010, date maximale - 31/12/2022, intervalles de temps moyens - 1 jour, écart-type - 6 heures
- Nombre de "J'aime" : distribution - asymétrique positive, moyenne - 100, écart-type - 50, min - 10, max - 500
- Nombre de retweets : distribution - asymétrique positive, moyenne - 50, écart-type - 20, min - 5, max - 200
- Nombre de réponses : distribution - normalement distribuée, moyenne - 20, écart-type - 10, min - 1, max - 100

3. Constraints and Dependencies:
- L'identifiant de l'utilisateur est unique et doit être maintenu comme clé primaire.
- L'identifiant du tweet est unique et doit être maintenu comme clé primaire.
- Les compteurs d'engagements (likes, retweets, réponses) doivent dépendre du tweet correspondant.

4. Fields for LLM:
- La génération du contenu textuel des tweets pourrait bénéficier d'un modèle de langage pour assurer la cohérence et la pertinence.

5. Sequential Nature:
- Cette table a une nature séquentielle basée sur l'ordre chronologique des dates de création des comptes et des dates des tweets...Required Structure: {
    "twitter_api": [
        {
            "input": {
                "user_id": "u2387hj10",
                "username": "user123",
                "bio": "Lorem ipsum dolor sit amet",
                "location": "USA",
                "followers_count": 1200,
                "following_count": 600,
                "tweet_count": 2300,
                "account_creation_date": "15/06/2015",
                "tweet_id": "t4390dfg",
                "tweet_text": "This is a sample tweet text",
                "tweet_date": "20/08/2015 14:30:00",
                "likes_count": 110,
                "retweets_count": 55,
                "replies_count": 25
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u3985klmn",
                "username": "abc_user",
                "bio": "Consectetur adipiscing elit",
                "location": "UK",
                "followers_count": 1500,
                "following_count": 700,
                "tweet_count": 2600,
                "account_creation_date": "25/03/2012",
                "tweet_id": "t5678qwe",
                "tweet_text": "Another sample tweet text",
                "tweet_date": "10/10/2012 09:45:00",
                "likes_count": 90,
                "retweets_count": 45,
                "replies_count": 20
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u4567opqr",
                "username": "test_user",
                "bio": "Sed do eiusmod tempor incididunt",
                "location": "Canada",
                "followers_count": 1300,
                "following_count": 550,
                "tweet_count": 2100,
                "account_creation_date": "08/12/2018",
                "tweet_id": "t6789zxc",
                "tweet_text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
                "tweet_date": "05/05/2019 17:20:00",
                "likes_count": 120,
                "retweets_count": 60,
                "replies_count": 30
            },
            "output": {
                "status": "success"
            }
        }
    ]
}.The previous generated batch (maintain sequential patterns if needed): {
    "twitter_api": [
        {
            "input": {
                "user_id": "u8712abc",
                "username": "user456",
                "bio": "Sed do eiusmod tempor incididunt",
                "location": "Canada",
                "followers_count": 1400,
                "following_count": 700,
                "tweet_count": 2400,
                "account_creation_date": "03/09/2013",
                "tweet_id": "t8901vbn",
                "tweet_text": "Voici un exemple de texte de tweet",
                "tweet_date": "12/11/2013 11:50:00",
                "likes_count": 130,
                "retweets_count": 65,
                "replies_count": 35
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u5678defg",
                "username": "new_user",
                "bio": "Lorem ipsum dolor sit amet",
                "location": "USA",
                "followers_count": 1100,
                "following_count": 550,
                "tweet_count": 2200,
                "account_creation_date": "18/07/2011",
                "tweet_id": "t6789rty",
                "tweet_text": "Encore un exemple de texte de tweet",
                "tweet_date": "25/04/2012 08:15:00",
                "likes_count": 100,
                "retweets_count": 50,
                "replies_count": 20
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u3456ijkl",
                "username": "utilisateur_test",
                "bio": "Consectetur adipiscing elit",
                "location": "UK",
                "followers_count": 1600,
                "following_count": 650,
                "tweet_count": 2800,
                "account_creation_date": "29/05/2014",
                "tweet_id": "t1234fgh",
                "tweet_text": "Un autre exemple de texte de tweet",
                "tweet_date": "15/09/2014 16:40:00",
                "likes_count": 120,
                "retweets_count": 55,
                "replies_count": 30
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u9876mnop",
                "username": "abc_utilisateur",
                "bio": "Sed do eiusmod tempor incididunt",
                "location": "Canada",
                "followers_count": 1200,
                "following_count": 600,
                "tweet_count": 2600,
                "account_creation_date": "22/08/2016",
                "tweet_id": "t3456mnb",
                "tweet_text": "Texte de tweet de démonstration",
                "tweet_date": "30/01/2017 10:25:00",
                "likes_count": 110,
                "retweets_count": 60,
                "replies_count": 25
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u2345qrst",
                "username": "test123",
                "bio": "Lorem ipsum dolor sit amet",
                "location": "USA",
                "followers_count": 1300,
                "following_count": 500,
                "tweet_count": 2300,
                "account_creation_date": "11/11/2018",
                "tweet_id": "t4567zxc",
                "tweet_text": "Tweet de synthèse pour exemple",
                "tweet_date": "08/03/2019 13:15:00",
                "likes_count": 130,
                "retweets_count": 70,
                "replies_count": 30
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u7890hijk",
                "username": "user_test",
                "bio": "Consectetur adipiscing elit",
                "location": "UK",
                "followers_count": 1400,
                "following_count": 700,
                "tweet_count": 2700,
                "account_creation_date": "04/04/2015",
                "tweet_id": "t2345qwe",
                "tweet_text": "Exemple de texte de tweet aléatoire",
                "tweet_date": "22/10/2015 09:30:00",
                "likes_count": 120,
                "retweets_count": 65,
                "replies_count": 35
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u9012uvwx",
                "username": "xyz_utilisateur",
                "bio": "Sed do eiusmod tempor incididunt",
                "location": "Canada",
                "followers_count": 1500,
                "following_count": 650,
                "tweet_count": 2500,
                "account_creation_date": "17/02/2017",
                "tweet_id": "t5678yhn",
                "tweet_text": "Texte de tweet généré de manière aléatoire",
                "tweet_date": "02/06/2017 14:45:00",
                "likes_count": 140,
                "retweets_count": 70,
                "replies_count": 40
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u6789klmo",
                "username": "utilisateur_xyz",
                "bio": "Lorem ipsum dolor sit amet",
                "location": "USA",
                "followers_count": 1100,
                "following_count": 550,
                "tweet_count": 2400,
                "account_creation_date": "31/01/2019",
                "tweet_id": "t7890iop",
                "tweet_text": "Texte de tweet pour démonstration",
                "tweet_date": "18/05/2019 12:10:00",
                "likes_count": 110,
                "retweets_count": 60,
                "replies_count": 25
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u1234abcd",
                "username": "abcd_user",
                "bio": "Consectetur adipiscing elit",
                "location": "UK",
                "followers_count": 1600,
                "following_count": 650,
                "tweet_count": 2600,
                "account_creation_date": "09/06/2016",
                "tweet_id": "t1234bnm",
                "tweet_text": "Texte de tweet aléatoire",
                "tweet_date": "05/12/2016 15:20:00",
                "likes_count": 120,
                "retweets_count": 55,
                "replies_count": 30
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u3456efgh",
                "username": "test_user123",
                "bio": "Sed do eiusmod tempor incididunt",
                "location": "Canada",
                "followers_count": 1300,
                "following_count": 600,
                "tweet_count": 2500,
                "account_creation_date": "14/03/2014",
                "tweet_id": "t4567vbn",
                "tweet_text": "Texte de tweet pour exemple",
                "tweet_date": "28/07/2014 11:40:00",
                "likes_count": 130,
                "retweets_count": 65,
                "replies_count": 35
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u2345ijklm",
                "username": "utilisateur_123",
                "bio": "Lorem ipsum dolor sit amet",
                "location": "USA",
                "followers_count": 1400,
                "following_count": 700,
                "tweet_count": 2700,
                "account_creation_date": "23/12/2017",
                "tweet_id": "t5678rty",
                "tweet_text": "Exemple de texte de tweet généré",
                "tweet_date": "10/09/2018 10:35:00",
                "likes_count": 140,
                "retweets_count": 70,
                "replies_count": 40
            },
            "output": {
                "status": "success"
            }
        }
    ]
}.Add Randomness: 0.33164185558074755.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description: Taylor Swift fans ; The required region: France ; All texts should be translated to French language. ; The guidance given by an expert: 1. Relevant Columns:
- Identifiant de l'utilisateur (identifiant unique)
- Nom d'utilisateur (texte libre)
- Bio (texte libre)
- Lieu (catégorique)
- Nombre d'abonnés (numérique)
- Nombre de personnes suivies (numérique)
- Nombre de tweets (numérique)
- Date de création du compte (datetime)
- Identifiant du tweet (identifiant unique)
- Texte du tweet (texte libre)
- Date du tweet (datetime)
- Nombre de "J'aime" (numérique)
- Nombre de retweets (numérique)
- Nombre de réponses (numérique)

2. Column Details:
- Identifiant de l'utilisateur : format - alphanumérique, regEX - /^[0-9a-zA-Z]+$/
- Nom d'utilisateur : longueur moyenne du texte - 7, écart-type de la longueur du texte - 2
- Lieu : catégories - [États-Unis, Royaume-Uni, Canada, Australie, Autre], probabilités - [0.3, 0.2, 0.1, 0.1, 0.3]
- Nombre d'abonnés : distribution - asymétrique positive, moyenne - 1000, écart-type - 500, min - 100, max - 5000
- Nombre de personnes suivies : distribution - asymétrique positive, moyenne - 500, écart-type - 200, min - 50, max - 2000
- Nombre de tweets : distribution - normalement distribuée, moyenne - 2000, écart-type - 1000, min - 500, max - 5000
- Date de création du compte : format - jj/mm/aaaa, date minimale - 01/01/2010, date maximale - 31/12/2022, intervalles de temps moyens - 2 ans, écart-type - 1 an
- Identifiant du tweet : format - alphanumérique, regEX - /^[0-9a-zA-Z]+$/
- Texte du tweet : longueur moyenne du texte - 100, écart-type de la longueur du texte - 20
- Date du tweet : format - jj/mm/aaaa hh:mm:ss, date minimale - 01/01/2010, date maximale - 31/12/2022, intervalles de temps moyens - 1 jour, écart-type - 6 heures
- Nombre de "J'aime" : distribution - asymétrique positive, moyenne - 100, écart-type - 50, min - 10, max - 500
- Nombre de retweets : distribution - asymétrique positive, moyenne - 50, écart-type - 20, min - 5, max - 200
- Nombre de réponses : distribution - normalement distribuée, moyenne - 20, écart-type - 10, min - 1, max - 100

3. Constraints and Dependencies:
- L'identifiant de l'utilisateur est unique et doit être maintenu comme clé primaire.
- L'identifiant du tweet est unique et doit être maintenu comme clé primaire.
- Les compteurs d'engagements (likes, retweets, réponses) doivent dépendre du tweet correspondant.

4. Fields for LLM:
- La génération du contenu textuel des tweets pourrait bénéficier d'un modèle de langage pour assurer la cohérence et la pertinence.

5. Sequential Nature:
- Cette table a une nature séquentielle basée sur l'ordre chronologique des dates de création des comptes et des dates des tweets...Required Structure: {
    "twitter_api": [
        {
            "input": {
                "user_id": "u2387hj10",
                "username": "user123",
                "bio": "Lorem ipsum dolor sit amet",
                "location": "USA",
                "followers_count": 1200,
                "following_count": 600,
                "tweet_count": 2300,
                "account_creation_date": "15/06/2015",
                "tweet_id": "t4390dfg",
                "tweet_text": "This is a sample tweet text",
                "tweet_date": "20/08/2015 14:30:00",
                "likes_count": 110,
                "retweets_count": 55,
                "replies_count": 25
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u3985klmn",
                "username": "abc_user",
                "bio": "Consectetur adipiscing elit",
                "location": "UK",
                "followers_count": 1500,
                "following_count": 700,
                "tweet_count": 2600,
                "account_creation_date": "25/03/2012",
                "tweet_id": "t5678qwe",
                "tweet_text": "Another sample tweet text",
                "tweet_date": "10/10/2012 09:45:00",
                "likes_count": 90,
                "retweets_count": 45,
                "replies_count": 20
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u4567opqr",
                "username": "test_user",
                "bio": "Sed do eiusmod tempor incididunt",
                "location": "Canada",
                "followers_count": 1300,
                "following_count": 550,
                "tweet_count": 2100,
                "account_creation_date": "08/12/2018",
                "tweet_id": "t6789zxc",
                "tweet_text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
                "tweet_date": "05/05/2019 17:20:00",
                "likes_count": 120,
                "retweets_count": 60,
                "replies_count": 30
            },
            "output": {
                "status": "success"
            }
        }
    ]
}.The previous generated batch (maintain sequential patterns if needed): {
    "twitter_api": [
        {
            "input": {
                "user_id": "u0987qrst",
                "username": "fan123",
                "bio": "Amateur de Taylor Swift depuis des années",
                "location": "Australie",
                "followers_count": 1250,
                "following_count": 550,
                "tweet_count": 2200,
                "account_creation_date": "12/08/2014",
                "tweet_id": "t9876hjk",
                "tweet_text": "J'adore la nouvelle chanson de Taylor Swift!",
                "tweet_date": "18/10/2014 16:25:00",

## Generating Full Output in Parallel

For more efficient data generation, especially when dealing with large datasets or multiple requests, our package supports parallel processing. This section covers how to utilize the consumeDataInParallel method of the DataConsumer class to generate your dataset asynchronously.

### Setup for Parallel Execution

To ensure smooth parallel execution, especially within environments that don't natively support asynchronous operations (like Jupyter notebooks), we use nest_asyncio. This module allows asyncio to run inside environments with their own event loops.

In [17]:
import nest_asyncio
nest_asyncio.apply()

### Generate Full Output in Parallel

To generate data in parallel, use the generate_data_in_parallel coroutine. This method allows you to specify the query (if any), the number of records, region, and language, similarly to consumeData, but executes multiple data generation tasks concurrently.

In [18]:
import asyncio
generated_data = asyncio.run(DataAugmentorObj.generate_data_in_parallel(query = "", records=20, task_specifications=updated_task_specifications, region=region, language=language))

> Entering new LLMChain chain...


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description:  ; The required region: France ; All texts should be translated to French language. ; The guidance given by an expert: 1. Relevant Columns:
- Identifiant de l'utilisateur (identifiant unique)
- Nom d'utilisateur (texte libre)
- Bio (texte libre)
- Lieu (catégorique)
- Nombre d'abonnés (numérique)
- Nombre de personnes suivies (numérique)
- Nombre de tweets (numérique)
- Date de création du compte (datetime)
- Identifiant du tweet (identifiant unique)
- Texte du tweet (texte libre)
- Date du tweet (datetime)
- Nombre de "J'aime" (numérique)
- Nombre de retweets (numérique)
- Nombre de réponses (numérique)

2. Column Details:
- Identifiant de l'utilisateur : format - alphanumérique, regEX - /^[0-9a-zA-Z]+$/
- Nom d'utilisateur : longueur moyenne du texte - 7, écart-type de la longueur du texte - 2
- Lieu : catégories - [États-Unis, Royaume-Uni, Canada, Australie, Autre], probabilités - [0.3, 0.2, 0.1, 0.1, 0.3]
- Nombre d'abonnés : distribution - asymétrique positive, moyenne - 1000, écart-type - 500, min - 100, max - 5000
- Nombre de personnes suivies : distribution - asymétrique positive, moyenne - 500, écart-type - 200, min - 50, max - 2000
- Nombre de tweets : distribution - normalement distribuée, moyenne - 2000, écart-type - 1000, min - 500, max - 5000
- Date de création du compte : format - jj/mm/aaaa, date minimale - 01/01/2010, date maximale - 31/12/2022, intervalles de temps moyens - 2 ans, écart-type - 1 an
- Identifiant du tweet : format - alphanumérique, regEX - /^[0-9a-zA-Z]+$/
- Texte du tweet : longueur moyenne du texte - 100, écart-type de la longueur du texte - 20
- Date du tweet : format - jj/mm/aaaa hh:mm:ss, date minimale - 01/01/2010, date maximale - 31/12/2022, intervalles de temps moyens - 1 jour, écart-type - 6 heures
- Nombre de "J'aime" : distribution - asymétrique positive, moyenne - 100, écart-type - 50, min - 10, max - 500
- Nombre de retweets : distribution - asymétrique positive, moyenne - 50, écart-type - 20, min - 5, max - 200
- Nombre de réponses : distribution - normalement distribuée, moyenne - 20, écart-type - 10, min - 1, max - 100

3. Constraints and Dependencies:
- L'identifiant de l'utilisateur est unique et doit être maintenu comme clé primaire.
- L'identifiant du tweet est unique et doit être maintenu comme clé primaire.
- Les compteurs d'engagements (likes, retweets, réponses) doivent dépendre du tweet correspondant.

4. Fields for LLM:
- La génération du contenu textuel des tweets pourrait bénéficier d'un modèle de langage pour assurer la cohérence et la pertinence.

5. Sequential Nature:
- Cette table a une nature séquentielle basée sur l'ordre chronologique des dates de création des comptes et des dates des tweets...Required Structure: {
    "twitter_api": [
        {
            "input": {
                "user_id": "u2387hj10",
                "username": "user123",
                "bio": "Lorem ipsum dolor sit amet",
                "location": "USA",
                "followers_count": 1200,
                "following_count": 600,
                "tweet_count": 2300,
                "account_creation_date": "15/06/2015",
                "tweet_id": "t4390dfg",
                "tweet_text": "This is a sample tweet text",
                "tweet_date": "20/08/2015 14:30:00",
                "likes_count": 110,
                "retweets_count": 55,
                "replies_count": 25
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u3985klmn",
                "username": "abc_user",
                "bio": "Consectetur adipiscing elit",
                "location": "UK",
                "followers_count": 1500,
                "following_count": 700,
                "tweet_count": 2600,
                "account_creation_date": "25/03/2012",
                "tweet_id": "t5678qwe",
                "tweet_text": "Another sample tweet text",
                "tweet_date": "10/10/2012 09:45:00",
                "likes_count": 90,
                "retweets_count": 45,
                "replies_count": 20
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u4567opqr",
                "username": "test_user",
                "bio": "Sed do eiusmod tempor incididunt",
                "location": "Canada",
                "followers_count": 1300,
                "following_count": 550,
                "tweet_count": 2100,
                "account_creation_date": "08/12/2018",
                "tweet_id": "t6789zxc",
                "tweet_text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
                "tweet_date": "05/05/2019 17:20:00",
                "likes_count": 120,
                "retweets_count": 60,
                "replies_count": 30
            },
            "output": {
                "status": "success"
            }
        }
    ]
}.The previous generated batch (maintain sequential patterns if needed): unknown.Add Randomness: 0.9533039250439691.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description:  ; The required region: France ; All texts should be translated to French language. ; The guidance given by an expert: 1. Relevant Columns:
- Identifiant de l'utilisateur (identifiant unique)
- Nom d'utilisateur (texte libre)
- Bio (texte libre)
- Lieu (catégorique)
- Nombre d'abonnés (numérique)
- Nombre de personnes suivies (numérique)
- Nombre de tweets (numérique)
- Date de création du compte (datetime)
- Identifiant du tweet (identifiant unique)
- Texte du tweet (texte libre)
- Date du tweet (datetime)
- Nombre de "J'aime" (numérique)
- Nombre de retweets (numérique)
- Nombre de réponses (numérique)

2. Column Details:
- Identifiant de l'utilisateur : format - alphanumérique, regEX - /^[0-9a-zA-Z]+$/
- Nom d'utilisateur : longueur moyenne du texte - 7, écart-type de la longueur du texte - 2
- Lieu : catégories - [États-Unis, Royaume-Uni, Canada, Australie, Autre], probabilités - [0.3, 0.2, 0.1, 0.1, 0.3]
- Nombre d'abonnés : distribution - asymétrique positive, moyenne - 1000, écart-type - 500, min - 100, max - 5000
- Nombre de personnes suivies : distribution - asymétrique positive, moyenne - 500, écart-type - 200, min - 50, max - 2000
- Nombre de tweets : distribution - normalement distribuée, moyenne - 2000, écart-type - 1000, min - 500, max - 5000
- Date de création du compte : format - jj/mm/aaaa, date minimale - 01/01/2010, date maximale - 31/12/2022, intervalles de temps moyens - 2 ans, écart-type - 1 an
- Identifiant du tweet : format - alphanumérique, regEX - /^[0-9a-zA-Z]+$/
- Texte du tweet : longueur moyenne du texte - 100, écart-type de la longueur du texte - 20
- Date du tweet : format - jj/mm/aaaa hh:mm:ss, date minimale - 01/01/2010, date maximale - 31/12/2022, intervalles de temps moyens - 1 jour, écart-type - 6 heures
- Nombre de "J'aime" : distribution - asymétrique positive, moyenne - 100, écart-type - 50, min - 10, max - 500
- Nombre de retweets : distribution - asymétrique positive, moyenne - 50, écart-type - 20, min - 5, max - 200
- Nombre de réponses : distribution - normalement distribuée, moyenne - 20, écart-type - 10, min - 1, max - 100

3. Constraints and Dependencies:
- L'identifiant de l'utilisateur est unique et doit être maintenu comme clé primaire.
- L'identifiant du tweet est unique et doit être maintenu comme clé primaire.
- Les compteurs d'engagements (likes, retweets, réponses) doivent dépendre du tweet correspondant.

4. Fields for LLM:
- La génération du contenu textuel des tweets pourrait bénéficier d'un modèle de langage pour assurer la cohérence et la pertinence.

5. Sequential Nature:
- Cette table a une nature séquentielle basée sur l'ordre chronologique des dates de création des comptes et des dates des tweets...Required Structure: {
    "twitter_api": [
        {
            "input": {
                "user_id": "u2387hj10",
                "username": "user123",
                "bio": "Lorem ipsum dolor sit amet",
                "location": "USA",
                "followers_count": 1200,
                "following_count": 600,
                "tweet_count": 2300,
                "account_creation_date": "15/06/2015",
                "tweet_id": "t4390dfg",
                "tweet_text": "This is a sample tweet text",
                "tweet_date": "20/08/2015 14:30:00",
                "likes_count": 110,
                "retweets_count": 55,
                "replies_count": 25
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u3985klmn",
                "username": "abc_user",
                "bio": "Consectetur adipiscing elit",
                "location": "UK",
                "followers_count": 1500,
                "following_count": 700,
                "tweet_count": 2600,
                "account_creation_date": "25/03/2012",
                "tweet_id": "t5678qwe",
                "tweet_text": "Another sample tweet text",
                "tweet_date": "10/10/2012 09:45:00",
                "likes_count": 90,
                "retweets_count": 45,
                "replies_count": 20
            },
            "output": {
                "status": "success"
            }
        },
        {
            "input": {
                "user_id": "u4567opqr",
                "username": "test_user",
                "bio": "Sed do eiusmod tempor incididunt",
                "location": "Canada",
                "followers_count": 1300,
                "following_count": 550,
                "tweet_count": 2100,
                "account_creation_date": "08/12/2018",
                "tweet_id": "t6789zxc",
                "tweet_text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
                "tweet_date": "05/05/2019 17:20:00",
                "likes_count": 120,
                "retweets_count": 60,
                "replies_count": 30
            },
            "output": {
                "status": "success"
            }
        }
    ]
}.The previous generated batch (maintain sequential patterns if needed): unknown.Add Randomness: 0.7936704760923782.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:

> Finished chain.

> Finished chain.

In [19]:
generated_data

{'twitter_api':    input.user_id    input.username  \
 0       u5je9h1a       superstar23
 1       u76tyk2h        voyageur78
 2       u9hj4k8n       fashionista
 3       u2p3o5i7      fitnesslover
 4       u6k8jd4h           gourmet
 5       u87fgh2a      photographie
 6       u3gh5kj9       cinemalover
 7       u4hjbr8l           artiste
 8       u543op0i       naturelover
 9       u2n34gf5   tech_enthusiast
 10      u2p48j9s          bookworm
 11     u5678ghj2           user456
 12     u7890abcd    utilisateur789
 13     u1234efg5           test123
 14     u2345ijk6      exemple_user
 15     u7890lmn1   utilisateur7890
 16     u3456opq7           test456
 17     u1234ijko  utilisateur_test
 18     u4567klm8         user_test
 19     u5678zxc9        exemple123

                                             input.bio input.location  \
 0              Bonjour! Je suis passionné de musique.          Autre
 1                 Passionné de voyages et d'aventure.    Royaume-Uni
 2                             La mode est ma passion!         France
 3                   Entraînement, santé et bien-être.     États-Unis
 4                Amateur de cuisine et de bons plats.      Australie
 5   Capturer des moments inoubliables à travers mo...         France
 6         Passionné de cinéma et de films classiques.          Autre
 7        L'art est ma façon d'exprimer ma créativité.          Autre
 8   Explorer la beauté de la nature et de l'enviro...      Australie
 9             Toujours à la pointe de la technologie.    Royaume-Uni
 10        Dévoreur de livres et passionné de lecture.         Canada
 11    Sed ut perspiciatis unde omnis iste natus error          Autre
 12  Nemo enim ipsam voluptatem quia voluptas sit a...      Australie
 13              Quis autem vel eum iure reprehenderit    Royaume-Uni
 14     Excepteur sint occaecat cupidatat non proident     États-Unis
 15  Duis aute irure dolor in reprehenderit in volu...          Autre
 16  Sunt in culpa qui officia deserunt mollit anim...          Autre
 17  Lorem ipsum dolor sit amet, consectetur adipis...          Autre
 18  Ut enim ad minim veniam, quis nostrud exercita...          Autre
 19  Exercitation ullamco laboris nisi ut aliquip e...          Autre

     input.followers_count  input.following_count  input.tweet_count  \
 0                     950                    520               1800
 1                    1350                    620               2450
 2                    1100                    540               2200
 3                    1250                    580               2300
 4                    1050                    530               2000
 5                    1150                    560               2100
 6                     970                    510               1900
 7                     990                    525               1950
 8                    1020                    540               2050
 9                    1300                    590               2150
 10                   1070                    535               1975
 11                    900                    400               1800
 12                   1100                    650               2400
 13                   1400                    700               2500
 14                    950                    450               1900
 15                   1050                    500               2000
 16                    960                    470               1950
 17                   1020                    480               1960
 18                    980                    460               1850
 19                    970                    455               1925

    input.account_creation_date input.tweet_id  \
 0                   21/07/2014       t3sd5f89
 1                   12/04/2011       t098fa3g
 2                   29/10/2016       t567g8j3
 3                   07/03/2013       t890df4g
 4                   14/08/2015       t456fgh9
 5                   25/06/2017       t234gh5j
 6                   18/12/2014       t543jg7s
 7                   02/09/2013       t678as2d
 8                   09/05/2016       t890kls2
 9                   30/11/2012       t45l7k98
 10                  16/01/2015       t678as90
 11                  12/09/2013       t2345hjk
 12                  29/11/2016       t3456vbn
 13                  03/07/2014       t4567yui
 14                  21/05/2015       t5678bnm
 15                  16/10/2017       t6789poi
 16                  09/02/2016       t7890zxc
 17                  24/08/2019       t8901vbn
 18                  02/04/2018       t9012dfg
 19                  06/01/2014       t0123rty

                                      input.tweet_text     input.tweet_date  \
 0                          Vive la musique française!  28/09/2014 11:15:00
 1           Découvrons de nouveaux horizons ensemble!  02/11/2011 08:50:00
 2   Les tendances de la mode cette saison sont inc...  15/02/2017 16:40:00
 3           Une vie saine commence par de bons choix!  19/09/2013 13:20:00
 4       Partageons des recettes délicieuses ensemble!  30/11/2015 10:10:00
 5           Chaque photo raconte une histoire unique.  03/12/2017 14:45:00
 6       Les chefs-d'œuvre du cinéma sont intemporels!  25/02/2015 09:30:00
 7               Chaque œuvre est une part de mon âme.  10/01/2014 12:20:00
 8   Protégeons notre planète pour les générations ...  22/10/2016 15:55:00
 9   Les innovations technologiques changent le monde!  12/05/2013 18:30:00
 10  Chaque livre est une porte vers un nouvel univ...  28/04/2015 11:40:00
 11                 Un autre exemple de texte de tweet  20/03/2014 10:15:00
 12          Encore un autre exemple de texte de tweet  18/02/2017 16:45:00
 13                 Voici un exemple de texte de tweet  12/12/2014 09:30:00
 14                          Un autre exemple de tweet  08/09/2015 14:00:00
 15              Ceci est un exemple de texte de tweet  25/01/2018 12:00:00
 16                          Un tweet de démonstration  28/04/2016 11:20:00
 17                   Encore un tweet de démonstration  03/12/2019 08:45:00
 18                       Juste un autre tweet de test  19/07/2018 15:10:00
 19                    Un dernier tweet pour l'exemple  14/04/2014 13:45:00

     input.likes_count  input.retweets_count  input.replies_count output.status
 0                  80                    40                   15       success
 1                  95                    50                   22       success
 2                 100                    55                   28       success
 3                  85                    48                   20       success
 4                  95                    45                   18       success
 5                 105                    52                   23       success
 6                  75                    42                   17       success
 7                  70                    38                   24       success
 8                  90                    46                   19       success
 9                 100                    48                   21       success
 10                 80                    44                   16       success
 11                 80                    40                   15       success
 12                100                    50                   20       success
 13                 95                    47                   23       success
 14                 85                    42                   19       success
 15                105                    52                   21       success
 16                 88                    44                   18       success
 17                 92                    46                   22       success
 18                 86                    43                   17       success
 19                 87                    41                   16       success  }

# From Example Data to Data Structure and Generation

This guide outlines the process of extracting a data structure from a given CSV file and using that structure to generate new data. This is particularly useful when you have sample data and want to replicate its structure with new, synthesized content.

### Extract Data Structure from CSV

To begin, you'll need to specify the path to your CSV file and the file name. Then, use the create_json_sample_from_csv function to extract the data structure.

In [8]:
import os
import pandas as pd
# Specify the path and file name
path = r'C:\Users\Sigal\data\\'
file_name = r"titanic.csv"

# Extract data structure from the CSV file
dataStructureSample = create_json_sample_from_csv(path, file_name)
print(dataStructureSample)

{"titanic.csv": [{"PassengerId":628,"Survived":1,"Pclass":1,"Name":"Longley, Miss. Gretchen Fiske","Sex":"female","Age":21.0,"SibSp":0,"Parch":0,"Ticket":"13502","Fare":77.9583,"Cabin":"D9","Embarked":"S"},{"PassengerId":391,"Survived":1,"Pclass":1,"Name":"Carter, Mr. William Ernest","Sex":"male","Age":36.0,"SibSp":1,"Parch":2,"Ticket":"113760","Fare":120.0,"Cabin":"B96 B98","Embarked":"S"},{"PassengerId":215,"Survived":0,"Pclass":3,"Name":"Kiernan, Mr. Philip","Sex":"male","Age":null,"SibSp":1,"Parch":0,"Ticket":"367229","Fare":7.75,"Cabin":null,"Embarked":"Q"},{"PassengerId":254,"Survived":0,"Pclass":3,"Name":"Lobb, Mr. William Arthur","Sex":"male","Age":30.0,"SibSp":1,"Parch":0,"Ticket":"A\/5. 3336","Fare":16.1,"Cabin":null,"Embarked":"S"},{"PassengerId":763,"Survived":1,"Pclass":3,"Name":"Barah, Mr. Hanna Assi","Sex":"male","Age":20.0,"SibSp":0,"Parch":0,"Ticket":"2663","Fare":7.2292,"Cabin":null,"Embarked":"C"}]}

### Initialize Data Generator

With the data structure extracted, you're ready to initialize the DataConsumer object that will be used for generating data.

In [9]:
# Construct the full file path
full_file_path = os.path.join(path, file_name)

# Read the CSV file into a DataFrame
df = pd.read_csv(full_file_path)

# Initialize the DataConsumer with the extracted data structure
DataAugmentorObj = DataAugmentor(llm=llm, structure=dataStructureSample)

### Set Example Dataframe (Optional)

If you want the generated data to be influenced by examples from your original dataset, you can set an examples DataFrame within your DataConsumer object.

In [12]:
DataAugmentorObj.set_examples_dataframe(df, file_name)

### Generate and Preview Data

Finally, you can generate and preview the synthesized data based on the extracted structure and any example data provided.

In [13]:
generated_data = DataAugmentorObj.preview_output_sample()
print(generated_data)

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in generating synthetic data according to user requests.Generate 10 Sample synthetic items(records in a table or the equivalent elements in unstructured text) for the data described below. In the following structure, but with different values.For the following task: Data description: None.Required Structure: {"titanic.csv": [{"PassengerId":381,"Survived":1,"Pclass":1,"Name":"Bidois, Miss. Rosalie","Sex":"female","Age":42.0,"SibSp":0,"Parch":0,"Ticket":"PC 17757","Fare":227.525,"Cabin":null,"Embarked":"C"},{"PassengerId":628,"Survived":1,"Pclass":1,"Name":"Longley, Miss. Gretchen Fiske","Sex":"female","Age":21.0,"SibSp":0,"Parch":0,"Ticket":"13502","Fare":77.9583,"Cabin":"D9","Embarked":"S"},{"PassengerId":398,"Survived":0,"Pclass":2,"Name":"McKane, Mr. Peter David","Sex":"male","Age":46.0,"SibSp":0,"Parch":0,"Ticket":"28403","Fare":26.0,"Cabin":null,"Embarked":"S"},{"PassengerId":416,"Survived":0,"Pclass":3,"Name":"Meek, Mrs. Thomas (Annie Louise Rowley)","Sex":"female","Age":null,"SibSp":0,"Parch":0,"Ticket":"343095","Fare":8.05,"Cabin":null,"Embarked":"S"},{"PassengerId":31,"Survived":0,"Pclass":1,"Name":"Uruchurtu, Don. Manuel E","Sex":"male","Age":40.0,"SibSp":0,"Parch":0,"Ticket":"PC 17601","Fare":27.7208,"Cabin":null,"Embarked":"C"},{"PassengerId":465,"Survived":0,"Pclass":3,"Name":"Maisner, Mr. Simon","Sex":"male","Age":null,"SibSp":0,"Parch":0,"Ticket":"A\/S 2816","Fare":8.05,"Cabin":null,"Embarked":"S"},{"PassengerId":561,"Survived":0,"Pclass":3,"Name":"Morrow, Mr. Thomas Rowan","Sex":"male","Age":null,"SibSp":0,"Parch":0,"Ticket":"372622","Fare":7.75,"Cabin":null,"Embarked":"Q"},{"PassengerId":796,"Survived":0,"Pclass":2,"Name":"Otter, Mr. Richard","Sex":"male","Age":39.0,"SibSp":0,"Parch":0,"Ticket":"28213","Fare":13.0,"Cabin":null,"Embarked":"S"},{"PassengerId":593,"Survived":0,"Pclass":3,"Name":"Elsbury, Mr. William James","Sex":"male","Age":47.0,"SibSp":0,"Parch":0,"Ticket":"A\/5 3902","Fare":7.25,"Cabin":null,"Embarked":"S"},{"PassengerId":550,"Survived":1,"Pclass":2,"Name":"Davies, Master. John Morgan Jr","Sex":"male","Age":8.0,"SibSp":1,"Parch":1,"Ticket":"C.A. 33112","Fare":36.75,"Cabin":null,"Embarked":"S"}]}.The previous generated batch (maintain sequential patterns if needed): {"titanic.csv": [{"PassengerId":395,"Survived":0,"Pclass":2,"Name":"Karaic, Mr. Stefan","Sex":"male","Age":45.0,"SibSp":0,"Parch":0,"Ticket":"349210","Fare":7.4958,"Cabin":null,"Embarked":"S"},{"PassengerId":119,"Survived":0,"Pclass":3,"Name":"Farrell, Mr. James","Sex":"male","Age":40.5,"SibSp":0,"Parch":0,"Ticket":"365235","Fare":7.75,"Cabin":null,"Embarked":"Q"},{"PassengerId":785,"Survived":0,"Pclass":3,"Name":"Ali, Mr. William","Sex":"male","Age":25.0,"SibSp":0,"Parch":0,"Ticket":"SOTON\/O.Q. 3101312","Fare":7.05,"Cabin":null,"Embarked":"S"},{"PassengerId":693,"Survived":0,"Pclass":3,"Name":"Lam, Mr. Ali","Sex":"male","Age":31.0,"SibSp":0,"Parch":0,"Ticket":"1601","Fare":56.4958,"Cabin":null,"Embarked":"S"},{"PassengerId":355,"Survived":1,"Pclass":3,"Name":"Yousif, Mr. Aziz","Sex":"male","Age":null,"SibSp":0,"Parch":0,"Ticket":"A\/5. 2151","Fare":8.05,"Cabin":null,"Embarked":"S"},{"PassengerId":510,"Survived":0,"Pclass":3,"Name":"Lang, Mr. Fang","Sex":"male","Age":26.0,"SibSp":0,"Parch":0,"Ticket":"1601","Fare":56.4958,"Cabin":null,"Embarked":"S"},{"PassengerId":600,"Survived":1,"Pclass":1,"Name":"Duff Gordon, Sir. Cosmo Edmund","Sex":"male","Age":49.0,"SibSp":1,"Parch":0,"Ticket":"11755","Fare":39.6,"Cabin":"A16","Embarked":"C"},{"PassengerId":882,"Survived":0,"Pclass":3,"Name":"Markun, Mr. Johann","Sex":"male","Age":33.0,"SibSp":0,"Parch":0,"Ticket":"349257","Fare":7.8958,"Cabin":null,"Embarked":"S"},{"PassengerId":432,"Survived":0,"Pclass":3,"Name":"Thorneycroft, Mr. Percival","Sex":"male","Age":null,"SibSp":1,"Parch":0,"Ticket":"376564","Fare":16.1,"Cabin":null,"Embarked":"S"},{"PassengerId":201,"Survived":0,"Pclass":3,"Name":"Vande Walle, Mr. Nestor Cyriel","Sex":"male","Age":28.0,"SibSp":0,"Parch":0,"Ticket":"345770","Fare":9.5,"Cabin":null,"Embarked":"S"}]}.Add Randomness: 0.795124995779723.It is critical that you don't repeat the same values every time you get this prompt.
Generated Output:

> Finished chain.
{'titanic.csv':    PassengerId  Survived  Pclass  \
0          287         1       2
1          411         1       3
2          268         0       2
3          203         1       3
4          174         0       3
5          542         1       3
6          322         0       3
7          624         0       3
8          525         0       3
9           33         0       3

                                                Name     Sex   Age  SibSp  \
0                                Brown, Miss. Amelia  female  35.0      1
1                                  Sdycoff, Mr. Ivan    male  24.0      0
2                    Hamalainen, Mrs. William (Anna)  female  24.0      0
3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
4                          Sivola, Mr. Antti Wilhelm    male  21.0      0
5               Rice, Mrs. William (Margaret Norton)  female  39.0      0
6                                   Dans, Mr. Victor    male  22.0      0
7                            Hansen, Mr. Henrik Juul    male  26.0      1
8                                  Kassem, Mr. Fared    male  27.0      0
9                                  Mack, Mrs. (Mary)  female  50.0      0

   Parch             Ticket     Fare Cabin Embarked
0      2             237671  25.0000  None        S
1      0             349222   7.8958  None        S
2      2             250649  14.5000  None        S
3      2             347742  11.1333  None        S
4      0  STON/O 2. 3101285   7.9250  None        S
5      5             382652  29.1250  None        Q
6      0          A/5 21172   7.2500  None        S
7      0             350029   7.8542  None        S
8      0               2700   7.2292  None        C
9      0             370377   7.7500  None        Q  }

# Transform Source Data with a textual description

Utilize the DataTransformer to apply transformations to the source data based on a given description. This could be used for data enrichment, data preparation and data explanation.

This section demonstrates how to add a field indicating the main explanation for each passenger's survival in the Titanic dataset.

In [24]:
from src.DataTransformer import DataTransformer  # Assuming the necessary import

## Initialize Data Generator

In [25]:
# Instantiate the DataTransformer with the language model
DataTransformerObj = DataTransformer(llm=llm)

## Defining Data Transformation

In [26]:
# Define the transformation based on a user's description and apply it to the data.
query = "Could you add a field indicating the main explanation for the survival of each passenger?"
results = DataTransformerObj.define_transformation(source_data={"titanic": df}, description=query)
print("Transformed Sample Data:")
print(results)

> Entering new SequentialChain chain...


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field indicating the main explanation for the survival of each passenger?; The transformation logic: 1. Analyze the key factors that could explain the survival of passengers, such as their age, gender, class, and presence of family members on board.
2. Assign weight or importance to each factor based on historical data or common knowledge about survival rates in similar situations.
3. Use a decision-making process or algorithm to combine these factors and determine the main explanation for the survival of each passenger.
4. Create a new field named "Survival_Reason" to store the main explanation for survival for each passenger.
5. Populate the "Survival_Reason" field with the determined explanation for each passenger based on the analysis of key factors.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId":879,"Survived":0,"Pclass":3,"Name":"Laleff, Mr. Kristo","Sex":"male","Age":null,"SibSp":0,"Parch":0,"Ticket":"349217","Fare":7.8958,"Cabin":null,"Embarked":"S"},{"PassengerId":131,"Survived":0,"Pclass":3,"Name":"Drazenoic, Mr. Jozef","Sex":"male","Age":33.0,"SibSp":0,"Parch":0,"Ticket":"349241","Fare":7.8958,"Cabin":null,"Embarked":"C"},{"PassengerId":795,"Survived":0,"Pclass":3,"Name":"Dantcheff, Mr. Ristiu","Sex":"male","Age":25.0,"SibSp":0,"Parch":0,"Ticket":"349203","Fare":7.8958,"Cabin":null,"Embarked":"S"},{"PassengerId":434,"Survived":0,"Pclass":3,"Name":"Kallio, Mr. Nikolai Erland","Sex":"male","Age":17.0,"SibSp":0,"Parch":0,"Ticket":"STON\/O 2. 3101274","Fare":7.125,"Cabin":null,"Embarked":"S"},{"PassengerId":803,"Survived":1,"Pclass":1,"Name":"Carter, Master. William Thornton II","Sex":"male","Age":11.0,"SibSp":1,"Parch":2,"Ticket":"113760","Fare":120.0,"Cabin":"B96 B98","Embarked":"S"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.

> Finished chain.
Transformed Sample Data:
{
  "titanic": [
    {
      "PassengerId": 879,
      "Survived": 0,
      "Pclass": 3,
      "Name": "Laleff, Mr. Kristo",
      "Sex": "male",
      "Age": null,
      "SibSp": 0,
      "Parch": 0,
      "Ticket": "349217",
      "Fare": 7.8958,
      "Cabin": null,
      "Embarked": "S",
      "Survival_Reason": "Low likelihood of survival based on class, male gender, and lack of family members on board"
    },
    {
      "PassengerId": 131,
      "Survived": 0,
      "Pclass": 3,
      "Name": "Drazenoic, Mr. Jozef",
      "Sex": "male",
      "Age": 33.0,
      "SibSp": 0,
      "Parch": 0,
      "Ticket": "349241",
      "Fare": 7.8958,
      "Cabin": null,
      "Embarked": "C",
      "Survival_Reason": "Low likelihood of survival based on class, male gender, and age"
    },
    {
      "PassengerId": 795,
      "Survived": 0,
      "Pclass": 3,
      "Name": "Dantcheff, Mr. Ristiu",
      "Sex": "male",
      "Age": 25.0,
      "SibSp": 0,
      "Parch": 0,
      "Ticket": "349203",
      "Fare": 7.8958,
      "Cabin": null,
      "Embarked": "S",
      "Survival_Reason": "Low likelihood of survival based on class, male gender, and age"
    },
    {
      "PassengerId": 434,
      "Survived": 0,
      "Pclass": 3,
      "Name": "Kallio, Mr. Nikolai Erland",
      "Sex": "male",
      "Age": 17.0,
      "SibSp": 0,
      "Parch": 0,
      "Ticket": "STON/O 2. 3101274",
      "Fare": 7.125,
      "Cabin": null,
      "Embarked": "S",
      "Survival_Reason": "Low likelihood of survival based on class, male gender, and age"
    },
    {
      "PassengerId": 803,
      "Survived": 1,
      "Pclass": 1,
      "Name": "Carter, Master. William Thornton II",
      "Sex": "male",
      "Age": 11.0,
      "SibSp": 1,
      "Parch": 2,
      "Ticket": "113760",
      "Fare": 120.0,
      "Cabin": "B96 B98",
      "Embarked": "S",
      "Survival_Reason": "Higher likelihood of survival based on class, age, male gender, and presence of family members on board"
    }
  ]
}

## Generating Full Output

In [27]:
# Apply the transformation to the source data and print the results.
results = DataTransformerObj.transform(source_data={"titanic": df[:50]})

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field indicating the main explanation for the survival of each passenger?; The transformation logic: 1. Analyze the key factors that could explain the survival of passengers, such as their age, gender, class, and presence of family members on board.
2. Assign weight or importance to each factor based on historical data or common knowledge about survival rates in similar situations.
3. Use a decision-making process or algorithm to combine these factors and determine the main explanation for the survival of each passenger.
4. Create a new field named "Survival_Reason" to store the main explanation for survival for each passenger.
5. Populate the "Survival_Reason" field with the determined explanation for each passenger based on the analysis of key factors.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 1, "Survived": 0, "Pclass": 3, "Name": "Braund, Mr. Owen Harris", "Sex": "male", "Age": 22.0, "SibSp": 1, "Parch": 0, "Ticket": "A/5 21171", "Fare": 7.25, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 2, "Survived": 1, "Pclass": 1, "Name": "Cumings, Mrs. John Bradley (Florence Briggs Thayer)", "Sex": "female", "Age": 38.0, "SibSp": 1, "Parch": 0, "Ticket": "PC 17599", "Fare": 71.2833, "Cabin": "C85", "Embarked": "C"}, {"PassengerId": 3, "Survived": 1, "Pclass": 3, "Name": "Heikkinen, Miss. Laina", "Sex": "female", "Age": 26.0, "SibSp": 0, "Parch": 0, "Ticket": "STON/O2. 3101282", "Fare": 7.925, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 4, "Survived": 1, "Pclass": 1, "Name": "Futrelle, Mrs. Jacques Heath (Lily May Peel)", "Sex": "female", "Age": 35.0, "SibSp": 1, "Parch": 0, "Ticket": "113803", "Fare": 53.1, "Cabin": "C123", "Embarked": "S"}, {"PassengerId": 5, "Survived": 0, "Pclass": 3, "Name": "Allen, Mr. William Henry", "Sex": "male", "Age": 35.0, "SibSp": 0, "Parch": 0, "Ticket": "373450", "Fare": 8.05, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 6, "Survived": 0, "Pclass": 3, "Name": "Moran, Mr. James", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "330877", "Fare": 8.4583, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 7, "Survived": 0, "Pclass": 1, "Name": "McCarthy, Mr. Timothy J", "Sex": "male", "Age": 54.0, "SibSp": 0, "Parch": 0, "Ticket": "17463", "Fare": 51.8625, "Cabin": "E46", "Embarked": "S"}, {"PassengerId": 8, "Survived": 0, "Pclass": 3, "Name": "Palsson, Master. Gosta Leonard", "Sex": "male", "Age": 2.0, "SibSp": 3, "Parch": 1, "Ticket": "349909", "Fare": 21.075, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 9, "Survived": 1, "Pclass": 3, "Name": "Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)", "Sex": "female", "Age": 27.0, "SibSp": 0, "Parch": 2, "Ticket": "347742", "Fare": 11.1333, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 10, "Survived": 1, "Pclass": 2, "Name": "Nasser, Mrs. Nicholas (Adele Achem)", "Sex": "female", "Age": 14.0, "SibSp": 1, "Parch": 0, "Ticket": "237736", "Fare": 30.0708, "Cabin": NaN, "Embarked": "C"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field indicating the main explanation for the survival of each passenger?; The transformation logic: 1. Analyze the key factors that could explain the survival of passengers, such as their age, gender, class, and presence of family members on board.
2. Assign weight or importance to each factor based on historical data or common knowledge about survival rates in similar situations.
3. Use a decision-making process or algorithm to combine these factors and determine the main explanation for the survival of each passenger.
4. Create a new field named "Survival_Reason" to store the main explanation for survival for each passenger.
5. Populate the "Survival_Reason" field with the determined explanation for each passenger based on the analysis of key factors.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 11, "Survived": 1, "Pclass": 3, "Name": "Sandstrom, Miss. Marguerite Rut", "Sex": "female", "Age": 4.0, "SibSp": 1, "Parch": 1, "Ticket": "PP 9549", "Fare": 16.7, "Cabin": "G6", "Embarked": "S"}, {"PassengerId": 12, "Survived": 1, "Pclass": 1, "Name": "Bonnell, Miss. Elizabeth", "Sex": "female", "Age": 58.0, "SibSp": 0, "Parch": 0, "Ticket": "113783", "Fare": 26.55, "Cabin": "C103", "Embarked": "S"}, {"PassengerId": 13, "Survived": 0, "Pclass": 3, "Name": "Saundercock, Mr. William Henry", "Sex": "male", "Age": 20.0, "SibSp": 0, "Parch": 0, "Ticket": "A/5. 2151", "Fare": 8.05, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 14, "Survived": 0, "Pclass": 3, "Name": "Andersson, Mr. Anders Johan", "Sex": "male", "Age": 39.0, "SibSp": 1, "Parch": 5, "Ticket": "347082", "Fare": 31.275, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 15, "Survived": 0, "Pclass": 3, "Name": "Vestrom, Miss. Hulda Amanda Adolfina", "Sex": "female", "Age": 14.0, "SibSp": 0, "Parch": 0, "Ticket": "350406", "Fare": 7.8542, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 16, "Survived": 1, "Pclass": 2, "Name": "Hewlett, Mrs. (Mary D Kingcome) ", "Sex": "female", "Age": 55.0, "SibSp": 0, "Parch": 0, "Ticket": "248706", "Fare": 16.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 17, "Survived": 0, "Pclass": 3, "Name": "Rice, Master. Eugene", "Sex": "male", "Age": 2.0, "SibSp": 4, "Parch": 1, "Ticket": "382652", "Fare": 29.125, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 18, "Survived": 1, "Pclass": 2, "Name": "Williams, Mr. Charles Eugene", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "244373", "Fare": 13.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 19, "Survived": 0, "Pclass": 3, "Name": "Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)", "Sex": "female", "Age": 31.0, "SibSp": 1, "Parch": 0, "Ticket": "345763", "Fare": 18.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 20, "Survived": 1, "Pclass": 3, "Name": "Masselmani, Mrs. Fatima", "Sex": "female", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "2649", "Fare": 7.225, "Cabin": NaN, "Embarked": "C"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field indicating the main explanation for the survival of each passenger?; The transformation logic: 1. Analyze the key factors that could explain the survival of passengers, such as their age, gender, class, and presence of family members on board.
2. Assign weight or importance to each factor based on historical data or common knowledge about survival rates in similar situations.
3. Use a decision-making process or algorithm to combine these factors and determine the main explanation for the survival of each passenger.
4. Create a new field named "Survival_Reason" to store the main explanation for survival for each passenger.
5. Populate the "Survival_Reason" field with the determined explanation for each passenger based on the analysis of key factors.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 21, "Survived": 0, "Pclass": 2, "Name": "Fynney, Mr. Joseph J", "Sex": "male", "Age": 35.0, "SibSp": 0, "Parch": 0, "Ticket": "239865", "Fare": 26.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 22, "Survived": 1, "Pclass": 2, "Name": "Beesley, Mr. Lawrence", "Sex": "male", "Age": 34.0, "SibSp": 0, "Parch": 0, "Ticket": "248698", "Fare": 13.0, "Cabin": "D56", "Embarked": "S"}, {"PassengerId": 23, "Survived": 1, "Pclass": 3, "Name": "McGowan, Miss. Anna \\Annie\\\"\"", "Sex": "female", "Age": 15.0, "SibSp": 0, "Parch": 0, "Ticket": "330923", "Fare": 8.0292, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 24, "Survived": 1, "Pclass": 1, "Name": "Sloper, Mr. William Thompson", "Sex": "male", "Age": 28.0, "SibSp": 0, "Parch": 0, "Ticket": "113788", "Fare": 35.5, "Cabin": "A6", "Embarked": "S"}, {"PassengerId": 25, "Survived": 0, "Pclass": 3, "Name": "Palsson, Miss. Torborg Danira", "Sex": "female", "Age": 8.0, "SibSp": 3, "Parch": 1, "Ticket": "349909", "Fare": 21.075, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 26, "Survived": 1, "Pclass": 3, "Name": "Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)", "Sex": "female", "Age": 38.0, "SibSp": 1, "Parch": 5, "Ticket": "347077", "Fare": 31.3875, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 27, "Survived": 0, "Pclass": 3, "Name": "Emir, Mr. Farred Chehab", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "2631", "Fare": 7.225, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 28, "Survived": 0, "Pclass": 1, "Name": "Fortune, Mr. Charles Alexander", "Sex": "male", "Age": 19.0, "SibSp": 3, "Parch": 2, "Ticket": "19950", "Fare": 263.0, "Cabin": "C23 C25 C27", "Embarked": "S"}, {"PassengerId": 29, "Survived": 1, "Pclass": 3, "Name": "O'Dwyer, Miss. Ellen \\Nellie\\\"\"", "Sex": "female", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "330959", "Fare": 7.8792, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 30, "Survived": 0, "Pclass": 3, "Name": "Todoroff, Mr. Lalio", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "349216", "Fare": 7.8958, "Cabin": NaN, "Embarked": "S"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field indicating the main explanation for the survival of each passenger?; The transformation logic: 1. Analyze the key factors that could explain the survival of passengers, such as their age, gender, class, and presence of family members on board.
2. Assign weight or importance to each factor based on historical data or common knowledge about survival rates in similar situations.
3. Use a decision-making process or algorithm to combine these factors and determine the main explanation for the survival of each passenger.
4. Create a new field named "Survival_Reason" to store the main explanation for survival for each passenger.
5. Populate the "Survival_Reason" field with the determined explanation for each passenger based on the analysis of key factors.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 31, "Survived": 0, "Pclass": 1, "Name": "Uruchurtu, Don. Manuel E", "Sex": "male", "Age": 40.0, "SibSp": 0, "Parch": 0, "Ticket": "PC 17601", "Fare": 27.7208, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 32, "Survived": 1, "Pclass": 1, "Name": "Spencer, Mrs. William Augustus (Marie Eugenie)", "Sex": "female", "Age": NaN, "SibSp": 1, "Parch": 0, "Ticket": "PC 17569", "Fare": 146.5208, "Cabin": "B78", "Embarked": "C"}, {"PassengerId": 33, "Survived": 1, "Pclass": 3, "Name": "Glynn, Miss. Mary Agatha", "Sex": "female", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "335677", "Fare": 7.75, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 34, "Survived": 0, "Pclass": 2, "Name": "Wheadon, Mr. Edward H", "Sex": "male", "Age": 66.0, "SibSp": 0, "Parch": 0, "Ticket": "C.A. 24579", "Fare": 10.5, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 35, "Survived": 0, "Pclass": 1, "Name": "Meyer, Mr. Edgar Joseph", "Sex": "male", "Age": 28.0, "SibSp": 1, "Parch": 0, "Ticket": "PC 17604", "Fare": 82.1708, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 36, "Survived": 0, "Pclass": 1, "Name": "Holverson, Mr. Alexander Oskar", "Sex": "male", "Age": 42.0, "SibSp": 1, "Parch": 0, "Ticket": "113789", "Fare": 52.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 37, "Survived": 1, "Pclass": 3, "Name": "Mamee, Mr. Hanna", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "2677", "Fare": 7.2292, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 38, "Survived": 0, "Pclass": 3, "Name": "Cann, Mr. Ernest Charles", "Sex": "male", "Age": 21.0, "SibSp": 0, "Parch": 0, "Ticket": "A./5. 2152", "Fare": 8.05, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 39, "Survived": 0, "Pclass": 3, "Name": "Vander Planke, Miss. Augusta Maria", "Sex": "female", "Age": 18.0, "SibSp": 2, "Parch": 0, "Ticket": "345764", "Fare": 18.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 40, "Survived": 1, "Pclass": 3, "Name": "Nicola-Yarred, Miss. Jamila", "Sex": "female", "Age": 14.0, "SibSp": 1, "Parch": 0, "Ticket": "2651", "Fare": 11.2417, "Cabin": NaN, "Embarked": "C"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field indicating the main explanation for the survival of each passenger?; The transformation logic: 1. Analyze the key factors that could explain the survival of passengers, such as their age, gender, class, and presence of family members on board.
2. Assign weight or importance to each factor based on historical data or common knowledge about survival rates in similar situations.
3. Use a decision-making process or algorithm to combine these factors and determine the main explanation for the survival of each passenger.
4. Create a new field named "Survival_Reason" to store the main explanation for survival for each passenger.
5. Populate the "Survival_Reason" field with the determined explanation for each passenger based on the analysis of key factors.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 41, "Survived": 0, "Pclass": 3, "Name": "Ahlin, Mrs. Johan (Johanna Persdotter Larsson)", "Sex": "female", "Age": 40.0, "SibSp": 1, "Parch": 0, "Ticket": "7546", "Fare": 9.475, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 42, "Survived": 0, "Pclass": 2, "Name": "Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)", "Sex": "female", "Age": 27.0, "SibSp": 1, "Parch": 0, "Ticket": "11668", "Fare": 21.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 43, "Survived": 0, "Pclass": 3, "Name": "Kraeff, Mr. Theodor", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "349253", "Fare": 7.8958, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 44, "Survived": 1, "Pclass": 2, "Name": "Laroche, Miss. Simonne Marie Anne Andree", "Sex": "female", "Age": 3.0, "SibSp": 1, "Parch": 2, "Ticket": "SC/Paris 2123", "Fare": 41.5792, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 45, "Survived": 1, "Pclass": 3, "Name": "Devaney, Miss. Margaret Delia", "Sex": "female", "Age": 19.0, "SibSp": 0, "Parch": 0, "Ticket": "330958", "Fare": 7.8792, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 46, "Survived": 0, "Pclass": 3, "Name": "Rogers, Mr. William John", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "S.C./A.4. 23567", "Fare": 8.05, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 47, "Survived": 0, "Pclass": 3, "Name": "Lennon, Mr. Denis", "Sex": "male", "Age": NaN, "SibSp": 1, "Parch": 0, "Ticket": "370371", "Fare": 15.5, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 48, "Survived": 1, "Pclass": 3, "Name": "O'Driscoll, Miss. Bridget", "Sex": "female", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "14311", "Fare": 7.75, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 49, "Survived": 0, "Pclass": 3, "Name": "Samaan, Mr. Youssef", "Sex": "male", "Age": NaN, "SibSp": 2, "Parch": 0, "Ticket": "2662", "Fare": 21.6792, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 50, "Survived": 0, "Pclass": 3, "Name": "Arnold-Franchi, Mrs. Josef (Josefine Franchi)", "Sex": "female", "Age": 18.0, "SibSp": 1, "Parch": 0, "Ticket": "349237", "Fare": 17.8, "Cabin": NaN, "Embarked": "S"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.

In [28]:
pd.DataFrame(results['titanic'])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survival_Reason
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S,Age
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Gender
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S,Gender
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Gender
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S,Age
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,None,Q,Age
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Age
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,None,S,Age
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,None,S,Gender
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,None,C,Gender
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Young age and presence of family members
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Upper class and gender
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,None
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,None
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,Young age
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,Gender and age
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,Young age and presence of family members
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,None
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,None
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,None
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,Low class male passengers had lower survival r...
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,Male passengers in higher classes had higher s...
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,Female passengers had higher survival rates
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,Male passengers in higher classes had higher s...
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,Presence of family members on board could affe...
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,Presence of family members on board could affe...
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,No specific explanation for survival
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,High fare paying passengers had higher surviva...
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,No specific explanation for survival
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,No specific explanation for survival
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C,Low chance of survival due to being a male pas...
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,High chance of survival due to being a female ...
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q,Medium chance of survival due to being a femal...
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S,Low chance of survival due to being a male pas...
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C,Low chance of survival due to being a male pas...
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S,Low chance of survival due to being a male pas...
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C,Medium chance of survival due to being a male ...
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S,Low chance of survival due to being a male pas...
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S,Low chance of survival due to being a female p...
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C,High chance of survival due to being a female ...
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S,Low chance of survival due to being a female a...
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S,Low chance of survival due to being a female a...
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C,Low chance of survival due to being a male adu...
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,High chance of survival due to being a female ...
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q,High chance of survival due to being a female ...
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S,Low chance of survival due to being a male adu...
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q,Low chance of survival due to being a male adu...
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q,High chance of survival due to being a female ...
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C,Low chance of survival due to being a male adu...
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S,Low chance of survival due to being a female a...

## Generating Full Output in Parallel

### Setup for Parallel Execution

In [29]:
import nest_asyncio
nest_asyncio.apply()

### Generate Full Output in Parallel

Perform the transformation on a subset of the Titanic dataset.

Heree, the first 45 records of the Titanic dataset are processed in parallel using the asynchronous method.# The output is then collected and converted into a pandas DataFrame for easy viewing and further analysi.

In [30]:
generated_data = asyncio.run(DataTransformerObj.transform_in_parallel(source_data={"titanic":df[:45]}))

> Entering new LLMChain chain...

> Entering new LLMChain chain...


> Entering new LLMChain chain...



> Entering new LLMChain chain...


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field indicating the main explanation for the survival of each passenger?; The transformation logic: 1. Analyze the key factors that could explain the survival of passengers, such as their age, gender, class, and presence of family members on board.
2. Assign weight or importance to each factor based on historical data or common knowledge about survival rates in similar situations.
3. Use a decision-making process or algorithm to combine these factors and determine the main explanation for the survival of each passenger.
4. Create a new field named "Survival_Reason" to store the main explanation for survival for each passenger.
5. Populate the "Survival_Reason" field with the determined explanation for each passenger based on the analysis of key factors.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 11, "Survived": 1, "Pclass": 3, "Name": "Sandstrom, Miss. Marguerite Rut", "Sex": "female", "Age": 4.0, "SibSp": 1, "Parch": 1, "Ticket": "PP 9549", "Fare": 16.7, "Cabin": "G6", "Embarked": "S"}, {"PassengerId": 12, "Survived": 1, "Pclass": 1, "Name": "Bonnell, Miss. Elizabeth", "Sex": "female", "Age": 58.0, "SibSp": 0, "Parch": 0, "Ticket": "113783", "Fare": 26.55, "Cabin": "C103", "Embarked": "S"}, {"PassengerId": 13, "Survived": 0, "Pclass": 3, "Name": "Saundercock, Mr. William Henry", "Sex": "male", "Age": 20.0, "SibSp": 0, "Parch": 0, "Ticket": "A/5. 2151", "Fare": 8.05, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 14, "Survived": 0, "Pclass": 3, "Name": "Andersson, Mr. Anders Johan", "Sex": "male", "Age": 39.0, "SibSp": 1, "Parch": 5, "Ticket": "347082", "Fare": 31.275, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 15, "Survived": 0, "Pclass": 3, "Name": "Vestrom, Miss. Hulda Amanda Adolfina", "Sex": "female", "Age": 14.0, "SibSp": 0, "Parch": 0, "Ticket": "350406", "Fare": 7.8542, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 16, "Survived": 1, "Pclass": 2, "Name": "Hewlett, Mrs. (Mary D Kingcome) ", "Sex": "female", "Age": 55.0, "SibSp": 0, "Parch": 0, "Ticket": "248706", "Fare": 16.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 17, "Survived": 0, "Pclass": 3, "Name": "Rice, Master. Eugene", "Sex": "male", "Age": 2.0, "SibSp": 4, "Parch": 1, "Ticket": "382652", "Fare": 29.125, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 18, "Survived": 1, "Pclass": 2, "Name": "Williams, Mr. Charles Eugene", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "244373", "Fare": 13.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 19, "Survived": 0, "Pclass": 3, "Name": "Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)", "Sex": "female", "Age": 31.0, "SibSp": 1, "Parch": 0, "Ticket": "345763", "Fare": 18.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 20, "Survived": 1, "Pclass": 3, "Name": "Masselmani, Mrs. Fatima", "Sex": "female", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "2649", "Fare": 7.225, "Cabin": NaN, "Embarked": "C"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field indicating the main explanation for the survival of each passenger?; The transformation logic: 1. Analyze the key factors that could explain the survival of passengers, such as their age, gender, class, and presence of family members on board.
2. Assign weight or importance to each factor based on historical data or common knowledge about survival rates in similar situations.
3. Use a decision-making process or algorithm to combine these factors and determine the main explanation for the survival of each passenger.
4. Create a new field named "Survival_Reason" to store the main explanation for survival for each passenger.
5. Populate the "Survival_Reason" field with the determined explanation for each passenger based on the analysis of key factors.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 21, "Survived": 0, "Pclass": 2, "Name": "Fynney, Mr. Joseph J", "Sex": "male", "Age": 35.0, "SibSp": 0, "Parch": 0, "Ticket": "239865", "Fare": 26.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 22, "Survived": 1, "Pclass": 2, "Name": "Beesley, Mr. Lawrence", "Sex": "male", "Age": 34.0, "SibSp": 0, "Parch": 0, "Ticket": "248698", "Fare": 13.0, "Cabin": "D56", "Embarked": "S"}, {"PassengerId": 23, "Survived": 1, "Pclass": 3, "Name": "McGowan, Miss. Anna \\Annie\\\"\"", "Sex": "female", "Age": 15.0, "SibSp": 0, "Parch": 0, "Ticket": "330923", "Fare": 8.0292, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 24, "Survived": 1, "Pclass": 1, "Name": "Sloper, Mr. William Thompson", "Sex": "male", "Age": 28.0, "SibSp": 0, "Parch": 0, "Ticket": "113788", "Fare": 35.5, "Cabin": "A6", "Embarked": "S"}, {"PassengerId": 25, "Survived": 0, "Pclass": 3, "Name": "Palsson, Miss. Torborg Danira", "Sex": "female", "Age": 8.0, "SibSp": 3, "Parch": 1, "Ticket": "349909", "Fare": 21.075, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 26, "Survived": 1, "Pclass": 3, "Name": "Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)", "Sex": "female", "Age": 38.0, "SibSp": 1, "Parch": 5, "Ticket": "347077", "Fare": 31.3875, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 27, "Survived": 0, "Pclass": 3, "Name": "Emir, Mr. Farred Chehab", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "2631", "Fare": 7.225, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 28, "Survived": 0, "Pclass": 1, "Name": "Fortune, Mr. Charles Alexander", "Sex": "male", "Age": 19.0, "SibSp": 3, "Parch": 2, "Ticket": "19950", "Fare": 263.0, "Cabin": "C23 C25 C27", "Embarked": "S"}, {"PassengerId": 29, "Survived": 1, "Pclass": 3, "Name": "O'Dwyer, Miss. Ellen \\Nellie\\\"\"", "Sex": "female", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "330959", "Fare": 7.8792, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 30, "Survived": 0, "Pclass": 3, "Name": "Todoroff, Mr. Lalio", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "349216", "Fare": 7.8958, "Cabin": NaN, "Embarked": "S"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field indicating the main explanation for the survival of each passenger?; The transformation logic: 1. Analyze the key factors that could explain the survival of passengers, such as their age, gender, class, and presence of family members on board.
2. Assign weight or importance to each factor based on historical data or common knowledge about survival rates in similar situations.
3. Use a decision-making process or algorithm to combine these factors and determine the main explanation for the survival of each passenger.
4. Create a new field named "Survival_Reason" to store the main explanation for survival for each passenger.
5. Populate the "Survival_Reason" field with the determined explanation for each passenger based on the analysis of key factors.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 1, "Survived": 0, "Pclass": 3, "Name": "Braund, Mr. Owen Harris", "Sex": "male", "Age": 22.0, "SibSp": 1, "Parch": 0, "Ticket": "A/5 21171", "Fare": 7.25, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 2, "Survived": 1, "Pclass": 1, "Name": "Cumings, Mrs. John Bradley (Florence Briggs Thayer)", "Sex": "female", "Age": 38.0, "SibSp": 1, "Parch": 0, "Ticket": "PC 17599", "Fare": 71.2833, "Cabin": "C85", "Embarked": "C"}, {"PassengerId": 3, "Survived": 1, "Pclass": 3, "Name": "Heikkinen, Miss. Laina", "Sex": "female", "Age": 26.0, "SibSp": 0, "Parch": 0, "Ticket": "STON/O2. 3101282", "Fare": 7.925, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 4, "Survived": 1, "Pclass": 1, "Name": "Futrelle, Mrs. Jacques Heath (Lily May Peel)", "Sex": "female", "Age": 35.0, "SibSp": 1, "Parch": 0, "Ticket": "113803", "Fare": 53.1, "Cabin": "C123", "Embarked": "S"}, {"PassengerId": 5, "Survived": 0, "Pclass": 3, "Name": "Allen, Mr. William Henry", "Sex": "male", "Age": 35.0, "SibSp": 0, "Parch": 0, "Ticket": "373450", "Fare": 8.05, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 6, "Survived": 0, "Pclass": 3, "Name": "Moran, Mr. James", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "330877", "Fare": 8.4583, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 7, "Survived": 0, "Pclass": 1, "Name": "McCarthy, Mr. Timothy J", "Sex": "male", "Age": 54.0, "SibSp": 0, "Parch": 0, "Ticket": "17463", "Fare": 51.8625, "Cabin": "E46", "Embarked": "S"}, {"PassengerId": 8, "Survived": 0, "Pclass": 3, "Name": "Palsson, Master. Gosta Leonard", "Sex": "male", "Age": 2.0, "SibSp": 3, "Parch": 1, "Ticket": "349909", "Fare": 21.075, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 9, "Survived": 1, "Pclass": 3, "Name": "Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)", "Sex": "female", "Age": 27.0, "SibSp": 0, "Parch": 2, "Ticket": "347742", "Fare": 11.1333, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 10, "Survived": 1, "Pclass": 2, "Name": "Nasser, Mrs. Nicholas (Adele Achem)", "Sex": "female", "Age": 14.0, "SibSp": 1, "Parch": 0, "Ticket": "237736", "Fare": 30.0708, "Cabin": NaN, "Embarked": "C"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field indicating the main explanation for the survival of each passenger?; The transformation logic: 1. Analyze the key factors that could explain the survival of passengers, such as their age, gender, class, and presence of family members on board.
2. Assign weight or importance to each factor based on historical data or common knowledge about survival rates in similar situations.
3. Use a decision-making process or algorithm to combine these factors and determine the main explanation for the survival of each passenger.
4. Create a new field named "Survival_Reason" to store the main explanation for survival for each passenger.
5. Populate the "Survival_Reason" field with the determined explanation for each passenger based on the analysis of key factors.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 31, "Survived": 0, "Pclass": 1, "Name": "Uruchurtu, Don. Manuel E", "Sex": "male", "Age": 40.0, "SibSp": 0, "Parch": 0, "Ticket": "PC 17601", "Fare": 27.7208, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 32, "Survived": 1, "Pclass": 1, "Name": "Spencer, Mrs. William Augustus (Marie Eugenie)", "Sex": "female", "Age": NaN, "SibSp": 1, "Parch": 0, "Ticket": "PC 17569", "Fare": 146.5208, "Cabin": "B78", "Embarked": "C"}, {"PassengerId": 33, "Survived": 1, "Pclass": 3, "Name": "Glynn, Miss. Mary Agatha", "Sex": "female", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "335677", "Fare": 7.75, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 34, "Survived": 0, "Pclass": 2, "Name": "Wheadon, Mr. Edward H", "Sex": "male", "Age": 66.0, "SibSp": 0, "Parch": 0, "Ticket": "C.A. 24579", "Fare": 10.5, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 35, "Survived": 0, "Pclass": 1, "Name": "Meyer, Mr. Edgar Joseph", "Sex": "male", "Age": 28.0, "SibSp": 1, "Parch": 0, "Ticket": "PC 17604", "Fare": 82.1708, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 36, "Survived": 0, "Pclass": 1, "Name": "Holverson, Mr. Alexander Oskar", "Sex": "male", "Age": 42.0, "SibSp": 1, "Parch": 0, "Ticket": "113789", "Fare": 52.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 37, "Survived": 1, "Pclass": 3, "Name": "Mamee, Mr. Hanna", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "2677", "Fare": 7.2292, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 38, "Survived": 0, "Pclass": 3, "Name": "Cann, Mr. Ernest Charles", "Sex": "male", "Age": 21.0, "SibSp": 0, "Parch": 0, "Ticket": "A./5. 2152", "Fare": 8.05, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 39, "Survived": 0, "Pclass": 3, "Name": "Vander Planke, Miss. Augusta Maria", "Sex": "female", "Age": 18.0, "SibSp": 2, "Parch": 0, "Ticket": "345764", "Fare": 18.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 40, "Survived": 1, "Pclass": 3, "Name": "Nicola-Yarred, Miss. Jamila", "Sex": "female", "Age": 14.0, "SibSp": 1, "Parch": 0, "Ticket": "2651", "Fare": 11.2417, "Cabin": NaN, "Embarked": "C"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field indicating the main explanation for the survival of each passenger?; The transformation logic: 1. Analyze the key factors that could explain the survival of passengers, such as their age, gender, class, and presence of family members on board.
2. Assign weight or importance to each factor based on historical data or common knowledge about survival rates in similar situations.
3. Use a decision-making process or algorithm to combine these factors and determine the main explanation for the survival of each passenger.
4. Create a new field named "Survival_Reason" to store the main explanation for survival for each passenger.
5. Populate the "Survival_Reason" field with the determined explanation for each passenger based on the analysis of key factors.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 41, "Survived": 0, "Pclass": 3, "Name": "Ahlin, Mrs. Johan (Johanna Persdotter Larsson)", "Sex": "female", "Age": 40.0, "SibSp": 1, "Parch": 0, "Ticket": "7546", "Fare": 9.475, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 42, "Survived": 0, "Pclass": 2, "Name": "Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)", "Sex": "female", "Age": 27.0, "SibSp": 1, "Parch": 0, "Ticket": "11668", "Fare": 21.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 43, "Survived": 0, "Pclass": 3, "Name": "Kraeff, Mr. Theodor", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "349253", "Fare": 7.8958, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 44, "Survived": 1, "Pclass": 2, "Name": "Laroche, Miss. Simonne Marie Anne Andree", "Sex": "female", "Age": 3.0, "SibSp": 1, "Parch": 2, "Ticket": "SC/Paris 2123", "Fare": 41.5792, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 45, "Survived": 1, "Pclass": 3, "Name": "Devaney, Miss. Margaret Delia", "Sex": "female", "Age": 19.0, "SibSp": 0, "Parch": 0, "Ticket": "330958", "Fare": 7.8792, "Cabin": NaN, "Embarked": "Q"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.

> Finished chain.

> Finished chain.

> Finished chain.

> Finished chain.

Display the transformed data: 
 The result of the asynchronous transformation is a dictionary with keys corresponding to dataset names and values as lists of dictionaries.

We convert this into a DataFrame for better readability and to leverage DataFrame functionalities for any subsequent analysis.

In [31]:
pd.DataFrame(generated_data['titanic'])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survival_Reason
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Age, Gender"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"Age, Gender, Class, Family"
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"Age, Gender"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"Age, Gender, Class, Family"
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"Age, Gender"
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Gender
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,"Age, Gender"
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,"Age, Gender, Family"
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,"Age, Gender, Family"
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,"Age, Gender, Class, Family"
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Young age and presence of family members
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Higher class and gender
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,None,S,Gender
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,None,S,Presence of family members
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,None,S,Young age
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,None,S,Higher class and gender
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,None,Q,Young age and presence of family members
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,None,S,Gender
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,None,S,Presence of family members
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,None,C,Gender
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,"Low class, male gender"
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,Male gender
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,Female gender
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,Male gender
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,"Low class, female gender, presence of family"
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,"Female gender, presence of family"
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,Unknown
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,"Male gender, presence of family"
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,Unknown
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,Unknown
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,None,C,Middle-aged male in first class
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,Female in first class
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,None,Q,Female in third class
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,None,S,Elderly male in second class
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,None,C,Young male in first class
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,None,S,Middle-aged male in first class
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,None,C,Male survivor in third class
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,None,S,Young male in third class
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,None,S,Female in third class with family members
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,None,C,Female child in third class
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S,Low chance of survival due to being a female i...
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S,Low chance of survival due to being a female i...
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C,Low chance of survival due to being a male in ...
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,High chance of survival due to being a female ...
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q,High chance of survival due to being a female ...